http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-09-07","end_date":"2015-09-08","animal_project_code":"2014_demer","limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0b79d9d7c18fa8
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0b79d9d7c18fa8/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:20:33 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0b79d9d7c18fa8/R/.val
        /ocpu/tmp/x0b79d9d7c18fa8/R/credentials
        /ocpu/tmp/x0b79d9d7c18fa8/R/get_acoustic_detections
        /ocpu/tmp/x0b79d9d7c18fa8/stdout
        /ocpu/tmp/x0b79d9d7c18fa8/source
        /ocpu/tmp/x0b79d9d7c18fa8/console
        /ocpu/tmp/x0b79d9d7c18fa8/info
        /ocpu/tmp/x0b79d9d7c18fa8/files/DESCRIPTION
  recorded_at: 2025-07-24 08:20:33
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0b79d9d7c18fa8/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:20:34 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJytVb9v00AUdhKXkDZtWlVZmNiYEsVumx9bq0qgCglQm0K3k2tf0qO2r707B1oGkBi6MbAx
        gfgDWJm
        QujEwsIAE/BXsoJZ3ts84poASJdLzu/f5y3d3794970xrmlbQ9Cl4gmna1Hb3eq0N
        0SIEVbBZMD13dP
        oF7CvYt5wovoD3cxJf+/zoqRxIb65G/sNp6E8ePpF6eh4eOU3XSlJcHFMf
        w2A+BRa2u+tZnu1anMe8f
        AwW79ze2tixRRxeCkMBo7OYqCuiYbSMVtsYLRzWmFtrdmpGs2HU
        zObK0soE0GH9abNhLCMHe5iNicQn
        A0k7HLbhfWwRN2ABv9p3LZ/wCaCZfRxjzO097Dp4TGRY
        b+bupnmvZpitltEZBzJMs5PNtc5rbes/4wK
        XRa+FRb268Xx5/dP+tQt8t/z+2cuEt3Dr5sm7
        j4U//ebbs8tvfije4+/yIhRf/82PwIu2pWmlc/j9w0
        9aLyw1eZ/TlknzFXkCKDoUBIXabJim
        iYy6zQeTZ4TnrBhLMWPE/UAPuZGyV1ETyp/HOgXVaMSui5yeK
        hSIVBU7lrDqPWZ5ONO/Sow+
        qPuA83iuvMwXTP0z2+gUSU5YjcGygwW2BaE+Io5ShLkwEsRTV2hBWH3E
        MSOWi/zA2016RMWy
        acAFsZFkJAKLcHk94B4weh/EkU2T21iKXyXcCrcJ9gXpgYhcYAxXE+ULRGYYtjE
        ZYPZbpsyF
        Fe4ipVFx8IFLj5ALb0SQ/HtewdTvp3FJF3uI+MiDnDCeKGOfU4YGlhskC4ixwCfqEzEbQe
        YQ
        r6zAFLHKSd+HDAiKfEo4RkwuPBGmAbMx6hFXaRQPbdRzrb6aJ1q9BzmTu4cv0i9XV4fS
  recorded_at: 2025-07-24 08:20:34
recorded_with: VCR-vcr/2.0.0
