http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0b03b7f6722214
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0b03b7f6722214/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:39 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 4
          }
        ]
  recorded_at: 2025-09-10 10:32:39
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0348c6e5529bf2
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0348c6e5529bf2/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:41 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0348c6e5529bf2/R/.val
        /ocpu/tmp/x0348c6e5529bf2/R/credentials
        /ocpu/tmp/x0348c6e5529bf2/R/get_acoustic_detections_page
        /ocpu/tmp/x0348c6e5529bf2/stdout
        /ocpu/tmp/x0348c6e5529bf2/source
        /ocpu/tmp/x0348c6e5529bf2/console
        /ocpu/tmp/x0348c6e5529bf2/info
        /ocpu/tmp/x0348c6e5529bf2/files/DESCRIPTION
  recorded_at: 2025-09-10 10:32:41
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0348c6e5529bf2/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:41 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJytVTFvEzEUdpqUkDZtGrVdmNiYEuWuTdJsqSqBKiRAbQrdLNfnBMPduT37Ai0DSAzdGNiY
        QPwAVia
        kbgwMLCABv4Id1PKcnK+5E0W0yknvnt/n5+/5vfPzbU8hhLIoNwlvEIQmtzrXKytg
        zYOxADIDksuo/K
        vM/tE3kO8gP2B+VuOrX58cPn6GEOjnGtDabg/1pyPNl5uAVwblUEGTU5dI
        CYM5kIkIzN+5vbm+TVVkX
        hqYKr1SHQifRSsNmN3qrIE6juCcIbSsptVcsc5nJjlmVxutitWo
        WRW7UV+qjwFN8k/ZNWsZO8xjwQWR
        6MtANfaSksxjk7thEMqrPZf4XI4BTeVxwJik95nrsAsi
        Sb7puxv2vYpl2XarnoTsZtNq/SeU5MxKOND
        DYQ6G5MwxJKvH7fWXneLHF69BL699eXgtrWO/
        8sb748vvfrXLt24efvicTWvj9/SnboT827N0vF2ECi
        fw/EOPm29whKB/0aikyndFVxYPPwmG
        A9io2fYStqpU9pMeg9obD3uMHufMB+6QNyA3TkVfJZmTiCdrL
        hq142Knaw4JWOZ0OkSRajcg
        HkvdQoVAPKr6gMso1oSuF4T+nb6ujJMOuBCBRYcpRhUXPuaOYYRYDCvu
        mdYoK9LDkgWcuNgP
        vZ2490uEilAqTrH2iAnmoSk98N0NxAMgx1TEXVaIpmLfkqSc+Yp3gURvMIIXY+a
        /kEwHjDLe
        Z8EpTVEqMshihKPksF1X7GMXZlQYr54zsPB7o3hRMl+KAPeJG8aRIiz0ufkXzAwhO+FXNO
        CI
        46LkPR9SVQL7gkuGA73DmFiEAWW4y13Dkd+juOuSnokz3KYHxdFpwi/lD65/eQc=
  recorded_at: 2025-09-10 10:32:41
recorded_with: VCR-vcr/2.0.0
