http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"not_a_station_name","open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x076a779843fc17
      location: http://opencpu.lifewatch.be/ocpu/tmp/x076a779843fc17/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:09 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVF9P2zAQf+dTnCakpVIITTsoRIiJFgYPTEwMjQeEUpMcjdXUjmyXjpdp2sM+QbWnfTo+
        yc5pQp2
        u+0MU1z739/vdne+cAROvDdxzkYI2zHApYsEmCEMhTcxid28IXETgw1sfvnTbWztt
        mMB0WxNZZzP26I
        Pio8zAHRNjH9r0ttvxJU1BDwqFaSnkQ0g7Ibw/hYJpgzlyJeEFDwnAFZuJ
        R6ZSWsdHDyyP+8e0DLowk
        OI+n6JI0No70FdyjIKmwNo9uDAGFXyQMif7HY1TGmc0xhM43v4I
        AyUnM8zzcuek/L2Oj6q570OHXjhi
        Okc2yuBKsYKS6dhkWD5BnjI30iAINvosGRvFEow2yr2n
        H99pEQbwNP/5NP+KFPyUGYyieuURq0WQjoV
        8q2B3TBNkxk12iVQQZXQN69YwO+YVFLxcJixv
        gcM459p4+LlQVKVKw/LfLPngOGsoXAisRLy/C95sCX
        Xbcuwbsm+tm52mm7XBpvK66UyhmSpR
        +liKWrXdptoL015ESTI9V+aPQk5AKzo34fkiu72m0Fqp/89u3
        638skHK8scZE2mOqq5/2Hbr
        v2wVS/PIb24xoYtxj34F11nXSwu/A4JwMTpb8d5d36SfuOZ3OXql+uLQ
        UDxw1bKc545bicLF
        EazqGPgncDdYqSAaoVE9cLpz0QjpG5bIqTY8iVMscvk4QfF8fcJe8FvVXHqUZJi
        MY1uD+mKG
        ey6lJjFNHGMyZqJosY6tUXP2m5xmUtrIwluQTpSSymPGKGoP7cOriR69atlj65SFnjsd8d
        xZ
        w4N7cTj0hgekUUocDi2Bql77mTFDiajNYqozLxGp/bsTOIFUXbWJpf8y3dbGLwprJyY=
  recorded_at: 2026-01-20 09:19:09
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"de-9","open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0df3ec361cb3ec
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0df3ec361cb3ec/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:12 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0df3ec361cb3ec/R/.val
        /ocpu/tmp/x0df3ec361cb3ec/R/credentials
        /ocpu/tmp/x0df3ec361cb3ec/R/get_acoustic_deployments
        /ocpu/tmp/x0df3ec361cb3ec/stdout
        /ocpu/tmp/x0df3ec361cb3ec/source
        /ocpu/tmp/x0df3ec361cb3ec/console
        /ocpu/tmp/x0df3ec361cb3ec/info
        /ocpu/tmp/x0df3ec361cb3ec/files/DESCRIPTION
  recorded_at: 2026-01-20 09:19:12
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0df3ec361cb3ec/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:13 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzFVctu00AUdZv0FfpuAVHRHeoGpUqiltJdAxTUBSr0Ad2NJvYkHWTPWONxorCA/gYLNnwB
        K3ZIFX+
        ARNkhxIY1e6SWO47HsZ2kUKktkZy5c+65vs8Z7+UMw8gY2YE+IzMAojGwu/Mwfxew
        GdgswDMGTz/gbw
        1jcAnkyWCfNUZgvfJsq/Q8Xywt[...]
[...]
