http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":"not_a_logical"}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0d19f6bc21c897
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d19f6bc21c897/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:17 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJx9kE1KBDEQhfc5RS1cpGEM+A/BlW70Am6bmnRNW5hJmiTTOoggLjxB48rT9UmsHhFaRgyE
        InlfXr0
        UpnazplCAM4QoJRRKXaKCS0+AGXxs2aFX6jaAVG8Vr0DHjkIdg99W8KxAVkOdj9vJ
        KcPlIazYi4+e3S
        6kgwmoTYMFDxK52FOq5UB14TVVlXpR6grdQ0noyO5Mx493BUcGxuFzHF6X
        mMla6tHrKUil4HiS3mQPf
        8onv18+crm/FoVDe4Oh8ZSyNsYIeLoP3nFmmYDe+dFTlxZAoeck
        OeHM7LecIwrOzZT+f+ZiYn4oKiFT
        6ll+blsqNbq4yYVdPZvgd9gvlVGeFw==
  recorded_at: 2026-01-20 09:19:16
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"ws1","station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0bfc44c71dff16
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0bfc44c71dff16/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:18 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0bfc44c71dff16/R/.val
        /ocpu/tmp/x0bfc44c71dff16/R/credentials
        /ocpu/tmp/x0bfc44c71dff16/R/get_acoustic_deployments
        /ocpu/tmp/x0bfc44c71dff16/stdout
        /ocpu/tmp/x0bfc44c71dff16/source
        /ocpu/tmp/x0bfc44c71dff16/console
        /ocpu/tmp/x0bfc44c71dff16/info
        /ocpu/tmp/x0bfc44c71dff16/files/DESCRIPTION
  recorded_at: 2026-01-20 09:19:18
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0bfc44c71dff16/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |
        eJztXQt8VMW5P0hIeEUQqxHUdltBgxI4jz17duu9LQECYhFiEolWe5dN9kAWNtm4uyFCLY21
        UrVqqVf
        sSxQVr7ba3laFilCNeO3b1rbyEKtSb4v2SVuVirTQ77yfc2bfuwnj7zf+z3znm2++
        +eabbx6H7Fw+lq
        KokVTVqBHUyFHwSI26rG1+QxBop[...]
[...]
