http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":1437,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0cd6e0dffe0f1f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0cd6e0dffe0f1f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:22 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0cd6e0dffe0f1f/R/.val
        /ocpu/tmp/x0cd6e0dffe0f1f/R/credentials
        /ocpu/tmp/x0cd6e0dffe0f1f/R/get_acoustic_deployments
        /ocpu/tmp/x0cd6e0dffe0f1f/stdout
        /ocpu/tmp/x0cd6e0dffe0f1f/source
        /ocpu/tmp/x0cd6e0dffe0f1f/console
        /ocpu/tmp/x0cd6e0dffe0f1f/info
        /ocpu/tmp/x0cd6e0dffe0f1f/files/DESCRIPTION
  recorded_at: 2026-04-23 16:35:22
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0cd6e0dffe0f1f/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:23 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJy9VM1PFDEUH/ZDBPkGNRK9GW5LgPjFDVA0HBTlQ7k13ba71My0k06HzXpQ/xEv/gWevJkY
        /wMTPRr
        jxbN3E/F1mM4M3d2gycIm3en7vffr+2rf3rDneWWvUoV/WJ5X3d25X7sD0jQIc7BG
        YQ0A/ga+E8m+4g
        3B98LTraVntcWlGwu3FxxVlbKAKQesUFZbdrDR7VX0YA1tbd5bf7i+5RI2
        Hq1tQiBjBlv98rn10cTnV
        UpFT8THUZQSSyk4+Hhze2OP6FQ8l4jaZeoXUjDHZXl35y58/sBK
        vK5svPzxfv/bcibPLO2+u/nhiZVf
        /TIRDb7tIhePHYli1cCE1eqxbGc6zxs6hN/Jctk52+Qx
        YO3+JenSodcrz7S6X5uf8ur29+zTjfv6959
        9j/uk3lrft36v9N/3mff+dM4+yzz+9z0djbTX
        Se/6tnd8HJs1Q0q25gUOWJSSSobUxbBqjcxpc3ZIUh
        b6sh0woRGndvoqRhg/YCqHLmIi40hz
        gkIlnzOiEZGUZSNIY82lQMZDik1bjLKIKB6afaoat6oAC9yEW
        X4ETxyFgijWDGmenTSe4j6Q
        dJw5tea+FM0iPsmFZoIy6hKmcoVDGQmkVFw0kW6HGVaXWssAwg/1vsUU
        j6AoPhPNHLNRF+yu
        1LHWTLURF5Cq76eFgLxSg1lrwKCkAeAUQWRFixlMND/IicWCTEJ7pOmOq5iwCif
        zjOAmPkVl
        S/gS046jck2D+6zY2NkD7POEgFEsNPc7uGNRW5AOdNjsEVW8YZ/gVazQSZUaBhsiRYOrwC
        ap
        FRZRwLW5iSY4e0NzXLYgVxnrMM5c+RK6y4KQKaxjxZC5ghECkUt7xa912OAghNyPGV1KjLiv
        e2uF
        hFvSzcHlgrYXOblGPcmptgv5PJGBecSRM/3KdtzpOjSqYccbSLbAppHzDWUaDAPvL0si
        52k=
  recorded_at: 2026-04-23 16:35:23
recorded_with: VCR-vcr/2.1.0
