http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":1437,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: <<<opencpu_key>>>
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:13 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/<<<opencpu_key>>>/R/.val
        /ocpu/tmp/<<<opencpu_key>>>/R/credentials
        /ocpu/tmp/<<<opencpu_key>>>/R/get_acoustic_deployments
        /ocpu/tmp/<<<opencpu_key>>>/stdout
        /ocpu/tmp/<<<opencpu_key>>>/source
        /ocpu/tmp/<<<opencpu_key>>>/console
        /ocpu/tmp/<<<opencpu_key>>>/info
        /ocpu/tmp/<<<opencpu_key>>>/files/DESCRIPTION
  recorded_at: 2026-08-21 12:42:13
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/<<<opencpu_key>>>/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:13 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJy9VEtvEzEQ3iZpS0vfLSAquKHeUpWKV29toaAeINAH9GY5ayc18torrzdROAB/hAu/gBM3
        JMQ/QII
        jQlw4c0eijLfr3a3TqCCljbSx55sZz4xn/O2Nep5X9ipD8D8IW29wd+d+9Q5IsyAs
        wDcO3wDgb2CdSv
        YVbwTW80+3lp9Vry/fWLq95KgGCQ2ocsAKodUVBxvfXkMP1tFW7d7Gw40t
        12Hz0XoNEpkw2NqXz+2PJ
        j+vUipG8jmOotSxlILDj2vbm3u+TsWhRNSup34hBXVClnd37sLy
        B74k6urmyx/v97+tZPLc8u67mx+e
        WPnVL5PR8Ntj5OKxY1GsGtin1XosO5nO80YO4HeyXHbO
        NnUMWLt/Kbp04PWqM73dr81P+e329+zTzfv
        a9599z/uk3trYt36v9j/2mff+dM4+yzr+9z0d
        UtrrpHd92zsxjnKNwAG1LLVguY/QkMtOQIVGjFhSVd
        SnrEVVDl3AvowjzXwUKvmc+hr5ktCM
        WTTWTApkIqTYrMUIjXzFQrNPVZNWFWCBm0DRh/DUYSqIYE2RZ
        tlJkynOwUnHWVBrzqVoFvFp
        JjQVhBLXYSZXOC5jgZSKiSbSnTDD6lJrGUD6od63mGIRXAqnopljNuuC
        3eU61pqqDmICSuU8
        vQioKzWYtwYUrjQAnCDIrGgxh33NWrlj8UKmoT3SdMdVTFmFU3nm4BY+Q2RbcIl
        J11G5psE4
        LTZ2voU5SxwwioVmvMt3IuoIvwsdNXtEFGvYl3UFK3TSTY2CjS9Fg6nAFqkVFlHAtJlEk5
        yd
        0ByXbahVxjqMs1BcQndpEFKFdawoMiMYIRCZtCN+tcsGByHUfsToYmLEuO6tFRKm5LgAlwra
        Xs7J
        GPV0TrXHOJ/zZWAeceQ8+hEl24v24RumKBmmyNkhY7+ypTtdh442LL2BZDthOr7YUGYS
        gPD+Ag4g52o
        =
  recorded_at: 2026-08-21 12:42:13
recorded_with: VCR-vcr/2.1.0
