http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"C-POD-408","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: <<<opencpu_key>>>
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:51 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/<<<opencpu_key>>>/R/.val
        /ocpu/tmp/<<<opencpu_key>>>/R/credentials
        /ocpu/tmp/<<<opencpu_key>>>/R/get_acoustic_deployments
        /ocpu/tmp/<<<opencpu_key>>>/stdout
        /ocpu/tmp/<<<opencpu_key>>>/source
        /ocpu/tmp/<<<opencpu_key>>>/console
        /ocpu/tmp/<<<opencpu_key>>>/info
        /ocpu/tmp/<<<opencpu_key>>>/files/DESCRIPTION
  recorded_at: 2026-08-21 12:42:51
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/<<<opencpu_key>>>/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:51 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzlVN9vEzEMvrXdYGXduo0fYoLXvbFn3pGQeAKJTdpblCZuCUriU87XqfzxgNMmvePaCoa0
        B8RJdzl
        /9hfbsZ3bYVEU/WJwwN99/i32b67fv3nL0jkLl/yOitUz/rO1f7xaBz3+7BWD4jBu
        qqysqmTUS+CjTx
        8/f7hVlMSDpUhdJn1DD4mZwf7N9TtevvObvO1c7xHt3o97BNjLxpsx/c97
        ds//QXz8Y7V7yHh39vfoL
        9dxE2Mzg146yNN7mcCRhtLiwoEnYXQCnwRQYOYQGuiZVFhXZJQo
        A34FRUKhhqQ8qkiSQS+ih4SdZ0xD
        pYIp439SnWSVk17OICR4vApFaEkgyKx3Okm4ZRLVa6fZ
        3KKftfFT4wm8Bt0lnDWKDuXIIQbjZ4IW5Rq
        bIBE6Dr+kLxkLpuJDseBnDZajbtm9nEgiCAth
        PKdqbToIzisZXGQD4CN1jGvBkbUtnkpFZt4Q2wdyyu
        XBWJ2uYpwVnczXhG7iZxrvvEWpN7Zq
        NFNjoV3Yi7m0ZkmQovZk7Ab3uFp4tYEO47/QwUzzdLySQfzup
        IZso9BPTXA5SQrSV85Q7MQY
        XO7QBsc7zhVrKuu1K4tcXXAlBEl1ABFbsBIsGswt/nrDRrqSc//F6PnS
        yFjarfXIXbLNwYuW
        dhd52UY7yUm7hfxYoYtDXHWG/jDg3VUe/NGWm6ufryqacCWn+WpiKVcgVvpqGmI
        H8GX1E7qu
        hOY=
  recorded_at: 2026-08-21 12:42:51
recorded_with: VCR-vcr/2.1.0
