http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"not_a_station_name","open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x07a261b8849c01
      location: http://opencpu.lifewatch.be/ocpu/tmp/x07a261b8849c01/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:54 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVT7FOw0AM3fmKt7Ec17RVVYkFJSmUBYGgEuPVJW5zyuUuulyJuvDtOBFDVyw/P78n2bJL
        8rcJR+s
        r9ImSDd54ahl7H5Ihc+3tYf09FB4UfpbZ3SpDi/Osl+G+HuiiEO2pTjiQbxQyySwz
        70J6jS5yNS1SmI
        szx8sWHfWJHdsY8I+QBdjR4C8UK+lN/k3OFBtp9RJl8Ed3Zv/Fo16hiKFh
        L6RHvcZrShzxFoIT/STYC
        p4FTYvN7ANlDO3Azk3O41Q/Tf7HhcJCEjn1julUYxepk2cW4zPk
        WrYVXV+qtb75BQgiX80=
  recorded_at: 2026-04-23 16:35:54
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"de-9","open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0cb4b8948f14ed
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0cb4b8948f14ed/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:58 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0cb4b8948f14ed/R/.val
        /ocpu/tmp/x0cb4b8948f14ed/R/credentials
        /ocpu/tmp/x0cb4b8948f14ed/R/get_acoustic_deployments
        /ocpu/tmp/x0cb4b8948f14ed/stdout
        /ocpu/tmp/x0cb4b8948f14ed/source
        /ocpu/tmp/x0cb4b8948f14ed/console
        /ocpu/tmp/x0cb4b8948f14ed/info
        /ocpu/tmp/x0cb4b8948f14ed/files/DESCRIPTION
  recorded_at: 2026-04-23 16:35:58
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0cb4b8948f14ed/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:36:00 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzFVc1v0zAUz9buk31vgJjYDe2COrXVxthtHQy0Awz2AbtZbuJ2RokdOU6rcoD9Gxy48Bdw
        4oY08R8
        gMW4IceHMHWnjOY3TJG0Hk7YRybHf771nvy8/7w0bhpExsn3wh2EYfbs7D3J3gZoG
        Yh7GKIxewN8aRv
        8irCcCOmsMwXzl2Vbxea5QXMwv[...]
[...]
