http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"C-POD-408","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0fb74489b403d8
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0fb74489b403d8/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:40 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0fb74489b403d8/R/.val
        /ocpu/tmp/x0fb74489b403d8/R/credentials
        /ocpu/tmp/x0fb74489b403d8/R/get_acoustic_deployments
        /ocpu/tmp/x0fb74489b403d8/stdout
        /ocpu/tmp/x0fb74489b403d8/source
        /ocpu/tmp/x0fb74489b403d8/console
        /ocpu/tmp/x0fb74489b403d8/info
        /ocpu/tmp/x0fb74489b403d8/files/DESCRIPTION
  recorded_at: 2025-09-22 13:15:40
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0fb74489b403d8/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:41 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |
        eJzlU01PGzEQXZLQlpRAgH6oqL1yK+feKyFxaqWCxM1ybG/qyvasvLOJwo+nHSf27rJhVVqJ
        Q9WVvPa
        898YzY49vxlmWDbPRLv1pZNnu9dXFx09knZBxRmOSbb7p4+bhwWYeDei3k42yvbAp
        3oJTUZTA4fXV56
        5OGF6WUTeI4POvX75d3giM5rO1ibS6oxGj9c5/kO3Oz94EB4l6TE7/857d
        83+SGP/Y3T1lvr39PfnLe
        drkWCcyTJFxZpjMU8ZkxeVYcuTnuedWdR70nofluSO8bGLcf/GJ
        DIHOIjiRqjCwssoh0zKCL70SSi+U
        b6DXXEBVohas8PBDCWQCpIrkfokcNTgWIkTsJGFSlcLr
        IqwjdZgoyx2fKx/h6SYVRhUqhrre6TDihpy
        wqoMmuQE3b+NH2qFyUsmuw3FDdFz2LYDXbs5w
        VdTYDBDBUvoFfk+Y1yUdilFu3mAp65bu3YwjKr9i2l
        GpxsSDoLqi4DQJFB2pJVwyyqyteMUF
        6kXj2D6QI7oeCLfTJaaJ6FReO3QLP5awdAa43NqqYXJtVPtiT
        xfc6LUDZ5VDbbZ8D8qVE1vo
        OKyZ9DpPz+s99+x3JzUmjQCXa29Tkei5K63G0IkhudShDQ5LqhUqLKo6
        lAG6XWUL5TlWXrHQ
        giUjU0Nq8Q9bGm4Lqv2e6M1apA32sw6oSx4K8LbF9jmv26jXObIPOL8QYMMjDu/
        77hd75YTm
  recorded_at: 2025-09-22 13:15:41
recorded_with: VCR-vcr/2.0.0
