http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"not_a_receiver_id","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0959097a8a9579
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0959097a8a9579/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-29 08:45:53 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVN1u2jAUvucprKrSEolEBEiBqKoEFKnTqhUxtGlCVeImLrGaOsg2tLubdrEnQLva0/Ek
        O04IOIG
        yLVIU2+f78fE5zhCzdxI9UhYhTkJCV4T7NEIBS6WPfW0pQJR5qH89nVqtev5tw/fT
        cPRxavUnltttNJ
        qtgxX3YKVTWXEavToa9KfT0eQrGveHHyzHdQ5W9hiYgM0ABG7eD9H47toa
        ECZjGqJxGlnd7vHYAmI95
        +2Y47RPBd1TwaqlGtu2XRvg8ElyHBKvhtSz+fUTBo6NNuvfm/V3
        ssLJEkviecXIAJYJkKaC/NjCHrAA
        yAuV8YQIibkUBaxVwNS73kKRkaQhTkykMW6pkAZ5XfA6
        FDnXUPz2no80s5LCHSNbEeO04Mxi/N7U5jO
        Y3ysbt2xzdLNR+qVsxolccpZ57EWV2kVZ7T/T
        zncJMh1d5k0hbUMVnZlzm2fXLQsdlfr37Hp65fcNkp
        XfjzGLEsKL+jsNvf77VlE0A3wThXF0
        jH70FVzzWC/lvkOAUDa/qbi3jjfpZyroQ0KMTD0/NMJWlJuKs
        +u4yi50HMC2HYP+CrywKxUk
        kgnCVxTunDcn8AsL06WQNPQjskjSb89wb3cJdOyDqul0L4xJ+OSrGhQX
        0+nqlIKEBXCkjLH0
        vHzsq0nB6ZU55aSETBdGThpxnnIDS8mhPUQdnT2L+Zmpjq2ZFXqtdcSus4LLR3Y
        VGMElaGQS
        V4EiQNULnxcsIRF+vliK2AhZpMJNW9vItqvOSeafpWvW/gB5dCeH
  recorded_at: 2025-09-29 08:45:53
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"VR2W-124070","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e94500efaaf3a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e94500efaaf3a/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-29 08:45:56 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0e94500efaaf3a/R/.val
        /ocpu/tmp/x0e94500efaaf3a/R/credentials
        /ocpu/tmp/x0e94500efaaf3a/R/get_acoustic_deployments
        /ocpu/tmp/x0e94500efaaf3a/stdout
        /ocpu/tmp/x0e94500efaaf3a/source
        /ocpu/tmp/x0e94500efaaf3a/console
        /ocpu/tmp/x0e94500efaaf3a/info
        /ocpu/tmp/x0e94500efaaf3a/files/DESCRIPTION
  recorded_at: 2025-09-29 08:45:56
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0e94500efaaf3a/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-29 08:45:56 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzlV01oE0EU3jb9t79aFcVeRLxISja01t5atYpoqfZH62mY7k7SKbszYXbSEg9avIs3QUUQ
        j548eVP
        Eu7SC7UEQ60Xw5rEgVN9udjbpbtKmtULUwOTNvPe933mzuzPdomlaTKurr9Fi9TDV
        6qcmL8TPAO8ALE
        7CaIPRBPwnmtbQp2mN+2C0wgB+[...]
[...]
