http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":1437,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x028d39d6699c65
      location: http://opencpu.lifewatch.be/ocpu/tmp/x028d39d6699c65/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:18:46 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x028d39d6699c65/R/.val
        /ocpu/tmp/x028d39d6699c65/R/credentials
        /ocpu/tmp/x028d39d6699c65/R/get_acoustic_deployments
        /ocpu/tmp/x028d39d6699c65/stdout
        /ocpu/tmp/x028d39d6699c65/source
        /ocpu/tmp/x028d39d6699c65/console
        /ocpu/tmp/x028d39d6699c65/info
        /ocpu/tmp/x028d39d6699c65/files/DESCRIPTION
  recorded_at: 2026-01-20 09:18:45
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x028d39d6699c65/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:18:46 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJy9VTtvFDEQ3nsRciTkCYgIOpTuoiTilS4BAkqBAnlAOsu39l2MvPbK683pKIA/QsMvoKJD
        QvwDJCg
        RoqGmR0oYb9a7G19OAemSk6yd+WbGM9+M7dupe55X8aq1klepgejVtrceNu4CNgXK
        LKxRWCXA38J3PJ
        Gr3jB8LzzbWHzeWFi8OX9n3jHVCA2ocsAqoY0lBxvdXEGP7qGN9Qerj1c3
        HGNpAaq4aISVr186n0xxX
        rVcTKNfSkGdqMr21n3Xz+c4ilK/cgoOPVnfXNvxdaqeS1QN0j6s
        JOvy2qufH3a/L2X69OL2+1sfn1r9
        9W9T0dC7Y/RiQSNRrFrYp41mLLuZzfOGD+B3sl5x9jbM
        SgdeP9Jla/oXnml3v7U/590d7N6nW/eNH78
        GXvdJs7W5b/9ZHnzuM5/96ex9ljz+9z4dvmdv
        ktkNTHZyHCFRsVXrJkekZdmClop1gjWeaykcUOfhGl
        ayMycAj9J8ZZMvz5G/cNbJJJy1jyuh
        IZfdgAqNGLGvtqI+ZXtU5dAl7Ms40sxHoZIvqK+RLwnNXi+NN
        ZMCmQwpNmUxQiNfsdDIqWnM
        mgIscBv+Aw7h8cNSEDClSLNsp7EU5xCk4yypdedStIv4BBOaCkKJGzCZ
        G5yQkUBKxUQb6W6Y
        YU2ptQyg/FDvWkyxCJrCqWjnmK264He1ibWmqouYAKqcp40AXqnDjHWg0NIAcIK
        gsqLHNPY1
        28sDiw2ZgPFIMx3XMG4NDvMswCU+SWRHcIlJz1a5pcU4LQ52Zg9zlgRgFAvNeE/sxagr/B
        60
        bmREFGvZK3oNK3RSp+rg40vRYiqwJLXCIgqYNifRFGdPaI7LDnCVsQ7jLBWXMF0ahFRhHSuK
        zBGM
        EKhM2iN+vccHByFwP+J0OXFiXPe3Cgmn5LgEVwrWfsHJMeobnFqPCT7vy8BcYnO/9/8C
        x2/mcQ==
  recorded_at: 2026-01-20 09:18:46
recorded_with: VCR-vcr/2.0.0
