http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":"not_a_logical"}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0e4e53b803dfc1
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e4e53b803dfc1/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:14:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJx9kE1KBDEQhfc5RS1cpGEM+A/BlW70Am6bmnRNW5hJmiTTOoggLjxB48rT9UmsHhFaRgyE
        InlfXr0
        UpnazplCAM4QoJRRKXaKCS0+AGXxs2aFX6jaAVG8Vr0DHjkIdg99W8KxAVkOdj9vJ
        KcPlIazYi4+e3S
        6kgwmoTYMFDxK52FOq5UB14TVVlXpR6grdQ0noyO5Mx493BUcGxuFzHF6X
        mMla6tHrKUil4HiS3mQPf
        8onv18+crm/FoVDe4Oh8ZSyNsYIeLoP3nFmmYDe+dFTlxZAoeck
        OeHM7LecIwrOzZT+f+ZiYn4oKiFT
        6ll+blsqNbq4yYVdPZvgd9gvlVGeFw==
  recorded_at: 2025-09-23 14:14:19
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"ws1","station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x01d44f6532e1f6
      location: http://opencpu.lifewatch.be/ocpu/tmp/x01d44f6532e1f6/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:14:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x01d44f6532e1f6/R/.val
        /ocpu/tmp/x01d44f6532e1f6/R/credentials
        /ocpu/tmp/x01d44f6532e1f6/R/get_acoustic_deployments
        /ocpu/tmp/x01d44f6532e1f6/stdout
        /ocpu/tmp/x01d44f6532e1f6/source
        /ocpu/tmp/x01d44f6532e1f6/console
        /ocpu/tmp/x01d44f6532e1f6/info
        /ocpu/tmp/x01d44f6532e1f6/files/DESCRIPTION
  recorded_at: 2025-09-23 14:14:20
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x01d44f6532e1f6/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:14:21 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXQt4VNW1PkhICEkMYjWC0k4ralAC5zFnzky9tyWQoFgETCLRau8wyZyQgclMnJkkQlsa
        a6Vq1VK
        v2JcPVLzaantbFSpCNeK1b1vbykNaldoW7ZO2Klekxa7zfp8970fYft/2P3udtdde
        e+21134cMvuyKQ
        RBTCSqJsH/IRHEpEu7FrX4IXcy[...]
[...]
