http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":"not_a_logical"}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0401256b29c44f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0401256b29c44f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:36:06 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJxNjUEOwjAMBO9+hQ8cEgn6AMQHeEVkWreK5NpRYpAqxN8xN/Yy2j3MUt+eO6tjHagWUOfe
        Ojs9hJE
        Gim11JgG4KwblCnXFZI21mMqR8Q0YWbiJHT/TwNsF1yrhSX/rOR4mpTQt5HTqPNuL
        e4nCxevOOcMH4A
        v/ZzE6
  recorded_at: 2026-04-23 16:36:06
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"ws1","station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0682f8bbdf4e14
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0682f8bbdf4e14/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:36:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0682f8bbdf4e14/R/.val
        /ocpu/tmp/x0682f8bbdf4e14/R/credentials
        /ocpu/tmp/x0682f8bbdf4e14/R/get_acoustic_deployments
        /ocpu/tmp/x0682f8bbdf4e14/stdout
        /ocpu/tmp/x0682f8bbdf4e14/source
        /ocpu/tmp/x0682f8bbdf4e14/console
        /ocpu/tmp/x0682f8bbdf4e14/info
        /ocpu/tmp/x0682f8bbdf4e14/files/DESCRIPTION
  recorded_at: 2026-04-23 16:36:08
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0682f8bbdf4e14/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:36:09 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXQmcFMW5b2TZ5VpBjK6gJpOICspCH9PTM/G9hAUWxCDg7sp65Q2zOw07MLuzzsyyQgxZ
        YyRqPIh
        PzCWKiE8TTV6iQkSIrvjMbWISOcSoxJegOUmiEtEE8vXd093VNUfPtZS/X/nv+vqr
        r7766quvjmanLh
        tNUdRwqmYE/B8SRY24tG1uYxBy[...]
[...]
