http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"not_a_station_name","open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: <<<opencpu_key>>>
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:33 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVjjFPwzAQhXd+xdtYQuq2VJVYUJOKwoBAlN01zZVEce4q223Uhd/OuRMrlp/e3bvzJ9eO
        bxMOHTe
        IyaVO2LIbCDuWZJ39m+3Q8QMKPBb4mZu7hcGA0yTq49iO7lIgdN9twpfjvoDRa4z9
        UCuXOAZqrqACU0
        2meN3g6GIiT10Q/OMoAJ9u5IsLjdZ2Zmb32Vdn5221znBbyb4VnyjYlbsG
        LzGS160S20Rn4jgSBf2p5
        DoFkSHm6Ry18MGfiPeU+wWqID2xWpn7Jd6SUvEukmlPqo3qWdUP
        WE+2qIMMI/k87cuyvPkFQ7xkVA==
  recorded_at: 2026-08-21 12:42:33
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"de-9","open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: <<<opencpu_key>>>
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:36 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/<<<opencpu_key>>>/R/.val
        /ocpu/tmp/<<<opencpu_key>>>/R/credentials
        /ocpu/tmp/<<<opencpu_key>>>/R/get_acoustic_deployments
        /ocpu/tmp/<<<opencpu_key>>>/stdout
        /ocpu/tmp/<<<opencpu_key>>>/source
        /ocpu/tmp/<<<opencpu_key>>>/console
        /ocpu/tmp/<<<opencpu_key>>>/info
        /ocpu/tmp/<<<opencpu_key>>>/files/DESCRIPTION
  recorded_at: 2026-08-21 12:42:36
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/<<<opencpu_key>>>/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:37 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzFVUtv00AQdpv0Sd8tICp6Q72gVEnUUnprCgX1AIU+oLfVxt6ki+xda71OFA7Qv8GBC7+A
        Ezekin+
        ARLkhxIUzd6SWWcfr2E5SqNQWS/bufDPjnffuDRuGkTGy/fDtg63Rt7vzIHcXqGkg
        5uEdhbcX8LeG0b
        8I+4mAzhpDsF55tlV8nisUF/PL[...]
[...]
