http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":"not_a_logical"}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0a0c162a471e94
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:21:12 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJxNjUEOwjAMBO9+hQ8cEgn6AMQHeEVkWreK5NpRYpAqxN8xN/Yy2j3MUt+eO6tjHagWUOfe
        Ojs9hJE
        Gim11JgG4KwblCnXFZI21mMqR8Q0YWbiJHT/TwNsF1yrhSX/rOR4mpTQt5HTqPNuL
        e4nCxevOOcMH4A
        v/ZzE6
  recorded_at: 2026-08-21 10:21:12
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"ws1","station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0597f573b1dfb9
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:21:13 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/<<<opencpu_key>>>/R/.val
        /ocpu/tmp/<<<opencpu_key>>>/R/credentials
        /ocpu/tmp/<<<opencpu_key>>>/R/get_acoustic_deployments
        /ocpu/tmp/<<<opencpu_key>>>/stdout
        /ocpu/tmp/<<<opencpu_key>>>/source
        /ocpu/tmp/<<<opencpu_key>>>/console
        /ocpu/tmp/<<<opencpu_key>>>/info
        /ocpu/tmp/<<<opencpu_key>>>/files/DESCRIPTION
  recorded_at: 2026-08-21 10:21:14
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/<<<opencpu_key>>>/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:21:14 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXQl8VNW5v0hI2CKI1YhLO62ooATuMnfuTH2vTRBELAImkbj1DZPMhQxMMnFmkgjP2lgK
        FetCfWI
        3UUSs1qWvVUERqhG1m7W1rSziRn0t2pW2LhVp4X13X889M8mdJeH4+x3/95z7ne98
        51vOdsmcS0dTFD
        WcqqiE/4+AR2rEJU3n14Yhdzxk[...]
[...]
