http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"not_a_receiver_id","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0ec31e0ef3bb7f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ec31e0ef3bb7f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:27 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJxzTsxTL1FIy8xLUShKTU7NLEstis9MUUjIyy+JT4xHEkpQyMyzUnB0CQnRNdaB0CZAOtjZ
        1S9E1zF
        I19TCwMDIGEPEFEPEHE3E0MBSR8HJMSTENShSIcDR2VvX0NQQQwShBsgBWuMENMDD
        01khwN9F1yk1ry
        QjM1khID9F18ICu1wBUM7SELecoaEJPklTfJLoVoLYenp6XACsMmAu
  recorded_at: 2026-04-23 16:35:27
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"VR2W-124070","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0377fe06f2355b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0377fe06f2355b/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:31 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0377fe06f2355b/R/.val
        /ocpu/tmp/x0377fe06f2355b/R/credentials
        /ocpu/tmp/x0377fe06f2355b/R/get_acoustic_deployments
        /ocpu/tmp/x0377fe06f2355b/stdout
        /ocpu/tmp/x0377fe06f2355b/source
        /ocpu/tmp/x0377fe06f2355b/console
        /ocpu/tmp/x0377fe06f2355b/info
        /ocpu/tmp/x0377fe06f2355b/files/DESCRIPTION
  recorded_at: 2026-04-23 16:35:31
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0377fe06f2355b/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:32 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzlF0toE0F0bfq3//pBsReRXiQlCf3eWr8UrdV+/JyG6e4knbI7E2YnLfGgxbt4E1QE8ejJ
        U2+KeJd
        WsD0IYr0I3jwWhOrbzc4m2SRt+oOoC7Nv5n3mfed3u1HTtJBWXQN/aJpWMz11KTwI
        o04YdENrhlYP+O
        eaVturaXWHoTVBA3xdC7RWTWtY[...]
[...]
