http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"not_a_station_name","open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0c6620c52e7117
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0c6620c52e7117/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-29 08:46:09 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVFFP2zAQfudXnBDSUimEpgUKEWKCjsEDExND4wGh1CRHYzWxK9ul42Wa9rBfUO1pv45f
        snOaUKc
        r24ji2ud+33d3vnP6TLwxcM9FCtoww6WIBSsQBkKamMXu3gC4iMCHtz587bY3d9pQ
        wGRLE1lnU/bog+
        LDzMAdEyMf2vS22/ElTUEPxgrTUsiHkHZC+HAKY6YN5siVhFc8JABXbCoe
        mUppHXShL8V9PkGRoLV34
        FjJEQqaAmv34MIYVPBRypzs9zROaZzRGBXwbusT9JUsppjn5c5J
        +XsdH1XzsQ8deuGI6RzZMIMrxcaU
        QcdmwPICecpeiDQIgrVjloyMYglGa+Xe088ftAgDeJr9
        epp9wweWT5jBKKpXHrFaBOlYyPcKdsc0Qab
        cZJdIBVFG17BuDbNjVkHBy2XC8hY4jHOujYdf
        xoqqVGlY/vaCD46zhsKFwErE+7vgzaZQty3HviH71r
        rZabpZGWwqr5vOFJqJEqWPhahV222q
        vTLteZQk03NlXhRyAlrSuQnP59ntNYVWSv1/dvtu5RcNUpY/z
        phIc1R1/cO2W/9Fq1iaR35z
        iwldjHv0S7jOql6a++0ThIvh2ZL37uom/cw1v8vRK9Xnh4bigauW5Tx3
        3FIULo5gVcfAP4G7
        wVIF0QiN6oHTnYuGSN+wRE604Umc4jiXjwWK5+sT9oI/qubSoyTDZBTbGtQXM9x
        zKTWJaeIY
        kzETRfN1bI2as9/kNJPSRo69OelEKak8Zoyi9tA+rBd6uN6yx9YpCz1zOuK5swYH9+Jw4A
        0O
        SKOUOBxYAlW99jNlhhJRG+OJzrxEpPbvTuAEUnXVBpb+y3Rba78B2e0lQQ==
  recorded_at: 2025-09-29 08:46:09
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":null,"station_name":"de-9","open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d23e3e1ba558f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d23e3e1ba558f/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-29 08:46:12 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0d23e3e1ba558f/R/.val
        /ocpu/tmp/x0d23e3e1ba558f/R/credentials
        /ocpu/tmp/x0d23e3e1ba558f/R/get_acoustic_deployments
        /ocpu/tmp/x0d23e3e1ba558f/stdout
        /ocpu/tmp/x0d23e3e1ba558f/source
        /ocpu/tmp/x0d23e3e1ba558f/console
        /ocpu/tmp/x0d23e3e1ba558f/info
        /ocpu/tmp/x0d23e3e1ba558f/files/DESCRIPTION
  recorded_at: 2025-09-29 08:46:12
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d23e3e1ba558f/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-29 08:46:12 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzFVctu00AUdZv0FfpuAVHRHeoGpUqiltJdAxTUBSr0Ad2NJvYkHWTPWONxorCA/gYLNnwB
        K3ZIFX+
        ARNkhxIY1e6SWO47HsZ2kUKktkZy5c+65vs8Z7+UMw8gY2YE+IzMAojGwu/Mwfxew
        GdgswDMGTz/gbw
        1jcAnkyWCfNUZgvfJsq/Q8Xywt[...]
[...]
