http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"C-POD-408","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0fa280d5829251
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0fa280d5829251/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:36:27 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0fa280d5829251/R/.val
        /ocpu/tmp/x0fa280d5829251/R/credentials
        /ocpu/tmp/x0fa280d5829251/R/get_acoustic_deployments
        /ocpu/tmp/x0fa280d5829251/stdout
        /ocpu/tmp/x0fa280d5829251/source
        /ocpu/tmp/x0fa280d5829251/console
        /ocpu/tmp/x0fa280d5829251/info
        /ocpu/tmp/x0fa280d5829251/files/DESCRIPTION
  recorded_at: 2026-04-23 16:36:27
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0fa280d5829251/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:36:28 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |
        eJzlVEtvEzEQ3iYp0NC0actDVHDtjZ65IyFxAolW6s1ybCcY2Z6VPZso/HhgnNi7291GUKQe
        ECvteue
        b+TxP+2ZcFMWwGO3Tl96i2L+++vD2HUlnJFzQOym2z/TP1uHRdh0N6LNXjIqDuKkw
        PIRkNEjg48+fvn
        y8EZjERxsRu0z8Dk4lZgaH11fvaflBb/K2c71HtHs/7xHgIBv3Y/qf9+zW
        /0F8/GO9e8h4d8735C/Xa
        RNj7e7Aw+rScatCY3j7kGZlZF8kcCJVaWBtlUOmZQKfeiWUXirf
        QM+5gCqgFqz08E0JZAKkSsrDgBw1
        OBY9JOwsY1IF4XUZ/5PqOKssd3yhfIKn21CY5KgY6nqn
        44QbImFVO83mBtyijZ9oh8pJJbuE00bRoRx
        aAK/dguG6rLEZIIKl8Ev8mjGvAxXFKLdosBx1
        y+7VjCMqv2baUarGpEJQXsngPBsoKqklXDKKrG3xjA
        vUy4bYLsgJtQdid7qKaVZ0Mq8J3cRP
        JaycAS57WzWauTaq3djzJTd6Q+CscqhNj3sU1k700HH8Z9Lre
        T4+r7lnv6vUmGwEuLn2NieJ
        nrtgNcZJjMHlCW1wWFGuUGFZ1a4MUHeVLZXnWHnF4ggGRqKGPOJvejbc
        lpT7LaMXGyNtcLfW
        AU3JXQ5etrS7yJsx2klO2jvITwTYeIhD5+Ya5qsKZ9Soeb6aSMoFjo28nPvYYLq
        sfgE/g4Tl
  recorded_at: 2026-04-23 16:36:28
recorded_with: VCR-vcr/2.1.0
