http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"not_a_receiver_id","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: <<<opencpu_key>>>
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:17 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJxzTsxTL1FIy8xLUShKTU7NLEstis9MUUjIyy+JT4xHEkpQyMyzUnB0CQnRNdaB0CZAOtjZ
        1S9E1zF
        I19TCwMDIGEPEFEPEHE3E0MBSR8HJMSTENShSIcDR2VvX0NQQQwShBsgBWuMENMDD
        01khwN9F1yk1ry
        QjM1khID9F18ICu1wBUM7SELecoaEJPklTfJLoVoLYenp6XACsMmAu
  recorded_at: 2026-08-21 12:42:17
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"VR2W-124070","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: <<<opencpu_key>>>
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:19 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/<<<opencpu_key>>>/R/.val
        /ocpu/tmp/<<<opencpu_key>>>/R/credentials
        /ocpu/tmp/<<<opencpu_key>>>/R/get_acoustic_deployments
        /ocpu/tmp/<<<opencpu_key>>>/stdout
        /ocpu/tmp/<<<opencpu_key>>>/source
        /ocpu/tmp/<<<opencpu_key>>>/console
        /ocpu/tmp/<<<opencpu_key>>>/info
        /ocpu/tmp/<<<opencpu_key>>>/files/DESCRIPTION
  recorded_at: 2026-08-21 12:42:19
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/<<<opencpu_key>>>/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 12:42:20 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzlF0toE0F0bfq39ucPi15EvEhKElprb61fitZqtdqehunuJJ2yOxNmJy3xoMW7eBNUBPHo
        yVNvini
        XVtAeBFEvgjePglB9u9nZJLtJm6QtRA1M3sz7zPvOm9npdk3TIlpjM/w3wVRrmrp+
        PnoKVnthcRzGHh
        itgH+iac0DmtayG0YHDMC3dMLo[...]
[...]
