http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"2014_demer","limit":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d20e32d8ac3d7
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d20e32d8ac3d7/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:19:34 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0d20e32d8ac3d7/R/.val
        /ocpu/tmp/x0d20e32d8ac3d7/R/credentials
        /ocpu/tmp/x0d20e32d8ac3d7/R/get_acoustic_detections
        /ocpu/tmp/x0d20e32d8ac3d7/stdout
        /ocpu/tmp/x0d20e32d8ac3d7/source
        /ocpu/tmp/x0d20e32d8ac3d7/console
        /ocpu/tmp/x0d20e32d8ac3d7/info
        /ocpu/tmp/x0d20e32d8ac3d7/files/DESCRIPTION
  recorded_at: 2025-07-24 08:19:34
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d20e32d8ac3d7/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:19:35 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnHlMFFccx+cBi+IFKnjUox71qoGyy/0idRFBQFFOtdZksuwOsM0euoe0FTlsjW2KjdZ4
        oPYPG9s
        /NLbFGKQHBo9qm7bBKiYCWykmapo2hqpp07SR/nZ+s8tpS1WC6I/k7We+39/v/d57
        M8zsbGBn9TBBEH
        wFPxW8QhMEVW5OcmgsqLEgQqCNhGZgy/ZsY5lJbSypajpbpPqJ8TEGxiev
        ZjxhA+NJ+xmPjWd86gGW5
        RPFeFQcS7mcwlKqbzI+ZR9L2psBsQ8Zn58OfiXjkyS2pvQY42EL
        oc4FlnUogfGF8xkfu5txbQjjz7v7
        rWQ8cifjc+NYoraF8QU1jIcHg7edcfUKxsfvYEufbWR8
        OtSbFsh4Wh3j0RLUaWB83F7GNX8xHjgG+vw
        Bc8[...]
