http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":1437,"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a06b587081be2
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a06b587081be2/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0a06b587081be2/R/.val
        /ocpu/tmp/x0a06b587081be2/R/credentials
        /ocpu/tmp/x0a06b587081be2/R/get_acoustic_deployments
        /ocpu/tmp/x0a06b587081be2/stdout
        /ocpu/tmp/x0a06b587081be2/source
        /ocpu/tmp/x0a06b587081be2/console
        /ocpu/tmp/x0a06b587081be2/info
        /ocpu/tmp/x0a06b587081be2/files/DESCRIPTION
  recorded_at: 2025-09-22 13:15:03
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0a06b587081be2/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:03 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJy9VUtvEzEQ3iYppaHvFhAV3FBvqdqIV28tUFAPqNAH9GY5ayd15bVXXm+jcAD+CBd+ASdu
        SIh/gAR
        HhLhw5o7UMt6ud7dOo4KUNpKTmW9mPPPN2M5O1fO8slcZhG9Ynje4vfWodg+0aVDm
        YI3CGgD8LfxOJH
        LFG4bfS8836i9qi/VbC3cXHNMgoQFVDlghtLbkYKObK+jxfbSx/nD1yeqG
        YxxYhCrGjLDy9Uv7kynOq
        5SKafRLKagTVd7eeuD6+RxHUepXSsGhp+ubazu+TtULiapBOoCV
        ZF1ee/Xzw+73pUyfqW+/v/3xmdVf
        /zYVDb07QS8WNBLFqol9WmvEspPZPG/4ED6n62Vnb8Ns
        4NDrRbpkTf/CM+3ut9bnvLv93fts677541f
        f6z5ttjb3nT/L/c997rM/m73Pk8f/3qej9+xN
        Mru+yU6OYyTKtmrd4Ig0LVvQUrFKsMbzTYUD6jxcw0
        q25wXgUZqvZPLlOfIXzjqZhHP2cSU0
        5LITUKERI/bVVtSnbJ+qHLqMfRlHmvkoVHKP+hr5ktDs9dJYM
        ymQyZBi0xYjNPIVC42cmsat
        KcACt+A/4AieOCoFAVOKNMt2Gk9xDkE6zpJady5Fq4hPMqGpIJS4AVO5
        wQkZCaRUTLSQ7oQZ
        1pBaywDKD/WuxRSLoCmcilaO2aoLftcaWGuqOogJoMp52gjglTrMWgcKLQ0AJwg
        qK3rMYF+z
        /Tyw2JBJGI8003ENE9bgMM8CXOJTRLYFl5h0bZVbmozT4mBn9zFnSQBGsdCMd8WORR3hd6
        FV
        IyOiWNNe0etYodM6VQUfX4omU4ElqRUWUcC0OYmmOHtCc1y2gauMdRhnqbiE6dIgpArrWFFk
        jmCE
        QGXSHvEbXT44CIH7MacriRPjurdVSDglJyW4WrD2Ck6OUc/g1HpC8EVfBuYSm/t98Be9
        yOZw
  recorded_at: 2025-09-22 13:15:03
recorded_with: VCR-vcr/2.0.0
