http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"C-POD-408","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0dac728e075554
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0dac728e075554/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:28 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0dac728e075554/R/.val
        /ocpu/tmp/x0dac728e075554/R/credentials
        /ocpu/tmp/x0dac728e075554/R/get_acoustic_deployments
        /ocpu/tmp/x0dac728e075554/stdout
        /ocpu/tmp/x0dac728e075554/source
        /ocpu/tmp/x0dac728e075554/console
        /ocpu/tmp/x0dac728e075554/info
        /ocpu/tmp/x0dac728e075554/files/DESCRIPTION
  recorded_at: 2026-01-20 09:19:28
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0dac728e075554/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:29 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzlU01vEzEQ3XwBDU2btnyICq690TN3pEo9gUQr9WY5thOMbM/KO5so/fGFcWLvbjddUZB6
        QETa2H7
        vjeeNPb4ZZ1k2yIajXjYY0TQbXV9dfPxE2AktzuibZNvf9HHj4GA7Dvv018uG2V7Y
        FG/BqShK4OD66n
        NbJwwviqjrR/D51y/fLm8ExuWzzRJpdkdfzNY5/oHb3s9Og/1EPcbT/7xn
        +/yfJMc/dndP6bezvyd/O
        U5rj5WRQcqMM8PkPDmmVZyOJUd+PvfcqtaD3vOwOneEF3WO+y8+
        kSHRWQQnUuUG1lY5ZFpG8KVXQuml
        8jX0mgsoC9SC5R5+KIFMgFSR3C+QowbHQoaInSRMqkJ4
        nYd5pA4TZbnjC+UjPN1aYVShYqirnQ4jbig
        IyyppkhtwiyZ+pB0qJ5VsBxzXRCtk3wJ47RYM
        13mFzQARLNnP8XvCvC7oUIxyixpLrhu6dzOOqPyaaU
        elGhMPguqKgtMkUHSklnDJyFlT8YoL
        1Ms6sHkgR3Q9EG6nTUwT0aq8CmgXfixh5QxwubNVzcy1Uc2LP
        V1yozcBnJUOtdmJPSjWTuyg
        4zBn0ut5el7vuWe/O6kxaQS4ufY2FYmeu8JqDJ0YzKUOrXFYUa1QYl5W
        qQzQ7SqbK8+x9IqF
        FiwYLTWkFv+wo+E2p9rvid5sRNpgN+uAuuShBG8bbFfwpo06gyP7QPALATY84vC
        +734BhEaE
        5w==
  recorded_at: 2026-01-20 09:19:28
recorded_with: VCR-vcr/2.0.0
