http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"not_a_receiver_id","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x026ee38d2a3e9c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x026ee38d2a3e9c/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:07 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVN1u2jAUvucprKrSEolEBEiBqKoEFKnTqhUxtGlCVeImLrGaOsg2tLubdrEnQLva0/Ek
        O04IOIG
        yLVIU2+f78fE5zhCzdxI9UhYhTkJCV4T7NEIBS6WPfW0pQJR5qH89nVqtev5tw/fT
        cPRxavUnltttNJ
        qtgxX3YKVTWXEavToa9KfT0eQrGveHHyzHdQ5W9hiYgM0ABG7eD9H47toa
        ECZjGqJxGlnd7vHYAmI95
        +2Y47RPBd1TwaqlGtu2XRvg8ElyHBKvhtSz+fUTBo6NNuvfm/V3
        ssLJEkviecXIAJYJkKaC/NjCHrAA
        yAuV8YQIibkUBaxVwNS73kKRkaQhTkykMW6pkAZ5XfA6
        FDnXUPz2no80s5LCHSNbEeO04Mxi/N7U5jO
        Y3ysbt2xzdLNR+qVsxolccpZ57EWV2kVZ7T/T
        zncJMh1d5k0hbUMVnZlzm2fXLQsdlfr37Hp65fcNkp
        XfjzGLEsKL+jsNvf77VlE0A3wThXF0
        jH70FVzzWC/lvkOAUDa/qbi3jjfpZyroQ0KMTD0/NMJWlJuKs
        +u4yi50HMC2HYP+CrywKxUk
        kgnCVxTunDcn8AsL06WQNPQjskjSb89wb3cJdOyDqul0L4xJ+OSrGhQX
        0+nqlIKEBXCkjLH0
        vHzsq0nB6ZU55aSETBdGThpxnnIDS8mhPUQdnT2L+Zmpjq2ZFXqtdcSus4LLR3Y
        VGMElaGQS
        V4EiQNULnxcsIRF+vliK2AhZpMJNW9vItqvOSeafpWvW/gB5dCeH
  recorded_at: 2025-09-22 13:15:07
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":"VR2W-124070","acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x071732bf7b8614
      location: http://opencpu.lifewatch.be/ocpu/tmp/x071732bf7b8614/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:10 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x071732bf7b8614/R/.val
        /ocpu/tmp/x071732bf7b8614/R/credentials
        /ocpu/tmp/x071732bf7b8614/R/get_acoustic_deployments
        /ocpu/tmp/x071732bf7b8614/stdout
        /ocpu/tmp/x071732bf7b8614/source
        /ocpu/tmp/x071732bf7b8614/console
        /ocpu/tmp/x071732bf7b8614/info
        /ocpu/tmp/x071732bf7b8614/files/DESCRIPTION
  recorded_at: 2025-09-22 13:15:10
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x071732bf7b8614/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:10 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzlV01oE0EU3jb9S/+rVVH0IuJFUrKhte2tVasULdXW+nMaJruTOLI7E2YnKfGgxbt4E1QE
        8ejJkzd
        FvIsK2oMg6kXw5rEgVN9udjbpbtKmtULUwOybee97v/Nms3OpU9O0mNbSCk8Ymta6
        cP5kYgxWO2FxGE
        YPjA7gP9C0tmFNa++C0Q0D+O29[...]
[...]
