http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-04-24","end_date":"2015-04-25","animal_project_code":"2014_demer","limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0977fc63676014
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0977fc63676014/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:36:07 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0977fc63676014/R/.val
        /ocpu/tmp/x0977fc63676014/R/credentials
        /ocpu/tmp/x0977fc63676014/R/get_acoustic_detections
        /ocpu/tmp/x0977fc63676014/stdout
        /ocpu/tmp/x0977fc63676014/source
        /ocpu/tmp/x0977fc63676014/console
        /ocpu/tmp/x0977fc63676014/info
        /ocpu/tmp/x0977fc63676014/files/DESCRIPTION
  recorded_at: 2025-07-25 07:36:08
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0977fc63676014/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:36:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJyVVE9v0zAUz9qO0q1bO029cOILtKoD7bbbJiSkXQBtHexmeY7bGSX2ZjudmITgE3DgCyBx
        48KVOxc
        OSHDixofgjtTx3MQhiTr+RHqx388//57f80uOVzzPq3q1ZXiDed7y0eh+dxu8TXA6
        YGtglSX88QvYV8
        DXrb/37cHzdzCx4+ddu69WgdeSV/MaVsRcSsFg0s6B1aPRvTKPhkTrlFdJ
        wfqjh4f7x9Sk7o25a2A2K
        xMR2kJb26jsFlnre8OdLhr2UdcfDu4MrkGLe1b8PrqLAxYxtQBJ
        awJpnCdWjHfIw1jF+vYkJILra9BS
        vEvGND1lYcAWIEXu6uMD/0kXId/fGSyCiuyqhsvMTeEk
        dnV3//Wo+enVGzdm+MbBh9nN9z/d6PAXP+w
        d19+68Q94Et3zGlfw5Mb/5c9r/BJe1kpZ3bIJ
        4yRhDDcz6A/RAKMe1dN/YPwlJrTl98Rsr1auUn7V9a
        M5CXEwdkUFz11ZQAzpjRWJWKnNG0pe
        9ATgOp8XhJyVvwdHas8/vgRsBswwargUmAdOEWIxbHjk+mXDk
        AnWTHESYhFHJ1njtgiVsTac
        YsvIBDahCyPgnin5FMQxlVnrNdKljNvSlDNh+BhE7AFTuJMpLxBZVYwy
        PmXqt0xTGzLPIqfR
        CthZKJ/hEFZMnO1uO1iKSR63dHOKucAR1ETpTJkJLRWekjDODpBiseDuT7KWQH6
        B13RgjtjR
        fCKgAkZiIblmWNmDZ8IyVpThMQ+dRv2c4nFIJi5OcvoIamazhx/XLw/uFCQ=
  recorded_at: 2025-07-25 07:36:08
recorded_with: VCR-vcr/2.0.0
