http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-04-24","end_date":"2015-04-25","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0164b881a787ce
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0164b881a787ce/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 2
          }
        ]
  recorded_at: 2025-09-10 10:32:19
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2015-04-24","end_date":"2015-04-25","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0eb245a39c5503
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0eb245a39c5503/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:21 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0eb245a39c5503/R/.val
        /ocpu/tmp/x0eb245a39c5503/R/credentials
        /ocpu/tmp/x0eb245a39c5503/R/get_acoustic_detections_page
        /ocpu/tmp/x0eb245a39c5503/stdout
        /ocpu/tmp/x0eb245a39c5503/source
        /ocpu/tmp/x0eb245a39c5503/console
        /ocpu/tmp/x0eb245a39c5503/info
        /ocpu/tmp/x0eb245a39c5503/files/DESCRIPTION
  recorded_at: 2025-09-10 10:32:20
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0eb245a39c5503/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:21 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJyVVDFvEzEUvjQpIe21SVW6MPEHEuUOkrZbKySkLoDaFLpZrs8JRj67tX1BVELwCxj4A0hs
        LKzsLAx
        IMLHxI9iRUp5z5+PulAqI9Pz8Pn/+3rP9cicrnufVvcYyjGCet3w8utfdgWgTghtg
        a2BLNfTpK9g3wN
        dtvP/9/ov3MLH+y57d11iCoeY1vJYVIRxrDZOOJWdg8+GDo4MTYrLw2jw0
        1Z3mQgqa7XRg/Xh0F9ysK
        hgE28H2TlANy6z1/eFuNxj2g244HNweXIGW96yE/eAOimhM1QIk
        uxOo7zy1cr4jxhOV6FsTjgXTV6CV
        fBeUavKE8oguQMrc1UeH4eNuEITh7mARVGbXNTxmYQqV
        2NW9gzcj//Prt87n+Mbhx9n1D7+cd/jLn/a
        Nm++cz7N4XusSfgX/v/z5Xb6CwVql+pv2YCg9
        GIIXGPSHwQAFPaKn/8D4S05oth+p2Q6sXWb8uutPc8
        pRNHaXB5F7mggb3BsrHNNK87aUfNYT
        gOviuSDlrNrljtSZ/8lS0I+oocQwKRCLnCLkosiw2PXFhsETp
        KlimCORxKd5g7YxkYk2jCDL
        yAU2odti4J4p+RTEEZF5i7WypZzb1oRRYdgYRGyBGbyVKy8QWVWUUDal
        6o+Mrw2en6Kg0Y7o
        GZfPEYcVk+S7Ow6WYlLEfU2FlgpNMU/yTBmWCOY+IWspFJZ4vgMLxC3NJgKOaiQ
        SkmmKlK0w
        F5aJIhSNGXcazXOCxhxPXJ60zBguxx4TvkS/Aa6gCYs=
  recorded_at: 2025-09-10 10:32:21
recorded_with: VCR-vcr/2.0.0
