http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2016","end_date":"2017","animal_project_code":"2014_demer","limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x00a8d3d6e876ec
      location: http://opencpu.lifewatch.be/ocpu/tmp/x00a8d3d6e876ec/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:36:01 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x00a8d3d6e876ec/R/.val
        /ocpu/tmp/x00a8d3d6e876ec/R/credentials
        /ocpu/tmp/x00a8d3d6e876ec/R/get_acoustic_detections
        /ocpu/tmp/x00a8d3d6e876ec/stdout
        /ocpu/tmp/x00a8d3d6e876ec/source
        /ocpu/tmp/x00a8d3d6e876ec/console
        /ocpu/tmp/x00a8d3d6e876ec/info
        /ocpu/tmp/x00a8d3d6e876ec/files/DESCRIPTION
  recorded_at: 2025-07-25 07:36:01
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x00a8d3d6e876ec/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:36:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJw0nWdgFUXbhiEqKvbee0PYRsfeO00sIE3silhQqTZQEUHIFoIEVCBwEsyxAYEETuQECHKQ
        Tug9YO/
        d2F79LnM/34/7vd9nZnZz2DPXs7Mzs8dujRs0aLBPg333439Rgwb73XbrtW47oqMI
        jkGHNGhw6HkN5z
        Y6FZ2GTkdnoDPRWehsdA46F/3Xrgk6v+Gcn/ZHB6ADUWN0EDoYHYIORYeh
        w9ER6Eh0FDoaHYOORceh4
        9EJ6ER0EjoZnYJORaeh09EZ6Ex0FjobnYPOReehJui/z9IUNUMO
        cpGHfBSg5qgFaolaodaoDWqL2qEL
        0IXoInQxugRdii5Dl6Mr0JXoKnQ1ugZdi65D16Mb0I3o
        JtQedUAdUSfUGd2MuqBb0K3oNnQ76oq6oTt
        Qd9[...]
