http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-04","end_date":"2015-05","animal_project_code":"2014_demer","limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e5eaa32f327f1
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e5eaa32f327f1/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:36:04 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0e5eaa32f327f1/R/.val
        /ocpu/tmp/x0e5eaa32f327f1/R/credentials
        /ocpu/tmp/x0e5eaa32f327f1/R/get_acoustic_detections
        /ocpu/tmp/x0e5eaa32f327f1/stdout
        /ocpu/tmp/x0e5eaa32f327f1/source
        /ocpu/tmp/x0e5eaa32f327f1/console
        /ocpu/tmp/x0e5eaa32f327f1/info
        /ocpu/tmp/x0e5eaa32f327f1/files/DESCRIPTION
  recorded_at: 2025-07-25 07:36:04
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0e5eaa32f327f1/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:36:05 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnQt0lNW9xSdAQN5wEasoVWsBuW0gCSRA5a0gGCZMSEAQ4WMyGcJISDQz4a1ibx8KCPfW
        itQ6UL3
        eu5yvC668REEtws3gq/JM6iOIFBHf4hNQCHcn+x8KrLquWIWQbtf6sb//PvucmXzn
        O+dMiCuMbuLxeO
        p7GiTiT+DxJI7MGZzUE1UbFG1Bc48nYV2Cf+OH4CNwAHwMPgGfgs/A5+AL
        cBAcAofBl+ArcAQcBZXgW
        IJ/kwckgHqgPmgAEkFD0AicBxqDJqApaAaagxagJWgFWoN/AW3A
        +aAtuAD8AFwILgLtwMXgEtAe/BBc
        Ci4Dl4MfgSvAj0EH0BF0AleCzuBfwU/AT0ES6AK6gmSQ
        AlJBN9AdpIF00AP0BL3Az8BVoDfoA/qCfqA
        /GA[...]
