http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2016","end_date":"2017","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x01e874b3c9f25d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x01e874b3c9f25d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:06 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 3623
          }
        ]
  recorded_at: 2025-09-10 10:32:06
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2016","end_date":"2017","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x089a83cbb5ab5a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x089a83cbb5ab5a/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:10 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x089a83cbb5ab5a/R/.val
        /ocpu/tmp/x089a83cbb5ab5a/R/credentials
        /ocpu/tmp/x089a83cbb5ab5a/R/get_acoustic_detections_page
        /ocpu/tmp/x089a83cbb5ab5a/stdout
        /ocpu/tmp/x089a83cbb5ab5a/source
        /ocpu/tmp/x089a83cbb5ab5a/console
        /ocpu/tmp/x089a83cbb5ab5a/info
        /ocpu/tmp/x089a83cbb5ab5a/files/DESCRIPTION
  recorded_at: 2025-09-10 10:32:10
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x089a83cbb5ab5a/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:10 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJw0nXdgFNXbhQEVFXvvvVGm0bH3ThMLSBO7IhZUqg1UxAKZQoCACgSSYNYKgUQ2sgsEWaQT
        Qgk1YO/
        d2H76Pea83x/H4/veO7Ob2fvM3Ln3ztCrWaNGjfZqtPc+/Bc1arTPzTdd5XYiOoLg
        SHRQo0YHn9P48R
        O2oNrGj7dqhRzkIg/5KECtURvUFrVD7VEH1BF1Quei89D56AJ0IboIXYwu
        QZeiy9Dl6Ap0JboKXY2uQ
        dei69D1qDPqgrqibqg7ugH1QDeim9DN6BbUE/VCt6LeqA/qi/qh
        /ug2NADdju5Ad6K70N3oHnQvug/d
        jwaiB9Ag9CB6CD2MHkGD0aPoMfQ4GoKGomFoOBqBRqIn
        0JPoKfQ0egaNQqPRs+g59Dwag15AY9GL6CX
        0Mn[...]
