http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-04","end_date":"2015-05","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a0f4827bc0789
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a0f4827bc0789/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:13 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 442
          }
        ]
  recorded_at: 2025-09-10 10:32:13
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2015-04","end_date":"2015-05","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x049943c14019c5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x049943c14019c5/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:16 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x049943c14019c5/R/.val
        /ocpu/tmp/x049943c14019c5/R/credentials
        /ocpu/tmp/x049943c14019c5/R/get_acoustic_detections_page
        /ocpu/tmp/x049943c14019c5/stdout
        /ocpu/tmp/x049943c14019c5/source
        /ocpu/tmp/x049943c14019c5/console
        /ocpu/tmp/x049943c14019c5/info
        /ocpu/tmp/x049943c14019c5/files/DESCRIPTION
  recorded_at: 2025-09-10 10:32:16
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x049943c14019c5/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:17 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnXl8VOW9xickYV8vYN2oWgvIbQPJZAEqu4LBIUNCAoIIw8lkCCMh0cwEZFHR20XBwr21
        IrUKleu
        9H7EfuIZFNKiNOc3gVpElqUsQKSLu4gooJH0yzy9c8dO/bMsH6OPn881zfs/7vO85
        553zvjMhGCa393
        g8iZ6kZHwFHk/yxIIxKYNQdUfRA3TyeBKqEgI1L4Ht4GWwA+wEu8BuUAfq
        wZ/BK+BV8Bp4HTSAPeAgO
        AyOgKPgK/A1OAaOg8aEgJsIkkAyaA3agLagHWgPOoCOoBPoDLqA
        rqAb+DfQHfQAPcE54HvgXHAeOB9c
        AC4EvRKcB2aCYjALhMH1YDYoAXNAKSgDN4AbQTmIgCio
        AHPBPHATmA8WgIVgEbgZ3AJuBYvBbeB28B/
        gp+[...]
