http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0105b62ebda162
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0105b62ebda162/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 12:56:49 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["2004_Gudena", "2010_phd_reubens", "2010_phd_reubens_sync", "2011_Loire", "2011_rivierprik", "2011_Warnow", "2012_leopoldkanaal", "2013_albertkanaal", "2013_Foyle", "2014_demer", "2014_Frome", "2014_Nene", "2015_Albertkanaal_VPS_Ham", "2015_dijle", "2015_fint", "2015_homarus", "2015_PhD_Gutmann_Roberts", "2015_phd_verhelst_cod", "2015_phd_verhelst_eel", "2016_Albertkanaal_VPS_Ham", "2016_Diaccia_Botrona", "2016_phd_vergeynst", "2017_Albertkana[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_acoustic_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x03b1f6bcb343e5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03b1f6bcb343e5/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 12:56:50 UTC
      x-ocpu-v[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animal_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"STRAITS_GIBRALTAR_ANIMAL"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0ba8f118104cbe
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ba8f118104cbe/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 12:56:51 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0ba8f118104cbe/R/.val
        /ocpu/tmp/x0ba8f118104cbe/R/credentials
        /ocpu/tmp/x0ba8f118104cbe/R/get_animal_projects
        /ocpu/tmp/x0ba8f118104cbe/stdout
        /ocpu/tmp/x0ba8f118104cbe/source
        /ocpu/tmp/x0ba8f118104cbe/console
        /ocpu/tmp/x0ba8f118104cbe/info
        /ocpu/tmp/x0ba8f118104cbe/files/DESCRIPTION
  recorded_at: 2026-07-02 12:56:51
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0ba8f118104cbe/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 12:56:52 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJx1UsFKAzEQTdut2qq1KILH/QELHgTBixGxFFoP2y14W9LdtER2NyVJkZ70V/QXxHv/wIMH
        f8CTR0+
        eWifbTW0DBmay7zFvZjKzt1WEUAk5ZfBgCJV7/vXxGaADANtgu2AFhBzgUD37dlAF
        7qOu7+GW3w2arU
        sPt33sBfim1cFtK26DpCwhscVu4ZCPpWKhxZ92eMoUFywduk3WFyRWYG4X
        PFNuT2reSF2fxjShSkyg3
        ZpOcvF+PkXZcYorScthTKS0KjlXRFG4Z0b88KOFm88LcWH+fzxa
        FMOzN/y9/2Hw9PBVfr0Mnyxd4eRv
        iO6n1VlF8PtGShIq86DiI7g5HPsJJqierWVBVkeC39FQ
        BSzKmR3DhDyiNqcmI8PVlBndKruM1MVMDam
        IUEGkH5+vjqbRGo6JYmq8rFeJeTpcJaoJF0Tv
        dJzkzB5LmNQ5iKRZ9+sjL5lfR/XjIBrkqATIZNTSxk
        DoNmEjv/QMgvI=
  recorded_at: 2026-07-02 12:56:52
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=8420&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":8420,"Acronym":"GRIBRALTAR_STRAITS","StandardTitle":"Monitoring
        Gibraltar Strait Using Acoustic Telemetry","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"<p>Under
        the Strategic Infrastructure for Enhanced Animal Tracking project (STRAITS),
        one of the challenges is to acoustically monitor the Gibraltar Strait, which
        serves as a biodiversity hotspot and a crucial location for tracking many
        large migratory species. This natural gateway will be sealed acoustically
        through the deployment of a comprehensive array, overcoming the challenges
        posed by intense anthropogenic activities (e.g., traffic and fishing) and
        oceanographic conditions (e.g., strong currents, thermoclines, and pycnoclines).
        Furthermore, this project aims to tag several species in this iconic area,
        such as Bluefin tuna, Blue Crab, European eel, and bluefish, among others.</p>","EngDescr":"<p>The
        Strait of Gibraltar is situated between the southern part of the Iberian Peninsula
        (Spain) and the northern part of Morocco, serving as the gateway between the
        Atlantic and the Mediterranean Sea. Europe and Africa are separated by a mere
        14.3 km at the narrowest point of the Gibraltar Strait. The depth ranges from
        300 to 900 meters, making it one of the most significant natural passages
        in the world for marine biodiversity migrations and the transition of marine
        species. Additionally, it is a highly complex area due to the intense anthropogenic
        activities such as marine traffic and fishing, as well as challenging oceanographic
        conditions, including pycnoclines, thermoclines, and strong tidal currents.</p>","OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":null,"DescrTransFlag":null,"Citation":"Cabanellas-Reboredo,
        M., Vilas, C. and Sánchez-Leal, R.F. (2023). Gibraltar Strait detection data.","AccessConstraints":null,"UDate":"2025-09-10","CDate":"2023-11-07","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-06-09
        01:42:32.979540","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research:
        field experiment","Progress":"In Progress","AccessConstraint":"Attribution
        (CC BY)","AccConstrEN":"Attribution (CC BY)","AccConstrDisplay":"<a rel=\"license\"
        href=\"https://creativecommons.org/licenses/by/4.0/\" target=\"_blank\"><img
        alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https://www.marinespecies.org/aphia/images/cc/by.png\" /></a> This dataset
        is licensed under a <a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\"
        target=\"_blank\">Creative Commons Attribution 4.0 International License</a>.","License":"https://creativecommons.org/licenses/by/4.0/","AccConstrDescription":"This
        license lets others distribute, remix, tweak, and build upon your work, even
        commercially, as long as they credit you for the original creation. This is
        the most accommodating of licenses offered. Recommended for maximum dissemination
        and use of licensed materials.","Lineage":null,"AccConID":21},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic arrays","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_2cdfca90","Description":null,"OrigThesTerm":"Acoustic
        arrays","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_2cdfca90","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic
        data","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        detection","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic
        detection","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm"[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"acoustic_project_code":"MOVE_CCMAR_NETWORK"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x05a11da94475f6
      location: http://opencpu.lifewatch.be/ocpu/tmp/x05a11da94475f6/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 12:56:53 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x05a11da94475f6/R/.val
        /ocpu/tmp/x05a11da94475f6/R/credentials
        /ocpu/tmp/x05a11da94475f6/R/get_acoustic_projects
        /ocpu/tmp/x05a11da94475f6/stdout
        /ocpu/tmp/x05a11da94475f6/source
        /ocpu/tmp/x05a11da94475f6/console
        /ocpu/tmp/x05a11da94475f6/info
        /ocpu/tmp/x05a11da94475f6/files/DESCRIPTION
  recorded_at: 2026-07-02 12:56:53
[...]
