http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0175ff759d3c24
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0175ff759d3c24/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 13:22:42 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["2004_Gudena", "2010_phd_reubens", "2010_phd_reubens_sync", "2011_Loire", "2011_rivierprik", "2011_Warnow", "2012_leopoldkanaal", "2013_albertkanaal", "2013_Foyle", "2014_demer", "2014_Frome", "2014_Nene", "2015_Albertkanaal_VPS_Ham", "2015_dijle", "2015_fint", "2015_homarus", "2015_PhD_Gutmann_Roberts", "2015_phd_verhelst_cod", "2015_phd_verhelst_eel", "2016_Albertkanaal_VPS_Ham", "2016_Diaccia_Botrona", "2016_phd_vergeynst", "2017_Albertkana[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_acoustic_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x00c91141af6399
      location: http://opencpu.lifewatch.be/ocpu/tmp/x00c91141af6399/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 13:22:42 UTC
      x-ocpu-v[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animal_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"2014_demer"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x02d95bcbc64b97
      location: http://opencpu.lifewatch.be/ocpu/tmp/x02d95bcbc64b97/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 13:22:43 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x02d95bcbc64b97/R/.val
        /ocpu/tmp/x02d95bcbc64b97/R/credentials
        /ocpu/tmp/x02d95bcbc64b97/R/get_animal_projects
        /ocpu/tmp/x02d95bcbc64b97/stdout
        /ocpu/tmp/x02d95bcbc64b97/source
        /ocpu/tmp/x02d95bcbc64b97/console
        /ocpu/tmp/x02d95bcbc64b97/info
        /ocpu/tmp/x02d95bcbc64b97/files/DESCRIPTION
  recorded_at: 2026-07-02 13:22:44
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x02d95bcbc64b97/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 13:22:44 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJx1UstKAzEUzXRmxBm1Fupj6w9YqrhwIyiUgnsFd0OcpBJJJiXJILMRf8IfsXtx5UrQP/EP
        rHcembZ
        BAzfJOTn3kZvcxAghHwUhzGAIhddX48NTQH0AG2BbYB7YLliv2gcogjU+Hh6dJIQK
        qpyTNZwxgbnDrl
        +kMteGpX/FORjVcfxueXL++YzqEXSWlGHKsdaOezDChsL60zp/7b8tnL35
        /3pU6y8fX9+Lj7zFO2cvs
        3E/dvy84aIXe99OZZGSD4MMC6obUecJpjkM9wpW1Ku623RgquQ9
        TU3CSMNsWiaVhLqcKaaW6xrKoXFG
        FctsqyyT2RzaYGUSUl6+eQ+akRXMsWEmb/NFXGZ3y0Qs
        pMJGKpaLhtlmgukyBta0qn615b79D+aWJ2T
        SIB+QjVi6DiaqLBNe5BdTA2oZ
  recorded_at: 2026-07-02 13:22:44
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=5871&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":5871,"Acronym":null,"StandardTitle":"2014_DEMER
        - Acoustic telemetry data for four fish species in the Demer river (Belgium)","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"This
        is an acoustic telemetry dataset published by the Research Institute for Nature
        and Forest (INBO). It contains animal (fish) tracking data collected by the
        Permanent Belgian Acoustic Receiver Network <a href=\"https://lifewatch.be/en/fish-acoustic-receiver-network\">(https://lifewatch.be/en/fish-acoustic-receiver-network)</a>
        for the project/study 2014_demer, using VEMCO tags (V7, V13) and receivers
        (VR2W). In total 16 adult individuals of four local wild fish species (<i>Petromyzon
        marinus</i>, <i>Rutilus rutilus</i>, <i>Silurus glanis</i>, <i>Squalius cephalus</i>)
        were captured, tagged and released in 2014, to study the effect of a specific
        barrier on their upstream/downstream migration in the Demer basin.","EngDescr":"<p>Longitudinal
        and lateral connectivity of rivers is necessary for fish to successfully fulfill
        their life cycle. In Flanders, fish are obstructed in their essential free
        migrations by weirs, sluices, mills, and pumping stations, which are needed
        to control the water level. The Demer river drains the eastern part of the
        Scheldt basin. Fish migrating from the sea to the Demer river are obstructed
        by three hydraulic constructions. In this study we [...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"acoustic_project_code":["demer","zeeschelde","dijle","albert"]}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0236290cd64d73
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0236290cd64d73/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-07-02 13:22:45 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0236290cd64d73/R/.val
        /ocpu/tmp/x0236290cd64d73/R/acoustic_project_code
        /ocpu/tmp/x0236290cd64d73/R/credentials
        /ocpu/tmp/x0236290cd64d73/R/get_acoustic_projects
        /ocpu/tmp/x0236290cd64d73/stdout
        /ocpu/tmp/x0236290cd64d73/source
        /ocpu/tmp/x0236290cd64d73/console
        /ocpu/tmp/x0236290cd64d73/info
        /ocpu/tmp/x0236290cd64d73/files/DESCRIPTION
  recorded_at: 2026-07-02 13:22:45
[...]
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=5879&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":5879,"Acronym":null,"StandardTitle":"Temporarily
        acoustic receiver network in the river Demer for assessing fish behaviour
        around the third of three fish migration barriers preventing (diadromous)
        fish (such as sea lamprey, among others) to reach the spawning habitats in
        the Demer basin.","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":null,"EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":null,"AccessConstraints":null,"UDate":"2018-03-01","CDate":"2018-01-03","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-06-09
        01:42:32.979540","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Sensor
        platform","Progress":"Completed","AccessConstraint":"Attribution (CC BY)","AccConstrEN":"Attribution
        (CC BY)","AccConstrDisplay":"<a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\"
        target=\"_blank\"><img alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https://www.marinespecies.org/aphia/images/cc/by.png\" /></a> This dataset
        is licensed under a <a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\"
        target=\"_blank\">Creative Commons Attribution 4.0 International License</a>.","License":"https://creativecommons.org/licenses/by/4.0/","AccConstrDescription":"This
        license lets others distribute, remix, tweak, and build upon your work, even
        commercially, as long as they credit you for the original creation. This is
        the most accommodating of licenses offered. Recommended for maximum dissemination
        and use of licensed materials.","Lineage":null,"AccConID":21},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic telemetry","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_3563933f","Description":null,"OrigThesTerm":"Acoustic
        telemetry","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_3563933f","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        Telemetry","ThesTypID":30,"ThesType":"ETN Context","Code":null,"Description":"Acoustic
        telemetry uses acoustic signals (also called ‘pings’) which propagate into
        the water, and are detected by acoustic receivers","OrigThesTerm":"Acoustic
        Telemetry","DutchTerm":"Akoestische Telemetrie","URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Fish
        behaviour","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Fish
        behaviour","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Migration","ThesTypID":3,"ThesType":"Transportation
        Research Thesaurus","Code":"Khbmn","Description":null,"OrigThesTerm":"Migration","DutchTerm":"Migratie","URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Migration
        barriers","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Migration
        barriers","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Spawning
        migrations","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_4d1412b7","Description":null,"OrigThesTerm":"Spawning
        migrations","DutchTerm":"Paaimigraties","URI":"http://aims.fao.org/aos/agrovoc/c_4d1412b7","DasKeywordDescr":null},{"ThesaurusTerm":"Tracking
        data","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Tracking
        data","DutchTerm":null,"URI":null,"DasKeywordDescr":null}],"parents":[{"DasID":5912,"Acronym":null,"EngAbstract":"The
        European Tracking Network is a pan-European biotelemetry network that aims
        at the integration of regional telemetry initiatives into a sustainable, efficient
        and integrated network embedded in the international context. Data is integrated
        in the ETN data system that is part of the ETN virtual lab developed by LifeWatch.","License":"https://creativecommons.org/licenses/by/4.0/","StandardTitle":"European
        Tracking Network (ETN) data","doi":null,"vlizDoi":null},{"DasID":5250,"Acronym":null,"EngAbstract":"As
        part of the Belgian LifeWatch observatory, a permanent acoustic receiver network
        for fish tracking is established in the Belgian Part of the North Sea and
        the Western Scheldt. Using acoustic telemetry distribution, movements and
        habitat use of tagged migratory fish can be tracked. Tags or transmitters
        are surgically implanted in the belly of individual fish. When swimming in
        the vicinity of an acoustic receiver (Vemco), the information of the unique
        ID-code of the transmitter is stored on the receiver together with an exact
        timing of the event. When signals are simultaneously received by multiple
        receivers, an exact positioning of the tagged individuals can be derived from
        the raw data. In total 40 transmitters are implanted and 51 acoustic receivers
        are installed on buoys and other platforms.","License":"https://creativecommons.org/licenses/by/4.0/","StandardTitle":"LifeWatch
        observatory data: fish acoustic receiver network","doi":null,"vlizDoi":null}],"children":null,"othrel":null,"othrelrev":null,"ownerships":[{"OrderNr":1,"Surname":"Coeck","Firstname":"Johan","Initials":"J.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"INBO","OrigNameLangCode":"en","OrigNameLangID":15,"FullOrigName":"Flemish
        Government; Policy Domain Environment; Research Institute for Nature and Forest","InsOwnerCNT":3,"PersID":7223,"InsID":5443,"FullInstitute":"Vlaamse
        overheid; Beleidsdomein Omgeving; Instituut voor Natuur- en Bosonderzoek","RoleID":24,"Role":"Contact","OrigName":"Research
        Institute for Nature and Forest","StandardName":"Instituut voor Natuur- en
        Bosonderzoek","FullAcronym":"LNE-INBO","ORC":"https://orcid.org/0000-0003-2732-7428","ROR":null},{"OrderNr":2,"Surname":"Coeck","Firstname":"Johan","Initials":"J.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"INBO","OrigNameLangCode":"en","OrigNameLangID":15,"FullOrigName":"Flemish
        Government; Policy Domain Environment; Research Institute for Nature and Forest","InsOwnerCNT":3,"PersID":7223,"InsID":5443,"FullInstitute":"Vlaamse
        overheid; Beleidsdomein Omgeving; Instituut voor Natuur- en Bosonderzoek","RoleID":61,"Role":"Data
        creator"[...]
[...]
