http_interactions:
- request:
    method: GET
    uri: https://marineinfo.org/id/dataset/8296.json
  response:
    status: 200
    headers:
      content-disposition: attachment; filename="marineinfo-dataset-8296.json"
      content-type: application/json; charset=utf-8;
      last-modified: Tue, 14 Apr 2026 01:43:53 GMT
      link: https://marineinfo.org/id/dataset/8296; rel="describedby"; type="text/turtle"
    body:
      string: |2
            {"datasetrec":{"DasID":8296,"Acronym":null,"StandardTitle":"VFM_Vattern","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":"gustav.hellstrom@slu.se","VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"<p>The Department of Wildlife, Fish and Environmental Studies, at the Swedish University of Agricultural Sciences (SLU), operates a number of acoustic telemetry networks both nationally and internationally. We consider some of our networks as permanent, as we aim to keep some infrastructure in place indefinitely. That said, the exact position and the number of receivers will change over time.</p><p>Here we present our 69kHz network in lake Vättern. This network is led primarily by Dr. Gustav Hellström. &nbsp;<br>&nbsp;</p>","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":"2025-01-01","OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":null,"DescrTransFlag":null,"Citation":"Hellström, G. Swedish University of Agricultural Sciences (2023): \"Acoustic telemetry network in lake Vättern”","AccessConstraints":null,"UDate":"2023-07-04","CDate":"2023-05-02","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-14 01:43:53.753124","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":0,"FreshFlag":1,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research: field experiment","Progress":"In Progress","AccessConstraint":"Attribution (CC BY)","AccConstrEN":"Attribution (CC BY)","AccConstrDisplay":"<a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\" target=\"_blank\"><img alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\" src=\"https://www.marinespecies.org/aphia/images/cc/by.png\" /></a> This dataset is licensed under a <a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\" target=\"_blank\">Creative Commons Attribution 4.0 International License</a>.","License":"https://creativecommons.org/licenses/by/4.0/","AccConstrDescription":"This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of licenses offered. Recommended for maximum dissemination and use of licensed materials.","Lineage":null,"AccConID":21},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic arrays","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_2cdfca90","Description":null,"OrigThesTerm":"Acoustic arrays","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_2cdfca90","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic data","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic detection","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic detection","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic detectors","ThesTypID[...]
