http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=5877&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":5877,"Acronym":"2011_Bovenschelde","StandardTitle":"Temporarily
        acoustic receiver network in the Upper Scheldt river, for river lamprey tracking
        in the Scheldt river basin","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"In
        2011 and 2012 forty-one adult river lamprey were followed during their upstream
        migration in the tidal and\/or non-tidal part of the River Scheldt and its
        tributaries using acoustic telemetry (Vemco technology: V7 and V8 transmitters;
        VR2 and VR2W data loggers). The migration patterns in the river catchment
        and their behaviour at a tidal barrier, lock-weir complexes and fish bypasses
        (passage timing and delay) show that the disrupted water management of the
        river and in consequence of its barriers and bypasses are the key to (un)successful
        spawning migration in the catchment.","EngDescr":"The disruption of longitudinal
        and lateral connectivity of rivers has led to ecological catastrophes such
        as the extinction of several diadromous fish species. River lamprey is an
        important indicator species for the integrity of ecosystems and connectivity
        within and between catchment areas. In the highly fragmented River Scheldt
        basin first restoration actions are undertaken, such as the building of nature-like
        bypasses.","OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":null,"AccessConstraints":null,"UDate":"2024-07-02","CDate":"2018-01-03","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-03
        01:47:42.174469","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":0,"FreshFlag":1,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research:
        field experiment","Progress":"Completed","AccessConstraint":"Attribution (CC
        BY)","AccConstrEN":"Attribution (CC BY)","AccConstrDisplay":"<a rel=\"license\"
        href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\" target=\"_blank\"><img
        alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https:\/\/www.marinespecies.org\/aphia\/images\/cc\/by.png\" \/><\/a>
        This dataset is licensed under a <a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\">Creative Commons Attribution 4.0 International License<\/a>.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","AccConstrDescription":"This
        license lets others distribute, remix, tweak, and build upon your work, even
        commercially, as long as they credit you for the original creation. This is
        the most accommodating of licenses offered. Recommended for maximum dissemination
        and use of licensed materials.","Lineage":null,"AccConID":21},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic telemetry","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_3563933f","Description":null,"OrigThesTerm":"Acoustic
        telemetry","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_3563933f","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        Telemetry","ThesTypID":30,"ThesType":"ETN Context","Code":null,"Description":"Acoustic
        telemetry uses acoustic signals (also called \u2018pings\u2019) which propagate
        into the water, and are detected by acoustic receivers","OrigThesTerm":"Acoustic
        Telemetry","DutchTerm":"Akoestische Telemetrie","URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Belgium,
        Upper Sea Scheldt","ThesTypID":35,"ThesType":"Geoterms no link Marine Regions","Code":null,"Description":null,"OrigThesTerm":"Belgium,
        Upper Sea Scheldt","DutchTerm":"Boven Zeeschelde","URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Migration
        barriers","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Migration
        barriers","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Spawning
        migrations","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_4d1412b7","Description":null,"OrigThesTerm":"Spawning
        migrations","DutchTerm":"Paaimigraties","URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_4d1412b7","DasKeywordDescr":null},{"ThesaurusTerm":"Tracking
        data","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Tracking
        data","DutchTerm":null,"URI":null,"DasKeywordDescr":null}],"parents":[{"DasID":5912,"Acronym":null,"EngAbstract":"The
        European Tracking Network is a pan-European biotelemetry network that aims
        at the integration of regional telemetry initiatives into a sustainable, efficient
        and integrated network embedded in the international context. Data is integrated
        in the ETN data system that is part of the ETN virtual lab developed by LifeWatch.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","StandardTitle":"European
        Tracking Network (ETN) data","doi":null,"vlizDoi":null},{"DasID":5250,"Acronym":null,"EngAbstract":"As
        part of the Belgian LifeWatch observatory, a permanent acoustic receiver network
        for fish tracking is established in the Belgian Part of the North Sea and
        the Western Scheldt. Using acoustic telemetry distribution, movements and
        habitat use of tagged migratory fish can be tracked. Tags or transmitters
        are surgically implanted in the belly of individual fish. When swimming in
        the vicinity of an acoustic receiver (Vemco), the information of the unique
        ID-code of the transmitter is stored on the receiver together with an exact
        timing of the event. When signals are simultaneously received by multiple
        receivers, an exact positioning of the tagged individuals can be derived from
        the raw data. In total 40 transmitters are implanted and 51 acoustic receivers
        are installed on buoys and other platforms.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","StandardTitle":"LifeWatch
        observatory data: fish acoustic receiver network","doi":null,"vlizDoi":null}],"children":null,"othrel":null,"othrelrev":[{"DasID":8600,"Acronym":"2024_bovenschelde","StandardTitle":"Acoustic
        telemetry network in the non-tidal River Scheldt and its tributaries","Relation":"Related
        Dataset","RelationY":"Related Dataset","RelID":11,"doi":null,"vlizDoi":null}],"ownerships":[{"OrderNr":1,"Surname":"Coeck","Firstname":"Johan","Initials":"J.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"INBO","OrigNameLangCode":"en","OrigNameLangID":15,"FullOrigName":"Flemish
        Government; Policy Domain Environment; Research Institute for Nature and Forest","InsOwnerCNT":5,"PersID":7223,"InsID":5443,"FullInstitute":"Vlaamse
        overheid; Beleidsdomein Omgeving; Instituut voor Natuur- en Bosonderzoek","RoleID":24,"Role":"Contact","OrigName":"Research
        Institute for Nature and Forest","StandardName":"Instituut voor Natuur- en
        Bosonderzoek","FullAcronym":"LNE-INBO","ORC":"https:\/\/orcid.org\/0000-0003-2732-7428","ROR":null},{"OrderNr":2,"Surname":"Coeck","Firstname":"Johan","Initials":"J.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"INBO","OrigNameLangCode":"en","OrigNameLangID":15,"FullOrigName":"Flemish
        Government; Policy Domain Environment; Research Institute for Nature and Forest","InsOwnerCNT":5,"PersID":7223,"InsID":5443,"FullInstitute":"Vlaamse
        overheid; Beleidsdomein Omgeving; Instituut voor Natuur- en Bosonderzoek","RoleID":61,"Role":"Data
        creator"[...]
