http_interactions:
- request:
    method: GET
    uri: https://marineinfo.org/id/dataset/6331.json
  response:
    status: 200
    headers:
      content-disposition: attachment; filename="marineinfo-dataset-6331.json"
      content-type: application/json; charset=utf-8;
      last-modified: Fri, 10 Apr 2026 01:42:12 GMT
      link: https://marineinfo.org/id/dataset/6331; rel="describedby"; type="text/turtle"
    body:
      string: |2
            {"datasetrec":{"DasID":6331,"Acronym":"DZ","StandardTitle":"Delfzijl 2014-2015","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"The migration of silver eel was studied near two pumping stations in Delfzijl, The Netherlands, during 2014-2015","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":"n.a.","AccessConstraints":null,"UDate":"2020-08-27","CDate":"2019-10-07","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-10 01:42:12.540544","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":1,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research: field survey","Progress":"Completed","AccessConstraint":"Unrestricted after moratorium period","AccConstrEN":"Unrestricted after moratorium period","AccConstrDisplay":null,"License":null,"AccConstrDescription":"Data are initially restricted, but the access condition relaxes to academic or unrestricted once a specified period of time after an event (such as collection, publication, completion of QC procedures or project cessation) has elapsed","Lineage":null,"AccConID":8},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic telemetry","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_3563933f","Description":null,"OrigThesTerm":"Acoustic telemetry","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_3563933f","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic Telemetry","ThesTypID":30,"ThesType":"ETN Context","Code":null,"Description":"Acoustic telemetry uses acoustic signals (also called ‘pings’) which propagate into the water, and are detected by acoustic receivers","OrigThesTerm":"Acoustic Telemetry","DutchTerm":"Akoestische Telemetrie","URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Tracking","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_c4d65583","Description":null,"OrigThesTerm":"Tracking","DutchTerm":"Tracking; het volgen","URI":"http://aims.fao.org/aos/agrovoc/c_c4d65583","DasKeywordDescr":null}],"parents":[{"DasID":5912,"Acronym":null,"EngAbstract":"The European Tracking Network is a pan-European biotelemetry network that aims at the integration of regional telemetry initiatives into a sustainable, efficient and integrated network embedded in the international context. Data is integrated in the ETN data system that is part of the ETN virtual lab developed by LifeWatch.","License":"https://creativecommons.org/licenses/by/4.0/","StandardTitle":"European Tracking Network (ETN) data","doi":null,"vlizDoi":null}],"children":null,"othrel":null,"othrelrev":null,"ownerships":[{"OrderNr":1,"Surname":"Winter","Firstname":"Erwin","Initials":"E.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"WMR","OrigNameLangCode":null,"OrigNameLangID":null,"FullOrigName":null,"InsOwnerCNT":4,"PersID":8912,"InsID":14177,"FullInstitute":"Wageningen University and Research Centre; Wageningen Marine Research","RoleID":24,"Role":"Contact","OrigName":null,"StandardName":"Wageningen Marine Research","FullAcronym":"WUR-WMR","ORC":null,"ROR":null},{"OrderNr":2,"Surname":"Winter","Firstname":"Erwin","Initials":"E.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"WMR","OrigNameLangCode":null,"OrigNameLangID":null,"FullOrigName":null,"InsOwnerCNT":4,"PersID":8912,"InsID":14177,"FullInstitute":"Wageningen University and Research Centre; Wageningen Marine Research","RoleID":61,"Role":"Data creator","OrigName":null,"StandardName":"Wageningen Marine Research","FullAcronym":"WUR-WMR","ORC":null,"ROR":null},{"OrderNr":3,"Surname":"van Keeken","Firstname":"Olvin","Initials":"O.","PerPublicFlag":1,"AdrID":161543,"Email":"olvin.van.Keeken@wur.nl","InsPublicFlag":1,"Acronym":"WMR","OrigNameLangCode":null,"OrigNameLangID":null,"FullOrigName":null,"InsOwnerCNT":4,"PersID":10002,"InsID":14177,"FullInstitute":"Wageningen University and Research Centre; Wageningen Marine Research","RoleID":61,"Role":"Data creator","OrigName":null,"StandardName":"Wageningen Marine Research","FullAcronym":"WUR-WMR","ORC":null,"ROR":null},{"OrderNr":4,"Surname":"Griffioen","Firstname":"Ben","Initials":"B.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"WMR","OrigNameLangCode":null,"OrigNameLangID":null,"FullOrigName":null,"InsOwnerCNT":4,"PersID":35352,"InsID":14177,"FullInstitute":"Wageningen University and Research Centre; Wageningen Marine Research","RoleID":61,"Role":"Data creator","OrigName":null,"StandardName":"Wageningen Marine Research","FullAcronym":"WUR-WMR","ORC":null,"ROR":null}],"taxterms":[{"DasTaxtTypID":1,"DasTaxtType":"Taxonomic coverage","TaxtID":35982,"TaxTerm":"Anguilla anguilla","AphiaID":126281,"DutchTerm":"Paling"}],"frameworks":null,"otherterms":null,"temporal":[{"DasDateID":5074,"StartYear":2014,"EndYear":2015,"StartDay":null,"EndDay":null,"StartDate":"2014-01-01","EndDate":"2015-01-01","DasDate":null,"Resolution":"Quasi continuous (< 1 min.)","ResolutionNL":"Quasi continu (< 1 min.)","Notes":null,"StartMonth0":null,"StartMonth":null,"StartMonthNL":null,"EndMonth0":null,"EndMonth":null,"EndMonthNL":null,"Progress":"Completed","ProgressNL":"Afgelopen"}],"geographical":[{"GeoTerm":null,"DasGeoID":10501,"DasGeoTerm":null,"DasID":6331,"GeotID":null,"X":null,"Y":null,"MaxX":null,"MaxY":null,"StationName":"Delfzijl","Precision":null,"CoordSystID":null,"GeoDatumID":null,"OrigCoordMinX":null,"OrigCoordMinY":null,"OrigCoordMaxX":null,"OrigCoordMaxY":null,"OrderNr":null,"Projection":null,"GeoDatum":null,"GeoObjectID":null,"OrigGeoTerm":null,"DutchTerm":null}],"meastypes":null,"dasthemes":[{"DasThemeID":28,"DasTheme":"Biology > Fish","DasTheme0":"Fish","DutchTerm":"Vis"},{"DasThemeID":35,"DasTheme":"Fisheries","DasTheme0":"Fisheries","DutchTerm":"Visserij"}],"projects":null,"refs":null,"urls":[{"URL":"https://rshiny.lifewatch.be/etn-data/","externalID":null,"URLTypeCode":null,"URLType":"Online dataset","URLTypID":19,"downloadURL":null,"FileName":null}],"pictures":null,"urlmaps":null,"spatreps":null,"fileformats":null,"resmessage":"","complete":1}
  recorded_at: 2026-04-21 08:28:21
[...]
