http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animal_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"ADST-Shark"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08ef70421ad4dc
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08ef70421ad4dc/
      x-ocpu-r: R version 4.5.3 (2026-03-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-10 12:24:35 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x08ef70421ad4dc/R/.val
        /ocpu/tmp/x08ef70421ad4dc/R/credentials
        /ocpu/tmp/x08ef70421ad4dc/R/get_animal_projects
        /ocpu/tmp/x08ef70421ad4dc/stdout
        /ocpu/tmp/x08ef70421ad4dc/source
        /ocpu/tmp/x08ef70421ad4dc/console
        /ocpu/tmp/x08ef70421ad4dc/info
        /ocpu/tmp/x08ef70421ad4dc/files/DESCRIPTION
  recorded_at: 2026-04-10 12:24:35
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x08ef70421ad4dc/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.3 (2026-03-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-10 12:24:36 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJx9UrFOwzAQdeoESIBSiYmPaCU2xiJVTGwtEltkEhcMdlzZV6FO8B1ILPwRf8LIRDkncUmN
        wJJ9vuf
        37s5nX2eEEErihBKa4JYkV7OL4Rlix+js4zzEGRHSe0E7qPcxSdFm55PpbDi9Y+Yh
        ONlhlVBMBmjs+P
        /FoH13Mn6/HJN6xL0OMykkszYMOWHA0X558dOnE+6+NeJo/TefNPwPz//l
        d3XR6U8fTl6DylKjH0cVU
        9y2pN4zLmsc4RU8aVB3tu3Awuh7XkAuyhY58EihSx5isFp4rA9c
        csXBrLrohumS+RwWmIG8dJdvkD1e
        lVu+ZCBgucmXSl3ddoFMacNAG7FULXIklLAuBrO8rn67
        5dT/BbiReTlvPYqej+iko7lxZeKLfAOZOGa
        j
  recorded_at: 2026-04-10 12:24:36
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=6557&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":6557,"Acronym":null,"StandardTitle":"ADST-Shark:
        Unravelling the movement behaviour of starry smooth hound using ADST tags","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"In
        this field study the potential of Acoustic-Data-Storage-Tags (ADST) is tested
        using starry smooth hound (<i>Mustelas asterias<\/i>) as a model species.
        ADST tags are a novel product of Vemco -Innovasea combining acoustic tag technology
        with DST. In this study the movement behaviour of the species in the Southern
        North Sea is investigated.","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":"2025-07-01","OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":"Reubens,
        J.; Pohl, L.; Deneudt, K.; Flanders Marine Institute: Belgium; (2023): ADST-Shark:
        Unravelling the movement behaviour of starry smooth hound using ADST tags.
        Marine Data Archive.","AccessConstraints":null,"UDate":"2025-02-03","CDate":"2020-09-04","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-03
        01:47:42.174469","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research:
        field survey","Progress":"Completed","AccessConstraint":"Attribution (CC BY)","AccConstrEN":"Attribution
        (CC BY)","AccConstrDisplay":"<a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\"><img alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https:\/\/www.marinespecies.org\/aphia\/images\/cc\/by.png\" \/><\/a>
        This dataset is licensed under a <a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\">Creative Commons Attribution 4.0 International License<\/a>.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","AccConstrDescription":"This
        license lets others distribute, remix, tweak, and build upon your work, even
        commercially, as long as they credit you for the original creation. This is
        the most accommodating of licenses offered. Recommended for maximum dissemination
        and use of licensed materials.","Lineage":null,"AccConID":21},"dois":[{"DOIID":855,"PublicationYear":2023,"DOI":"10.14284\/605","Citation":"Reubens,
        J.; Pohl, L.; Deneudt, K.; Flanders Marine Institute: Belgium; (2023): ADST-Shark:
        Unravelling the movement behaviour of starry smooth hound using ADST tags.
        Marine Data Archive.","MDAID":"VLIZ_00000311_64799ab2e6512664675076","Moratorium":0,"MDAURL":"https:\/\/mda.vliz.be\/directlink.php?fid=VLIZ_00000311_64799ab2e6512664675076","CurrentDOI":1,"Active":1,"URL":null,"downloadURL":"https:\/\/mda.vliz.be\/download.php?file=VLIZ_00000311_64799ab2e6512664675076"}],"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic Archival","ThesTypID":30,"ThesType":"ETN
        Context","Code":null,"Description":"For devices that combine Acoustic Telemetry
        with Archival Data","OrigThesTerm":"Acoustic Archival","DutchTerm":"Acoustic
        Archival","URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic data
        storage tag (ADST)","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Acoustic
        data storage tag (ADST)","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        telemetry","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_3563933f","Description":null,"OrigThesTerm":"Acoustic
        telemetry","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_3563933f","DasKeywordDescr":null},{"ThesaurusTerm":"ANE,
        North Sea, Southern Bight","ThesTypID":34,"ThesType":"ASFA Geoterms","Code":null,"Description":null,"OrigThesTerm":"ANE,
        North Sea, Southern Bight","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Electronic
        tagging","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Electronic
        tagging","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Movement
        ecology","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Movement
        ecology","DutchTerm":null,"URI":null,"DasKeywordDescr":null}],"parents":[{"DasID":5912,"Acronym":null,"EngAbstract":"The
        European Tracking Network is a pan-European biotelemetry network that aims
        at the integration of regional telemetry initiatives into a sustainable, efficient
        and integrated network embedded in the international context. Data is integrated
        in the ETN data system that is part of the ETN virtual lab developed by LifeWatch.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","StandardTitle":"European
        Tracking Network (ETN) data","doi":null,"vlizDoi":null}],"children":null,"othrel":null,"othrelrev":[{"DasID":8158,"Acronym":null,"StandardTitle":"Archival
        data series and acoustic detections of acoustic data storage tags in the southern
        North Sea","Relation":"Related Dataset","RelationY":"Related Dataset","RelID":11,"doi":null,"vlizDoi":"10.14284\/581"}],"ownerships":[{"OrderNr":null,"Surname":"Reubens","Firstname":"Jan","Initials":"J.","PerPublicFlag":1,"AdrID":167762,"Email":"jan.reubens@vliz.be","InsPublicFlag":1,"Acronym":"VLIZ","OrigNameLangCode":"en","OrigNameLangID":15,"FullOrigName":"Flanders
        Marine Institute","InsOwnerCNT":5,"PersID":14823,"InsID":36,"FullInstitute":"Vlaams
        Instituut voor de Zee","RoleID":61,"Role":"Data creator","OrigName":"Flanders
        Marine Institute","StandardName":"Vlaams Instituut voor de Zee","FullAcronym":"VLIZ","ORC":"https:\/\/orcid.org\/0000-0002-9823-5670","ROR":"https:\/\/ror.org\/0496vr396"},{"OrderNr":null,"Surname":"Reubens","Firstname":"Jan","Initials":"J.","PerPublicFlag":1,"AdrID":167762,"Email":"jan.reubens@vliz.be","InsPublicFlag":1,"Acronym":"VLIZ","OrigNameLangCode":"en","OrigNameLangID":15,"FullOrigName":"Flanders
        Marine Institute","InsOwnerCNT":5,"PersID":14823,"InsID":36,"FullInstitute":"Vlaams
        Instituut voor de Zee","RoleID":24,"Role":"Contact","OrigName":"Flanders Marine
        Institute","StandardName":"Vlaams Instituut[...]
[...]
