http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=8468&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":8468,"Acronym":"Swiss_AcTel","StandardTitle":"Swiss
        Acoustic Telemetry Network","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"<p>The
        Swiss acoustic telemetry project is concerned with identifying the seasonal
        movement and migration of several fish species. These movements will be linked
        to different environmental cues, with a special interest for heat stress and
        cold water refugia<\/p>","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":"2028-09-01","OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":null,"DescrTransFlag":null,"Citation":"eawag-FishEc
        (2024); Swiss Acoustic Telemetry Network. Finding broad-scale movement patterns
        and utilization of cold-water refuges by freshwater fish.&nbsp;","AccessConstraints":null,"UDate":"2024-02-02","CDate":"2024-02-02","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-09
        01:43:43.386022","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":0,"FreshFlag":1,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research:
        field experiment","Progress":"In Progress","AccessConstraint":"This work is
        licensed under <a target=''_blank'' href=''http:\/\/vocab.nerc.ac.uk\/collection\/L08\/current\/MO''>http:\/\/vocab.nerc.ac.uk\/collection\/L08\/current\/MO<\/a>
        meaning it is under moratorium until 2028-09-01","AccConstrEN":"This work
        licensed under http:\/\/vocab.nerc.ac.uk\/collection\/L08\/current\/MO meaning
        it is under moratorium until 2028-09-01","AccConstrDisplay":null,"License":"http:\/\/vocab.nerc.ac.uk\/collection\/L08\/current\/MO\/","AccConstrDescription":null,"Lineage":null,"AccConID":21,"UnderEmbargo":true},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic arrays","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_2cdfca90","Description":null,"OrigThesTerm":"Acoustic
        arrays","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_2cdfca90","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic
        data","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        detection","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic
        detection","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"Thesaurus[...]
[...]
