http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=8856&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":8856,"Acronym":"2004_Gudena","StandardTitle":"Acoustic
        receiver array in the Gudena River, Denmark, from 2004-2006","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"<p>The
        population of European silver eel (<i>Anguilla anguilla)<\/i> has declined
        tremendously in the last decades. The cause of this decline is unknown, and
        it is necessary to investigate the migratory behaviour and survival rates
        of silver eels during the reproductive migration in order to understand if
        the decline is related to factors acting during that migration. We estimated
        survival and progression rates of European silver eel migrating in the lower
        part of the River Gudenaa and during the first phase of the marine migration
        in the Randers Fjord in Denmark. &nbsp;Migration was monitored using an array
        of 14 Innovasea (VR2) acoustic receivers distributed accross 10 stations.
        Progression rate and mortality in the river, inner part of the fjord and outer
        part of the fjord were estimated.<\/p>","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":null,"DescrTransFlag":null,"Citation":"Aarestrup,
        K.; Thorstad, EB.; Koed, A.; Svendsen, JC.; Jepsen, N.; Pedersen, MI.; &nbsp;\u00d8kland,
        F.; (2004) Acoustic receiver array in the Gudena River, Denmark, from 2005-2005","AccessConstraints":null,"UDate":"2025-05-07","CDate":"2025-05-07","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2025-07-02
        08:33:20.512335","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":0,"FreshFlag":1,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Sensor
        platform","Progress":"Completed","AccessConstraint":"Attribution (CC BY)","AccConstrEN":"Attribution
        (CC BY)","AccConstrDisplay":"<a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\"><img alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https:\/\/www.marinespecies.org\/aphia\/images\/cc\/by.png\" \/><\/a>
        This dataset is licensed under a <a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\">Creative Commons Attribution 4.0 International License<\/a>.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","AccConstrDescription":"This
        license lets others distribute, remix, tweak, and build upon your work, even
        commercially, as long as they credit you for the original creation. This is
        the most accommodating of licenses offered. Recommended for maximum dissemination
        and use of licensed materials.","Lineage":null,"AccConID":21},"dois":[{"DOIID":1172,"PublicationYear":2025,"DOI":"10.14284\/735","Citation":"Aarestrup,
        K.; Thorstad, EB.; Koed, A.; Svendsen, JC.; Jepsen, N.; Pedersen, MI.; \u00a0\u00d8kland,
        F.; (2004) Acoustic receiver array in the Gudena River, Denmark, from 2005-2005","MDAID":null,"Moratorium":0,"MDAURL":null,"CurrentDOI":1,"Active":1,"URL":null,"downloadURL":null}],"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic arrays","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_2cdfca90","Description":null,"OrigThesTerm":"Acoustic
        arrays","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_2cdfca90","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic
        data","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        detection","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic
        detection","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"Thesaurus[...]
[...]
