http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=6331&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":6331,"Acronym":"DZ","StandardTitle":"Delfzijl
        2014-2015","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"The
        migration of silver eel was studied near two pumping stations in Delfzijl,
        The Netherlands, during 2014-2015","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":"n.a.","AccessConstraints":null,"UDate":"2020-08-27","CDate":"2019-10-07","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-10
        01:42:12.540544","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":1,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research:
        field survey","Progress":"Completed","AccessConstraint":"Unrestricted after
        moratorium period","AccConstrEN":"Unrestricted after moratorium period","AccConstrDisplay":null,"License":null,"AccConstrDescription":"Data
        are initially restricted, but the access condition relaxes to academic or
        unrestricted once a specified period of time after an event (such as collection,
        publication, completion of QC procedures or project cessation) has elapsed","Lineage":null,"AccConID":8},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic telemetry","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_3563933f","Description":null,"OrigThesTerm":"Acoustic
        telemetry","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_3563933f","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        Telemetry","ThesTypID":30,"ThesType":"ETN Context","Code":null,"Description":"Acoustic
        telemetry uses acoustic signals (also called ‘pings’) which propagate into
        the water, and are detected by acoustic receivers","OrigThesTerm":"Acoustic
        Telemetry","DutchTerm":"Akoestische Telemetrie","URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Tracking","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_c4d65583","Description":null,"OrigThesTerm":"Tracking","DutchTerm":"Tracking;
        het volgen","URI":"http://aims.fao.org/aos/agrovoc/c_c4d65583","DasKeywordDescr":null}],"parents":[{"DasID":5912,"Acronym":null,"EngAbstract":"The
        European Tracking Network is a pan-European biotelemetry network that aims
        at the integration of regional telemetry initiatives into a sustainable, efficient
        and integrated network embedded in the international context. Data is integrated
        in the ETN data system that is part of the ETN virtual lab developed by LifeWatch.","License":"https://creativecommons.org/licenses/by/4.0/","StandardTitle":"European
        Tracking Network (ETN) data","doi":null,"vlizDoi":null}],"children":null,"othrel":null,"othrelrev":null,"ownerships":[{"OrderNr":1,"Surname":"Winter","Firstname":"Erwin","Initials":"E.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"WMR","OrigNameLangCode":null,"OrigNameLangID":null,"FullOrigName":null,"InsOwnerCNT":4,"PersID":8912,"InsID":14177,"FullInstitute":"Wageningen
        University and Research Centre; Wageningen Marine Research","RoleID":24,"Role":"Contact","OrigName":null,"StandardName":"Wageningen
        Marine Research","FullAcronym":"WUR-WMR","ORC":null,"ROR":null},{"OrderNr":2,"Surname":"Winter","Firstname":"Erwin","Initials":"E.","PerPublicFlag":1,"AdrID":null,"Email":null,"InsPublicFlag":1,"Acronym":"WMR","OrigNameLangCode":null,"OrigNameLangID":null,"FullOrigName":null,"InsOwnerCNT":4,"PersID":8912,"InsID":14177,"FullInstitute":"Wageningen
        University and Research Centre; Wageningen Marine Research","RoleID":61,"Role":"Data
        creator","OrigName":null,"StandardName":"Wageningen Marine Research","FullAcronym":"WUR-WMR","ORC":null,"ROR"[...]
[...]
