http_interactions:
- request:
    method: GET
    uri: https://marineinfo.org/id/dataset/7915.json
  response:
    status: 200
    headers:
      content-disposition: attachment; filename="marineinfo-dataset-7915.json"
      content-type: application/json; charset=utf-8;
      last-modified: Fri, 27 Mar 2026 01:42:29 GMT
      link: https://marineinfo.org/id/dataset/7915; rel="describedby"; type="text/turtle"
    body:
      string: |2
            {"datasetrec":{"DasID":7915,"Acronym":"BOORAMA","StandardTitle":"Buoys of Opportunity - Research Moored Array for African-Asian-Australian Monsoon Analysis and Prediction","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":"fwhoriskey@dal.ca","VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"The RAMA project is a joint effort among the United States, Japan, India, Indonesia, China, Africa, France, and Thailand to collect oceanic and meteorological observations in the historically data-sparse Indian Ocean to enhance monsoon research and forecasting.","EngDescr":"Collaborating institutions are: the U.S. National Oceanic and Atmospheric Administration Pacific Marine Environmental Laboratory (NOAA-PMEL), Japan Agency for Marine-Earth Science and Technology (JAMSTEC), Indian Ministry of Earth Sciences (MoES), Indian National Centre for Ocean Information Services (INCOIS), Indian National Institute of Ocean Technology (NIOT), Indian National Institute of Oceanography (NIO), Indonesian Agency for the Assessment and Application of Technology (BPPT), Indonesian Ministry of Marine Affairs and Fisheries (KKP), Chinese First Institute of Oceanography/State Oceanic Administration (FIO/SOA), Agulhas and Somali Large Marine Ecosystems Project (ASCLME), French Institut de Recherche pour le Developpement (IRD), French Institut National des Sciences de l'Univers (INSU), French National Meteorological Service (Meteo-France), and Bay of Bengal Large Marine Ecosystem Project (BOBLME). In 2014, OTN began providing VR2W receivers for deployment on RAMA moorings to capture opportunistic acoustic detections. The first four VR2Ws were deployed in late 2014 by NOAA-PMEL in Bay of Bengal.","OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":"Whoriskey, F. 2014. Buoys of Opportunity - Research Moored Array for African-Asian-Australian Monsoon Analysis and Prediction","AccessConstraints":null,"UDate":"2024-01-30","CDate":"2021-11-25","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-03-27 01:42:29.872571","timezone_type":1,"timezone":"+01:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research: field survey","Progress":"In Progress","AccessConstraint":"Attribution (CC BY)","AccConstrEN":"Attribution (CC BY)","AccConstrDisplay":"<a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\" target=\"_blank\"><img alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\" src=\"https://www.marinespecies.org/aphia/images/cc/by.png\" /></a> This dataset is licensed under a <a rel=\"license\" href=\"https://creativecommons.org/licenses/by/4.0/\" target=\"_blank\">Creative Commons Attribution 4.0 International License</a>.","License":"https://creativecommons.org/licenses/by/4.0/","AccConstrDescription":"This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of licenses offered. Recommended for maximum dissemination and use of licensed materials.","Lineage":null,"AccConID":21},"dois":null,"spcols":null,"keywords":[{"ThesaurusTerm":"Acoustic data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic data","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic telemetry","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_3563933f","Description":null,"OrigThesTerm":"Acoustic telemetry","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_3563933f","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic Telemetry","ThesTypID":30,"ThesType":"ETN Context","Code":null,"Description":"Acoustic telemetry uses acoustic signals (also called ‘pings’) which propagate into the water, and are detected by acoustic receivers","O[...]
