http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=6336&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":6336,"Acronym":"2011_Loire","StandardTitle":"Migration
        behaviour of silver eels (<i>Anguilla anguilla<\/i>) in a large estuary of
        Western Europe inferred from acoustic telemetry","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"<p>Despite
        intensive research on eels, the behaviour of silver eels in estuaries during
        their migration remains poorly documented which creates serious gaps in planning
        the restoration of the European eel population. Estuaries are complex environments
        that can be exposed to large human pressures which could impede, delay migration
        or impact fish reproductive potential. This study investigated the estuarine
        migration of female silver eels in the Loire River using an acoustic telemetry
        system. An array of 31 hydrophones was deployed in the Loire estuary and 51
        female seaward migrants were tagged with acoustic transmitters and released
        20 km upstream of the estuary, at 100 km from the river mouth. 94% of the
        silver eels could be followed down to the river mouth. Mean global estuarine
        speed was 4.5 km days 1, i.e., 0.05 m s 1 and residence times varied significantly
        between upstream and lower compartments. Mean directional migration speed
        was found to be 48.6 km days 1, i.e., 0.56 m s 1, and appeared correlated
        with total length and body weight. Also, daily escapement rate was highly
        influenced by river flow.<\/p>","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":"2015-11-11","OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":"Bultel,
        E.; Lasne, E.; Acou, .A.; Guillaudeau, J.; Bertier, C.; Feunteun, E.; (2014)
        Migration behaviour of silver eels (<i>Anguilla anguilla<\/i>) in a large
        estuary of Western Europe inferred from acoustic telemetry.","AccessConstraints":null,"UDate":"2025-09-01","CDate":"2019-10-07","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-03
        01:47:42.174469","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":1,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research:
        field survey","Progress":"Completed","AccessConstraint":"Attribution (CC BY)","AccConstrEN":"Attribution
        (CC BY)","AccConstrDisplay":"<a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\"><img alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https:\/\/www.marinespecies.org\/aphia\/images\/cc\/by.png\" \/><\/a>
        This dataset is licensed under a <a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\">Creative Commons Attribution 4.0 International License<\/a>.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","AccConstrDescription":"This
        license lets others distribute, remix, tweak, and build upon your work, even
        commercially, as long as they credit you for the original creation. This is
        the most accommodating of licenses offered. Recommended for maximum dissemination
        and use of licensed materials.","Lineage":null,"AccConID":21},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic data","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic
        data","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        detection","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic
        detection","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        devices","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic
        devices","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        receivers","ThesTypID":[...]
[...]
