http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=8853&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":8853,"Acronym":" Winde_Tjeukemeer_2023-2026","StandardTitle":"Acoustic
        telemetry receiver array in lake Tjeukemeer and rivers Linde and Tjonger,
        Fryslân, the Netherlands.","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"<p>Acoustic
        telemetry receiver array in lake Tjeukemeer and rivers Linde and Tjonger,
        Fryslân, the Netherlands.</p>","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":null,"DescrTransFlag":null,"Citation":"Verspui,
        R.; Klaver, M.H.H. (2026) Winde_Tjeukemeer_2023-2026: Acoustic telemetry receiver
        array in lake Tjeukemeer and rivers Linde and Tjonger, Fryslân, the Netherlands.","AccessConstraints":null,"UDate":"2025-04-30","CDate":"2025-04-30","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2025-04-30
        11:37:15.021559","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":0,"FreshFlag":1,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Sensor
        platform","Progress":"In Progress","AccessConstraint":"Attribution-NonCommercial-ShareAlike
        (CC BY-NC-SA)","AccConstrEN":"Attribution-NonCommercial-ShareAlike (CC BY-NC-SA)","AccConstrDisplay":"<a
        rel=\"license\" href=\"https://creativecommons.org/licenses/by-nc-sa/4.0/\"
        target=\"_blank\"><img alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https://www.marinespecies.org/aphia/images/cc/by-nc-sa.png\" /></a>
        This dataset is licensed under a <a rel=\"license\" href=\"https://creativecommons.org/licenses/by-nc-sa/4.0/\"
        target=\"_blank\">Creative Commons Attribution-NonCommercial-ShareAlike 4.0
        International License</a>.","License":"https://creativecommons.org/licenses/by-nc-sa/4.0","AccConstrDescription":"This
        license lets others remix, tweak, and build upon your work non-commercially,
        as long as they credit you and license their new creations under the identical
        terms.","Lineage":null,"AccConID":25},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European
        Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic arrays","ThesTypID":1,"ThesType":"ASFA
        Thesaurus List","Code":"c_2cdfca90","Description":null,"OrigThesTerm":"Acoustic
        arrays","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_2cdfca90","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic
        data","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        detection","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic
        detection","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm"[...]
[...]
