http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=7970&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":7970,"Acronym":"V2LSMQUB","StandardTitle":"SeaMonitor
        (QUB): Assessing the regional connectivity of endangered flapper skate and
        basking sharks in the NE Atlantic","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"The
        SeaMonitor project aims at delivering Europe''s largest telemetric marine
        array to produce spatial models supporting the conservation of a wide range
        of marine species. Within these broader project aims, the team from Queen''s
        University Belfast are responsible for the work packages focussed on critically
        endangered flapper skate (also known as common skate) and the globally endangered
        basking shark. Overall, our study aims to assess the regional connectivity
        (Ireland, Northern Ireland, western Scotland) and spatial ecology of these
        species using satellite and acoustic telemetry combined with genetics techniques,
        to provide evidence based management recommendations for government conservation
        efforts.","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":null,"OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":0,"DescrTransFlag":0,"Citation":"Phillips,
        N., Garbett, A., Finlay, C., Houghton, J., Collins, P. 2019. SeaMonitor (QUB):
        Assessing the regional connectivity of endangered flapper skate and basking
        sharks in the NE Atlantic","AccessConstraints":null,"UDate":"2024-01-30","CDate":"2021-12-16","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-04-09
        01:43:43.386022","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research:
        field survey","Progress":"In Progress","AccessConstraint":"Attribution (CC
        BY)","AccConstrEN":"Attribution (CC BY)","AccConstrDisplay":"<a rel=\"license\"
        href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\" target=\"_blank\"><img
        alt=\"Creative Commons License\" style=\"border:0px;height:15px;width:80px;vertical-align:middle;\"
        src=\"https:\/\/www.marinespecies.org\/aphia\/images\/cc\/by.png\" \/><\/a>
        This dataset is licensed under a <a rel=\"license\" href=\"https:\/\/creativecommons.org\/licenses\/by\/4.0\/\"
        target=\"_blank\">Creative Commons Attribution 4.0 International License<\/a>.","License":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","AccConstrDescription":"This
        license lets others distribute, remix, tweak, and build upon your work, even
        commercially, as long as they credit you for the original creation. This is
        the most accommodating of licenses offered. Recommended for maximum dissemination
        and use of licensed materials.","Lineage":null,"AccConID":21},"dois":null,"spcols":null,"keywords":[{"ThesaurusTerm":"Acoustic
        arrays","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_2cdfca90","Description":null,"OrigThesTerm":"Acoustic
        arrays","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_2cdfca90","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic
        data","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agrovoc\/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic
        telemetry","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_3563933f","Description":null,"OrigThesTerm":"Acoustic
        telemetry","DutchTerm":null,"URI":"http:\/\/aims.fao.org\/aos\/agr[...]
