http_interactions:
- request:
    method: GET
    uri: https://vliz.be/en/imis?dasid=5871&show=json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8;
    body:
      string: '{"datasetrec":{"DasID":5871,"Acronym":null,"StandardTitle":"2014_DEMER
        - Acoustic telemetry data for four fish species in the Demer river (Belgium)","OrigTitle":null,"OrigTitleLangID":null,"OrigTitleLangCode":null,"OrigTitleLang":null,"OrigTitleLangNL":null,"VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"This
        is an acoustic telemetry dataset published by the Research Institute for Nature
        and Forest (INBO). It contains animal (fish) tracking data collected by the
        Permanent Belgian Acoustic Receiver Network <a href=\"https://lifewatch.be/en/fish-acoustic-receiver-network\">(https://lifewatch.be/en/fish-acoustic-receiver-network)</a>
        for the project/study 2014_demer, using VEMCO tags (V7, V13) and receivers
        (VR2W). In total 16 adult individuals of four local wild fish species (<i>Petromyzon
        marinus</i>, <i>Rutilus rutilus</i>, <i>Silurus glanis</i>, <i>Squalius cephalus</i>)
        were captured, tagged and released in 2014, to study the effect of a specific
        barrier on their upstream/downstream migration in the Demer basin.","EngDescr":"<p>Longitudinal
        and lateral connectivity of rivers is necessary for fish to successfully fulfill
        their life cycle. In Flanders, fish are obstructed in their essential free
        migrations by weirs, sluices, mills, and pumping stations, which are needed
        to control the water level. The Demer river drains the eastern part of the
        Scheldt basin. Fish migrating from the sea to the Demer river are obstructed
        by three hydraulic constructions. In this study we [...]
