http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0fd95d9aca38f8
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:19:15 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/<<<opencpu_key>>>/R/.val
        /ocpu/tmp/<<<opencpu_key>>>/R/credentials
        /ocpu/tmp/<<<opencpu_key>>>/R/get_acoustic_projects
        /ocpu/tmp/<<<opencpu_key>>>/stdout
        /ocpu/tmp/<<<opencpu_key>>>/source
        /ocpu/tmp/<<<opencpu_key>>>/console
        /ocpu/tmp/<<<opencpu_key>>>/info
        /ocpu/tmp/<<<opencpu_key>>>/files/DESCRIPTION
  recorded_at: 2026-08-21 10:19:15
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/<<<opencpu_key>>>/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:19:15 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztfQd4VMX2+JJCbwkloV8SpEgCJPSizO5mk2yyjd0UxbLe7N4kl2wJWxKCitgLdlQQxPJs
        D1RUioo
        FVhFBaSlgBwv6sOtTQaz8z9wpu3cTyvO9/3vv977k+yZzZ+7cmTNnTp079+w5XTUa
        TaImqSP8T4ZLTX
        JpSX72NCj1gUI3SD00mg7FUB6o0ST8DOkHUp9wlNxLzIA0EdJ40kPCr5Ab
        IG2C9L5Gk+SG1AzpQUj3Q
        fJC+hjSIUgfQtoMYyJIfSH1gueXQLoRnt0KaRskXBeEdC+07Qlt
        8DgeSIlQ9wLk50J+OdRPgPtHoNwA
        aSGkiyFdAulSqH8Z8hWQdkF6A9oOgZQJ119CPhNyH6Qz
        IO2BNA/qxkD+PTyng2SCVARpDtSNgnw2pO6
        QYP[...]
[...]
