http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d6e6d2bd49037
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d6e6d2bd49037/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:17:43 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0d6e6d2bd49037/R/.val
        /ocpu/tmp/x0d6e6d2bd49037/R/credentials
        /ocpu/tmp/x0d6e6d2bd49037/R/get_acoustic_projects
        /ocpu/tmp/x0d6e6d2bd49037/stdout
        /ocpu/tmp/x0d6e6d2bd49037/source
        /ocpu/tmp/x0d6e6d2bd49037/console
        /ocpu/tmp/x0d6e6d2bd49037/info
        /ocpu/tmp/x0d6e6d2bd49037/files/DESCRIPTION
  recorded_at: 2026-01-20 09:17:42
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d6e6d2bd49037/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:17:43 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztfQd8FEXb+JGEFnqAJPRNQIoQSEJHkLm7XJJLrnF3SQTLubnbJEvubsOVhKAo9l4BQRDL
        a3tBRWk
        ionCKCEhLwS429MWOr4pi5f/Mzsze7SWU1+9t3/dPfr9hdsrOPPP0mdt5uCBZo9Ek
        apLat9MktodHTf
        sSZ37WFKjrDYUukLppNO3OgXJ/jSbhZ0jfk/qEH0lbYiak8ZDGaeQREn6F
        3ABpC6T3NJokD6QmSA9De
        gCSD9LHkI5A+hDSNnjnFki3Qv8dkHZC6gHlIKT7ob07lL2QEqG8
        FfLZkF8F9cfhuR7SAkiXQboc0kKo
        fwnyFZD2QXoN0peQ/JDwGg5AmgvpO+ing2SCVARpFtSN
        gHwmpK6QYK6kOyF1gLlCkMP8SeWQaqG8HtK
        r8H[...]
[...]
