http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0b12834a0d5174
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0b12834a0d5174/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-26 14:03:12 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0b12834a0d5174/R/.val
        /ocpu/tmp/x0b12834a0d5174/R/credentials
        /ocpu/tmp/x0b12834a0d5174/R/get_acoustic_projects
        /ocpu/tmp/x0b12834a0d5174/stdout
        /ocpu/tmp/x0b12834a0d5174/source
        /ocpu/tmp/x0b12834a0d5174/console
        /ocpu/tmp/x0b12834a0d5174/info
        /ocpu/tmp/x0b12834a0d5174/files/DESCRIPTION
  recorded_at: 2025-09-26 14:03:12
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0b12834a0d5174/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-26 14:03:13 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztPQd8FEX3RxJaqAmQhCJsAlKEAAkdQebuckkuucbdJREs5+Zukyy5uw17dwnBhr0XBAQp
        ls/2YQF
        pIqJwiigKQhJQsYAF/bCCjWLl/2ZnZq8kIJ9f//+S3+8xO2Vn3rx5beZ2HhcmazSa
        RE1S2zaaxLbwqG
        lb4szPnghlPSDTCaCLRtOmF+T7aDQJPwH8QMoTjpO6xCyAMQCjNEoPCb9A
        agDYBPCBRpPkAXgY4AEAH
        8AWgBeh3W0At0ObbQDbAbpBPgBwP9R3hbwXIBHymyGdAek1kNYD
        zAW4HOAKgCuh7UuQLgXYBfAGwFcA
        foBzAWYBfA9tdAAmgCKA6VA2BNJpAJ0BYIykuwHawRhB
        SGHcpHKAWsivBXgVnu+Ad/LgGcoS7wQAGiS
        2h/[...]
[...]
