http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x00184f9697319e
      location: http://opencpu.lifewatch.be/ocpu/tmp/x00184f9697319e/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:33:41 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x00184f9697319e/R/.val
        /ocpu/tmp/x00184f9697319e/R/credentials
        /ocpu/tmp/x00184f9697319e/R/get_acoustic_projects
        /ocpu/tmp/x00184f9697319e/stdout
        /ocpu/tmp/x00184f9697319e/source
        /ocpu/tmp/x00184f9697319e/console
        /ocpu/tmp/x00184f9697319e/info
        /ocpu/tmp/x00184f9697319e/files/DESCRIPTION
  recorded_at: 2026-04-23 16:33:41
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x00184f9697319e/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:33:41 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztPQd4VMW6Swq9BkhCPwlIkQRI6EWZ3c0m2WQbu5tEsawnuyfJIVvC2d2EYMNesIOCIIpX
        kQsqSlO
        xwCoiKC0Fu2BBL3ZsIFbeP2dmzu7ZhHJ9971333vh+4Y5M2fOzN//f2bP+XNBZ41G
        k6hJSob/oWg0yS
        XO/Owp0OoNjS5Qumk07WZAu79Gk/ALlB9Jf8Jxci8xE8p4KGPJDAm/QW2A
        sgXKBxpNkgdKE5RHoDwEx
        QflEyiHoXwEZSus2QdKD3h2IZTb4LntUHZAwX1BKA/CuO7Q9kJJ
        hPYLUF8I9TXQfwyu66HMh3I5lCug
        XAn9L0O9DMoeKG/A/IOgDIXrr6D4oZwDZR+UOdA/Cuof
        4BkdFBOUIiizoG8E1DOhdIUC6ybdBaU9rBu
        CGm[...]
[...]
