http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"2013_albertkanaal","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08ad085e1f684c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08ad085e1f684c/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-29 08:52:54 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 5479707
          }
        ]
  recorded_at: 2025-09-29 08:52:54
recorded_with: VCR-vcr/2.0.0
