http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"2013_albertkanaal","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0efd09fa7613d8
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0efd09fa7613d8/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:27:09 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 5479707
          }
        ]
  recorded_at: 2025-09-22 13:27:09
recorded_with: VCR-vcr/2.0.0
