http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"2013_albertkanaal","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e609c9ebf4446
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:28:38 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 5479719
          }
        ]
  recorded_at: 2026-08-21 10:28:38
recorded_with: VCR-vcr/2.1.0
