http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"2013_albertkanaal","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x04ec6d1741077d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x04ec6d1741077d/
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:07:48 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 5479707
          }
        ]
  recorded_at: 2025-09-23 14:07:48
recorded_with: VCR-vcr/2.0.0
