http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"2013_albertkanaal","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x010bb3dc543a8a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x010bb3dc543a8a/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 09:00:03 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 5479719
          }
        ]
  recorded_at: 2026-03-24 09:00:04
recorded_with: VCR-vcr/2.1.0
