http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-04-21","end_date":"2015-04-26","animal_project_code":["2014_demer","2015_dijle"],"limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x020d80b3d1a1af
      location: http://opencpu.lifewatch.be/ocpu/tmp/x020d80b3d1a1af/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:20:42 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x020d80b3d1a1af/R/.val
        /ocpu/tmp/x020d80b3d1a1af/R/animal_project_code
        /ocpu/tmp/x020d80b3d1a1af/R/credentials
        /ocpu/tmp/x020d80b3d1a1af/R/get_acoustic_detections
        /ocpu/tmp/x020d80b3d1a1af/stdout
        /ocpu/tmp/x020d80b3d1a1af/source
        /ocpu/tmp/x020d80b3d1a1af/console
        /ocpu/tmp/x020d80b3d1a1af/info
        /ocpu/tmp/x020d80b3d1a1af/files/DESCRIPTION
  recorded_at: 2025-07-24 08:20:43
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x020d80b3d1a1af/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:20:43 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXQeYFFXWbTJmXIxrVsyiMERX18UICFPAEMR1dZyCUVFgkK6aTFJYs66KkaomiAEFpDCL
        rpEhhyG
        Z15wlwwRA+U/5DoZd+WFgQg2c/b6zp++pW2+qu++7975X1dhzz1gsVitWuw7+H4jF
        6nTvdlHj1rAawj
        gQ2CcWqz+yRprfF+gH9AcygAHA9cBAIA44gAtkAllANpAD5AJ5QD4wCBgM
        DAGGAsOAG4AbgeHACOCfw
        E3AzcAtwK3AbcDtNdImfAa+A/w58AXwJfAV8DXwDfAt8B3wPfAD
        sBxYAawEVgGrgTXAWmAdsB4oAoqB
        EqAU2ABsBDYBPwI/AZtrpD0ZA2oANYFaQG2gDlAXqAfU
        B/YA9gT2AvYG9gH2BY4BjgWOAxoBxwMnACc
        CJw[...]
