http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployment_logs/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":65434,"limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0ed61da2bbb83a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ed61da2bbb83a/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-20 14:52:56 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0ed61da2bbb83a/R/.val
        /ocpu/tmp/x0ed61da2bbb83a/R/credentials
        /ocpu/tmp/x0ed61da2bbb83a/R/get_acoustic_deployment_logs
        /ocpu/tmp/x0ed61da2bbb83a/stdout
        /ocpu/tmp/x0ed61da2bbb83a/source
        /ocpu/tmp/x0ed61da2bbb83a/console
        /ocpu/tmp/x0ed61da2bbb83a/info
        /ocpu/tmp/x0ed61da2bbb83a/files/DESCRIPTION
  recorded_at: 2026-08-20 14:52:56
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0ed61da2bbb83a/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-20 14:52:56 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzsvQWcVVX3+D0KdmP3iIUBzr0zTGCBoGIBIio2qKiohIBd2N3d3R3T3d3d3Y3d78z9rjP/
        F/09D/M
        49869s1mfD5cza51z9l699147zsKtvby8xnmN33zg/80G/vTa7OwFJ00OHIB2HgAG
        sF7beXlNiPfy+u
        tl/elPf/rTn/70pz/96U9/+tOf/vSnP/3pT3/605/+9Kc//elPf/rTn/70
        pz/96U9/+tOf/vSnP/3pT
        3/605/+9Kc//elPf/rTn/70pz/96U9/+tOf/vSnP/3pT3/605/+
        9Kc//elvdH9eOzrOwhrvtdXA39uc
        M99+7mSb3ccnyK4oRSlKUYpSlKIUpShFKUpRilKUohSl
        KEUpSlGKUpSiFKUoRSlKUYpSlKIUpShFKUp
        Ril[...]
