http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployment_logs/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":93144,"limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0690dccaffab45
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0690dccaffab45/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-20 15:07:49 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0690dccaffab45/R/.val
        /ocpu/tmp/x0690dccaffab45/R/credentials
        /ocpu/tmp/x0690dccaffab45/R/get_acoustic_deployment_logs
        /ocpu/tmp/x0690dccaffab45/stdout
        /ocpu/tmp/x0690dccaffab45/source
        /ocpu/tmp/x0690dccaffab45/console
        /ocpu/tmp/x0690dccaffab45/info
        /ocpu/tmp/x0690dccaffab45/files/DESCRIPTION
  recorded_at: 2026-08-20 15:07:49
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0690dccaffab45/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-20 15:07:54 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztHf1rHEV0k7Spba0oBUEQXIJiFJPO7N7HbgRpmg8bbJuQXmP1l+v1solX7yPcbauxihEE
        QRAEoeA
        vkn5/J+1f0CCIIIhCQRREKgiCP+h/0Di3u+9ye3vNze5MdjeXhVz23tzMm/fmvZl5
        782bu+O7BEHoEr
        Z1k//byVth+7HUaJ9CoL0EIKXCHvI6J3S8+2v0il7cX4LwpKFf24Sd5Ll7
        alJ6sw9jnEAoKoqKoqKoK
        CqKiqKiqCgqioq2cpHdUt6emhqR5QiIgAiIgAiIgAgIAyB0PUGA
        c4P3L365n7whz78WjeeND0XjufSs
        WX7nnvm88eKKCZ96YDxv9QjG8+qnK7bncmHF1u4qOmE8
        L3xl4r39/QMb/kt/rtj6vfWD1f7pBeN55Xe
        zn/[...]
