http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployment_logs/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":53790,"limit":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x028e6b6df83532
      location: http://opencpu.lifewatch.be/ocpu/tmp/x028e6b6df83532/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-20 14:16:04 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x028e6b6df83532/R/.val
        /ocpu/tmp/x028e6b6df83532/R/credentials
        /ocpu/tmp/x028e6b6df83532/R/get_acoustic_deployment_logs
        /ocpu/tmp/x028e6b6df83532/stdout
        /ocpu/tmp/x028e6b6df83532/source
        /ocpu/tmp/x028e6b6df83532/console
        /ocpu/tmp/x028e6b6df83532/info
        /ocpu/tmp/x028e6b6df83532/files/DESCRIPTION
  recorded_at: 2026-08-20 14:16:04
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x028e6b6df83532/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-20 14:16:06 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXVtsVEUYPqUt2HIRFQUR5aRq0gLbnJlz2wMksG25RS4NLBcTk7ptT2GTbrfZHspNEiSa
        gJcHg4k
        +EPEBxUQfeODB8KKPPqjcCl0vQSE8oOKNGEED1Jl/divsGpniP5y12aTtPzNnzsz5
        z8z8//f/88/phl
        pN0yq1qrHsbzVLatVr44sjUZZ7gGVYqTaR/XZq2snHyr+l9KtNhnGp0moY
        Hb9uNV0fIabjWka5qFxUL
        ioXlYvKReUizKJbdW7lEsMrJ8vJcrKcvPOkVjmJy5RYNvbLHpaI
        ZSdtucrp4Lmjk4Ge/HMplD98/XWg
        M9+6BnTa+iNAZ38krs9791mgT1zcBbSuQeTvb/gA6ALN
        gPY+PSryj85rgfyV9e9BvvbIYaBLZov2xyy
        A/r[...]
