http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployment_logs/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":1758,"limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0800271d0cfad1
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0800271d0cfad1/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 09:33:01 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0800271d0cfad1/R/.val
        /ocpu/tmp/x0800271d0cfad1/R/credentials
        /ocpu/tmp/x0800271d0cfad1/R/get_acoustic_deployment_logs
        /ocpu/tmp/x0800271d0cfad1/stdout
        /ocpu/tmp/x0800271d0cfad1/source
        /ocpu/tmp/x0800271d0cfad1/console
        /ocpu/tmp/x0800271d0cfad1/info
        /ocpu/tmp/x0800271d0cfad1/files/DESCRIPTION
  recorded_at: 2026-08-21 09:33:01
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0800271d0cfad1/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 09:33:02 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJxlUE0LwjAMjW7Oz4ng79Czd0HwpKCCt1LXTgbbOrqg6I9XU00VtYck75GXvHTfA4AAwohi
        i0po7ba
        LyYzQmACxEMPrjb5zMHzlsEmhASF0nTjJZV1zU5PJ9nq1We4TZBg9If4q8WpKzUpP
        BrvtnNLtf/u3tp
        SF9lsjJmOlq9xcCl2iyBSTfasTnZ20/VCDGiVmphRuCHMdJVFj9sZOZqwS
        eKneLbk5CmqTP1661pyn3
        k/8Mdu4s7/AfwMecqFSfykhLntu6jS1zg7d/gALuTf1
  recorded_at: 2026-08-21 09:33:02
[...]
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x028d4380c085b7/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 09:33:04 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJxlUE0LwjAMjW7Oz4ng79Czd0HwpKCCt1LXTgbbOrqg6I9XU00VtYck75GXvHTfA4AAwohi
        i0po7ba
        LyYzQmACxEMPrjb5zMHzlsEmhASF0nTjJZV1zU5PJ9nq1We4TZBg9If4q8WpKzUpP
        BrvtnNLtf/u3tp
        SF9lsjJmOlq9xcCl2iyBSTfasTnZ20/VCDGiVmphRuCHMdJVFj9sZOZqwS
        eKneLbk5CmqTP1661pyn3
        k/8Mdu4s7/AfwMecqFSfykhLntu6jS1zg7d/gALuTf1
  recorded_at: 2026-08-21 09:33:04
recorded_with: VCR-vcr/2.1.0
