http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":"not_a_station_name","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x00c83f9a37255b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x00c83f9a37255b/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:21:23 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVFFP2zAQfudXnBDSUimEpgUKEWKCjsEDExND4wGh1CRHYzW1I9ul42Wa9rBfUO1pv45f
        snOaUKc
        r24ji2Od833d3vkv6TLwxcM9FCtoww6WIBRsjDIQ0MYvdvQFwEYEPb3342m1v7rRh
        DJMtTWSdTdmjD4
        oPMwN3TIx8aNPdbseXNAU9KBSmpZAPIe2E8OEUCqYN5siVhFdcJABXbCoe
        mUppHXShL8V9PkGRoLV34
        FjJEQqaAmv34MIYVPBRypzs9zROaZzRGI3h3dYn6Cs5nmKelzsn
        5fM6PqrmYx86dMMR0zmyYQZXihWU
        QcdmwPIx8pS9EGkQBGvHLBkZxRKM1sq9p58/aBEG8DT7
        9TT7hg8snzCDUVSvPGK1CNKxkO8V7I5pgky
        5yS6RCqKMrmHdGmbHrIKCl8uE5S1wGOdcGw+/
        FIqqVGlY/vaCD46zhsKFwErE+7vgzaZQty3HviH71r
        rZabpZGWwqr5vOFJqJEqWPhahV222q
        vTLteZQk03NlXhRyAlrSuQnP59ntNYVWSv1/dvtu5RcNUpY/z
        phIc1R1/cO2W/9Fq1iaR35z
        iwldjHv0S7jOql6a++0ThIvh2ZL37uom/cw1v8vRK9Xnh4bigauW5Tx3
        3FIULo5gVcfAP4G7
        wVIF0QiN6oHTNxcNkf5hiZxow5M4RYOJ/QfpuGDD+ksLe8EflXMloiTDZBTbOjx
        T9lxKTWKa
        OMZkzETRfB1bo+bsNznNxLSRhTcnnSgllceMUdQi2of1sR6ut+zRdcpiz5yueO6uwcG9OB
        x4
        gwPSKCUOB5ZAla/9TJmhRNRGMdGZl4jUvu4ETiBVZ21g6b9Mt7X2G4qaJrs=
  recorded_at: 2025-09-10 14:21:23
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":"de-9","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0affb69da0b0fd
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0affb69da0b0fd/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:21:26 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 14927
          }
        ]
  recorded_at: 2025-09-10 14:21:26
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":"de-9"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x096029865853f9
      location: http://opencpu.lifewatch.be/ocpu/tmp/x096029865853f9/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:21:28 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x096029865853f9/R/.val
        /ocpu/tmp/x096029865853f9/R/credentials
        /ocpu/tmp/x096029865853f9/R/get_acoustic_detections_page
        /ocpu/tmp/x096029865853f9/stdout
        /ocpu/tmp/x096029865853f9/source
        /ocpu/tmp/x096029865853f9/console
        /ocpu/tmp/x096029865853f9/info
        /ocpu/tmp/x096029865853f9/files/DESCRIPTION
  recorded_at: 2025-09-10 14:21:28
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x096029865853f9/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:21:29 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwUl2VYlH8ThT3G3+7u7m7d7l27u7u7C7uwEwVsxULswO4ODGwURTFRsQP0vd8Pty77/GLm
        zJl5rm2
        dJkmSJMmSJE/Bv5AkSYoWzT3la/FXVv7IBumTJDE0kiF9KhglQwa7DBnzwFMZMjWV
        IXNB2CNDliLQHS
        JkyFoA6kInWC5DtpzA2myTIEaG[...]
[...]
