http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2010-08-09","end_date":"2011-05-19","acoustic_tag_id":"A69-1303-20695","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d8c599d0fd809
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d8c599d0fd809/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:51 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 47213
          }
        ]
  recorded_at: 2025-09-25 13:08:51
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2010-08-09","end_date":"2011-05-19","acoustic_tag_id":"A69-1303-20695","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e98dae1808441
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e98dae1808441/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:54 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0e98dae1808441/R/.val
        /ocpu/tmp/x0e98dae1808441/R/credentials
        /ocpu/tmp/x0e98dae1808441/R/get_acoustic_detections_page
        /ocpu/tmp/x0e98dae1808441/stdout
        /ocpu/tmp/x0e98dae1808441/source
        /ocpu/tmp/x0e98dae1808441/console
        /ocpu/tmp/x0e98dae1808441/info
        /ocpu/tmp/x0e98dae1808441/files/DESCRIPTION
  recorded_at: 2025-09-25 13:08:54
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0e98dae1808441/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:55 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJys1wWUEEe7KNoZQggeXIINBHeX4C4huLvD4DI4JLi7u1uAYCEE1+ASnCDB3V2CvQ35c064
        755711v
        rNWtPT01/VV31VXV1U7BChbJVMwUEvHesCB0QECXgwxE+IGJAmIDPA8L6zREYWjlA
        Kayfof/zMyAgBn
        n8cvWzgIBFhJCH0BwOFRAwjkZk5GFgQMBqelCaGFxUfxotKfCfNpO+ef/e
        DUN96EfQf/724YhEo8ZtW
        7bp2qpx65C6wY0+3P9jbEDgh7haf9f7/EO9OP+q9wXtGtZt0rJ+
        04ADYvr9Ky7+v+Ii0KFNx/YNG9dt
        EtyyccBLcSv+1ZeU/4qN+SE2uGnr+i3rhrSp27pNcIfG
        ddvXDwlu4++L/tWnh/+617/H8iGXHRq37tC
        mfe[...]
