http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0035189c4f0ebe
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0035189c4f0ebe/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:02:52 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0035189c4f0ebe/R/.val
        /ocpu/tmp/x0035189c4f0ebe/R/credentials
        /ocpu/tmp/x0035189c4f0ebe/R/get_acoustic_detections_page
        /ocpu/tmp/x0035189c4f0ebe/stdout
        /ocpu/tmp/x0035189c4f0ebe/source
        /ocpu/tmp/x0035189c4f0ebe/console
        /ocpu/tmp/x0035189c4f0ebe/info
        /ocpu/tmp/x0035189c4f0ebe/files/DESCRIPTION
  recorded_at: 2025-09-25 13:02:52
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0035189c4f0ebe/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:02:53 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzt3At0FNUdx/GbzSYkMbw0UkTFgBQDGpsHhKcY8FGkoBBAEIElj4Ushk1MNrxUjIoIiIKI
        CJR3RfA
        FkSJFBU6KlVK1iigW5SEoRwIiRgwWUZJ+753/mt0AkcOhCscZ+fjLzNyZnZ3duffu
        zOx2Tku7rV+iUp
        UMxU6l6ik9RKloFa7CVAR/MYQ4GVeMRfB/p/xfqRh05I+9oUotgw8d4cRm
        h1IzkIUElIUotQr3ojtis
        Jvl5yIHqbLOZj9WVvKADr0dsTJND7WR5c7LyR0zwu31uTxZ+vFN
        WRWiyw20lgvTyzUMWK4W7s50Dc1J
        H6beocz4gHKXBZS7AAW5hfmZbtdQT45bHaVcccC2xAWU
        vViX9Qzzpue4fLkub66nwO3KT/d5cpm+LGC
        byg[...]
