http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0768eb0b52e377
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0768eb0b52e377/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:04:33 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0768eb0b52e377/R/.val
        /ocpu/tmp/x0768eb0b52e377/R/credentials
        /ocpu/tmp/x0768eb0b52e377/R/get_acoustic_detections_page
        /ocpu/tmp/x0768eb0b52e377/stdout
        /ocpu/tmp/x0768eb0b52e377/source
        /ocpu/tmp/x0768eb0b52e377/console
        /ocpu/tmp/x0768eb0b52e377/info
        /ocpu/tmp/x0768eb0b52e377/files/DESCRIPTION
  recorded_at: 2026-04-23 14:04:34
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0768eb0b52e377/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:04:35 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzt2g90VNWdwPE7f5JMkiETIEBEFyJEDFR0Jgkh/BEGVBZdqWMMgigM+TPA0DCJyQRBEUdL
        EREF0VJ
        wESOrgloRWHTRIhtty7LqUqrFxQoUWk6JLqURwUUrmf3e934PZqZAz56ze/ZsDwOf
        N3Pf/N59f3733X
        ffm4yqqLhlgk+pOK+NTqVylX5lKbdKV2nKxSdeNidlRcnF1ClTpfIwnA+H
        HUqtRxTD4cRuu1JPoRZet
        NuU2oJ5uBl5OMjyq1EHv9RZ+G08zgrtejsKZJ5+dUJtqKGufu6s
        UCQaDNfq9Ruxyqbj7jKXS9PL5Scs
        l4G7a4LT6qqmqw+IWZAQd1lCXDaa6psba0LBaeG6kDpF
        3MaEbSlKiO2mY8PTI1V1wWh9MFIfbgoFG6u
        i4X[...]
