http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2010-08-09","end_date":"2011-05-19","acoustic_tag_id":"A69-1303-20695","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0c6de841d148a4
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0c6de841d148a4/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:50:58 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 47213
          }
        ]
  recorded_at: 2025-09-10 12:50:58
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2010-08-09","end_date":"2011-05-19","acoustic_tag_id":"A69-1303-20695","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x041fdeb8c08050
      location: http://opencpu.lifewatch.be/ocpu/tmp/x041fdeb8c08050/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:51:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x041fdeb8c08050/R/.val
        /ocpu/tmp/x041fdeb8c08050/R/credentials
        /ocpu/tmp/x041fdeb8c08050/R/get_acoustic_detections_page
        /ocpu/tmp/x041fdeb8c08050/stdout
        /ocpu/tmp/x041fdeb8c08050/source
        /ocpu/tmp/x041fdeb8c08050/console
        /ocpu/tmp/x041fdeb8c08050/info
        /ocpu/tmp/x041fdeb8c08050/files/DESCRIPTION
  recorded_at: 2025-09-10 12:51:02
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x041fdeb8c08050/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:51:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwU13lc3fl71/1Jd6u1amtrF2207U/t4nK3VTuQZLKQ/AKH/XBYQoCwJAMHDvsStkMIhABh
        CZkEOHD
        gMJywHMISE2amtwMn6WKrvXVGb63WarWbv1pr661Va231fs4flw+nvxnO53pfr/f7
        ur5l3/jOO+989T
        tf87X+X/XOO19bErz6w3/HP32Lf/hW9U3vvPNJy5mzRT+pfvrM2eK/pL5X
        fZ/6y+pvqx9XGeqcOq8uq
        IvqirqqCtWmeqlO1Kl6o/6++jn1ufqn6l+oX1T/Tv2K+jX16+or
        6j+q31b/Sf1n9V/Uf1X/7czZ4Dvq
        q9TXqz+m/rT6FvXn1Pcobwh6Q7BG1athNarG1JSaU4+V
        Nwa31I7aUy/UR+on1KfK24PeHqRF8KfUP1T
        eHf[...]
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2011-05-19","end_date":null,"acoustic_tag_id":"A69-1303-20695","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x02a238f1cbd7a8
      location: http://opencpu.lifewatch.be/ocpu/tmp/x02a238f1cbd7a8/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:51:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 0
          }
        ]
  recorded_at: 2025-09-10 12:51:08
recorded_with: VCR-vcr/2.0.0
