http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"not_a_date","end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x06b22be8d08e3d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x06b22be8d08e3d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:15:42 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyFkr9OwzAQxvc8xalTKqVWnfI3IywgIbEAS4Ui1zkSi8Su7KPAhhh4goqJp+uTYLeJ2tIC
        liKd8/3
        uO9/ZNxVCqWaowZGwlBeCMAFtKBdtrFzYgtIgYCZqVUD4Dw/GNoIY3Dr0wqtfg6YZ
        FEUrgLHgKmMJbQ
        LISgbpkKcDzgcpT7o4QCFkUXSpQYq6ziJf4gnH49HV/X0sjS76UXQm5CNZ
        ITGLIKzF54cPOIPF/Gsxf
        5sIh1mGPjEOFn2vpUF79998vz7azn1WVJ17SenyQuiiRutixlgg
        D3bJO+XUpMZ46Ygv09CgninbD/wh
        2626yXjkiIUe/oGO2arVJYakHdqZ8hPISvRXI82TIyXz
        AgklKaNdPhUldoc+WSXvS89khfJxebU5qQb
        jzWvvrTe94HPa+Wyfl+zruSBZteX4cI1tghDX
        xg+8Dx1/pRy1fcpaOIcugamwqMm3nUDVjj5Y8k3LP0
        2vNbaeWjS/OI7H3D+n4Jtu+3bOu48O
        +Ognuj0ER2a6GsA3kC0aBA==
  recorded_at: 2025-09-22 13:15:42
recorded_with: VCR-vcr/2.0.0
