http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A180-1702-49684","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08fba73b6a7036
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08fba73b6a7036/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:22:17 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 84
          }
        ]
  recorded_at: 2025-09-10 14:22:17
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":"A180-1702-49684","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x050cfa07200c84
      location: http://opencpu.lifewatch.be/ocpu/tmp/x050cfa07200c84/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:22:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x050cfa07200c84/R/.val
        /ocpu/tmp/x050cfa07200c84/R/credentials
        /ocpu/tmp/x050cfa07200c84/R/get_acoustic_detections_page
        /ocpu/tmp/x050cfa07200c84/stdout
        /ocpu/tmp/x050cfa07200c84/source
        /ocpu/tmp/x050cfa07200c84/console
        /ocpu/tmp/x050cfa07200c84/info
        /ocpu/tmp/x050cfa07200c84/files/DESCRIPTION
  recorded_at: 2025-09-10 14:22:19
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x050cfa07200c84/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:22:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnG9sE3UYx2/roBkMBhl7QSIGoxgz2NK7dl1Hhhnhj0FhLls3Ftk4b+113rj25t11iBBc
        AhEBjUa
        zGF9gjBF9IcYgLIFhdC8MYdMEExNIJNFX+EaMxGiMJm5+b7/nKiXADDazI8+ST7+/
        53vf3/O7ttdr12
        7tWiBJUkAqm4dLIEnzOuKba2OoqlAsA4tAPFiz7kfwM7gOfgnWPFoC5oEK
        sDRY895UsOb4fNAImsEGs
        Ak8BraAraAFtII2gJ7HO0EX2AF6wNMgBfrAM8AA/WAXMEEaWGAA
        2MAFWTAIdoPnwB6wF+wLrk47YDfY
        A7x6PxgCB8GL4BB4CRwGR8BR8DJ4Jbhm50awGWwFrSAO
        toMdoBekwC4wAFywHxwAh8BR8Cp4AwyDN4N
        rzB[...]
