http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":"A180-1702-49684","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x00efe7135ecf27
      location: http://opencpu.lifewatch.be/ocpu/tmp/x00efe7135ecf27/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:37:37 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 84
          }
        ]
  recorded_at: 2026-04-23 14:37:37
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":"A180-1702-49684","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x03490775782183
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03490775782183/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:37:38 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x03490775782183/R/.val
        /ocpu/tmp/x03490775782183/R/credentials
        /ocpu/tmp/x03490775782183/R/get_acoustic_detections_page
        /ocpu/tmp/x03490775782183/stdout
        /ocpu/tmp/x03490775782183/source
        /ocpu/tmp/x03490775782183/console
        /ocpu/tmp/x03490775782183/info
        /ocpu/tmp/x03490775782183/files/DESCRIPTION
  recorded_at: 2026-04-23 14:37:39
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x03490775782183/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:37:39 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzt2gl0U1UawPGbNG0jFFoEHUSgBRQrm01bSsGKAQsIssSyVba0tqENdrNNiyCjESrggiDu
        Ozo6MqB
        SEEYQ1A46gsuIOmyKIChugFKXcQUy/++9mzaJwJw5Z+Z4Zg7h/Ppy875333t3fwkD
        cnJGjXcoFeBVZ1
        MqQcmrmYpTMSpa2XnHy2IjrUjZ+WvTf5Vqgyze7I9Sail8yIINb1uVuhOF
        SEGDRanVmIXhaIO9HP8gS
        uDUeZ5zJBDghFa5jiT9mbxaoNBTUVI+o9RT5nN7C+X8RqyySNwk
        87hoOa5tyHGxuLrAPbUkv0i9SUxt
        SFz7kLjmqCqvrizwuKd6SzzqR+LqQq4lOST2DIn1FpXl
        l7h95e6ycm+Vx12Z7/OW8/nSkGtqCDlX6L1
        IWV[...]
