http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"not_a_date","end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x06a01243962608
      location: http://opencpu.lifewatch.be/ocpu/tmp/x06a01243962608/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:03:00 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyFkr9OwzAQxvc8xalTKqVWnfI3IywgIbEAS4Ui1zkSi8Su7KPAhhh4goqJp+uTYLeJ2tIC
        liKd8/3
        uO9/ZNxVCqWaowZGwlBeCMAFtKBdtrFzYgtIgYCZqVUD4Dw/GNoIY3Dr0wqtfg6YZ
        FEUrgLHgKmMJbQ
        LISgbpkKcDzgcpT7o4QCFkUXSpQYq6ziJf4gnH49HV/X0sjS76UXQm5CNZ
        ITGLIKzF54cPOIPF/Gsxf
        5sIh1mGPjEOFn2vpUF79998vz7azn1WVJ17SenyQuiiRutixlgg
        D3bJO+XUpMZ46Ygv09CgninbD/wh
        2626yXjkiIUe/oGO2arVJYakHdqZ8hPISvRXI82TIyXz
        AgklKaNdPhUldoc+WSXvS89khfJxebU5qQb
        jzWvvrTe94HPa+Wyfl+zruSBZteX4cI1tghDX
        xg+8Dx1/pRy1fcpaOIcugamwqMm3nUDVjj5Y8k3LP0
        2vNbaeWjS/OI7H3D+n4Jtu+3bOu48O
        +Ognuj0ER2a6GsA3kC0aBA==
  recorded_at: 2025-09-25 13:03:00
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2017","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x034e566ba40cb5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x034e566ba40cb5/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:03:04 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 1696
          }
        ]
  recorded_at: 2025-09-25 13:03:04
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2017","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x01ce53e2c47bf4
      location: http://opencpu.lifewatch.be/ocpu/tmp/x01ce53e2c47bf4/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:03:07 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x01ce53e2c47bf4/R/.val
        /ocpu/tmp/x01ce53e2c47bf4/R/credentials
        /ocpu/tmp/x01ce53e2c47bf4/R/get_acoustic_detections_page
        /ocpu/tmp/x01ce53e2c47bf4/stdout
        /ocpu/tmp/x01ce53e2c47bf4/source
        /ocpu/tmp/x01ce53e2c47bf4/console
        /ocpu/tmp/x01ce53e2c47bf4/info
        /ocpu/tmp/x01ce53e2c47bf4/files/DESCRIPTION
  recorded_at: 2025-09-25 13:03:07
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x01ce53e2c47bf4/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:03:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzs3Xd8jWu3//spiei9E0T03qJFMLXoPaJFEqKFICKiM/UWnei9B0H0PrUgCEvvfem9d+cz
        hst+1tp
        n7995nT/P67Bf7+e7x7iu+06Z8w7Ws67xVG3atFGLkhbLT35tdLJYUlvkV1JLcouz
        JaElMf8fvxI4UV
        uoEvOfTuY/LZb08OT/ue[...]
[...]
