http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100,"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0df84f9d340786
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0df84f9d340786/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:50:21 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0df84f9d340786/R/.val
        /ocpu/tmp/x0df84f9d340786/R/credentials
        /ocpu/tmp/x0df84f9d340786/R/get_acoustic_detections_page
        /ocpu/tmp/x0df84f9d340786/stdout
        /ocpu/tmp/x0df84f9d340786/source
        /ocpu/tmp/x0df84f9d340786/console
        /ocpu/tmp/x0df84f9d340786/info
        /ocpu/tmp/x0df84f9d340786/files/DESCRIPTION
  recorded_at: 2025-09-10 14:50:21
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0df84f9d340786/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:50:22 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXAlsFOcVnsVXfO5im4amGDvuQQl18F7etYHWbiMEiUgwNpdKu1qvx2bKetfew1Cn2A5N
        oxxOqmD
        SxC0oolIVpQkKSIRDjambVolIU6UJNg1gG0wEqUjSRJC2qURD37z5Z3Z2jt0Z2wum
        GaRv37zvf/+7/m
        PXYHZDDkVRaVR6BrwCKCpjbePyCjdoRaAUA/IBzaaavHHABVNNvgmQDpgL
        KAW4AXWAewFNAB9gC6Ad0
        AnYCugC9AEeB+wCPA/YB3gLcB7wHuCfgKummoJMwC2AAsAcwO0A
        JwBiFCwHrACsAjQC1gF+APADtgF+
        ChgA/AqwH3AQ8EfAOwCIU/CZqcYMuZuzAODfXAi4DQB1
        mO0A8GneCGgBBAGQsxlyNu8BvAAAn+bDgCO
        Ao4[...]
