http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"not_a_date","end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x03ea9733c6b906
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03ea9733c6b906/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-27 09:19:28 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJw1jU0KwyAUhPeeYpYtqFS76w0KXbarEMIjviaCUVAb6O2rkM7qmx+Y58pY/M4RpVKuk6PK
        EjHViQ7
        2pVv4CMJOwTv0HO+UN6oar8Kt+DapbVPOHQVSRllTrpwlWC8a9mKsMkZZI//cRx21
        EPeImUK4iXbx4W
        G4PsbxNKfozkL8AMkAM4E=
  recorded_at: 2026-04-27 09:19:28
recorded_with: VCR-vcr/2.1.0
