http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":"not_a_receiver_id","station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0227046296dd3e
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0227046296dd3e/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:20:59 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVN1u2jAUvucprKrSEolEBEqBqKoEFKnTqhUxtGlCVeI6LrGaOcg2tJfTLvYEaFd7Op5k
        xwkBJ1C
        2IaHYPt/POT4nGWL+TqEnxiMkKKFsRUXAIhTyVAU4MI5CxLiP+jfTqdOq588LeH4a
        jj5Onf7EaXcbjW
        br4KR9cNKpnHiNXh0N+tPpaPIVjfvDD47X9g5O9hjYgM0ABG7fD9H4/sYZ
        UK5iRtA4jZxu93hsAbGe9
        3bM8y5OBdunglVLvXZdtzbA5FkJTKhfQ/q3+fUTFp6LNuvfm/V3
        usLJEivq+8XKApYNkKaG/NjCHrEE
        yAtT8YRKhYWSBaxVwPR/vYUiK0kJTmxkMO6YVBZ9XYg6
        NDnX0PyLPR8ZZiWFe063ItZpwZnDxYNt7Ge
        wf9A27bLN0WSj9EvZTFC1FDzz2Itqtcuy2n+W
        nWcJMh1T5k0hI6GKzsy7y6vrloWOSv17dT2z8/sByd
        ofxJhHCRVF/72G2f/9qGiaBb6Jxngm
        xrz6Cq55bJZy3yFAGJ/fVtxbx4f0M5PsMaFWpp5fGuUrJmzN2
        U1cJQsTB7DtxKC/Ai/dSgep
        4pKKFYN3zp9T+ISRdCkVI0FEFSWKpVwGCzwv3jSv4x50zpTwSUzJc6D7
        sKN0TUpBwhI4SsVY
        +X6+DvSm4PTKnHJhUqULKyeNhEiFhZUSMCKyjs6+yfmZra+umTV7bUzFbrrCqyd
        +HVrhFWhk
        EtehJkDnC58XrKAQcb5YytgiPNLhpmsksp2sc5r5Z+XatT8zOSkB
  recorded_at: 2025-09-10 14:20:59
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":"VR2W-124070","station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f3e36bc2ff5f5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f3e36bc2ff5f5/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:21:03 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 75687
          }
        ]
  recorded_at: 2025-09-10 14:21:03
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":"VR2W-124070","station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08793c191c873b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08793c191c873b/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:21:05 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x08793c191c873b/R/.val
        /ocpu/tmp/x08793c191c873b/R/credentials
        /ocpu/tmp/x08793c191c873b/R/get_acoustic_detections_page
        /ocpu/tmp/x08793c191c873b/stdout
        /ocpu/tmp/x08793c191c873b/source
        /ocpu/tmp/x08793c191c873b/console
        /ocpu/tmp/x08793c191c873b/info
        /ocpu/tmp/x08793c191c873b/files/DESCRIPTION
  recorded_at: 2025-09-10 14:21:06
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x08793c191c873b/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:21:07 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwUl2VYlH8ThT3G3+7u7m7d7l27u7u7C7uwEwVsxUIUG7s7MLBRFMVExQ7U934/3Lrs84uZ
        M2fmubZ
        1miRJkiRLkjwF/0KSJClaNPeUr8VfWfkjG6RPopKbZUifCkbJkMEuQ8Y88ESGTE1l
        yFwQdsuQpQh0h0
        gZshaAutAJlsuQLSewNtskiJUh[...]
[...]
