http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/validate_login/json/
    body:
      string: '{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0fa96839b962d0
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0fa96839b962d0/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:09:06 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [true]
  recorded_at: 2025-09-25 13:09:06
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-10","end_date":"2014-04-11","acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"de-9","protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x091e29ff2608ca
      location: http://opencpu.lifewatch.be/ocpu/tmp/x091e29ff2608ca/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:09:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 7
          }
        ]
  recorded_at: 2025-09-25 13:09:08
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-10","end_date":"2014-04-11","acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"de-9","next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0b911c343b9869
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0b911c343b9869/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:09:09 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0b911c343b9869/R/.val
        /ocpu/tmp/x0b911c343b9869/R/credentials
        /ocpu/tmp/x0b911c343b9869/R/get_acoustic_detections_page
        /ocpu/tmp/x0b911c343b9869/stdout
        /ocpu/tmp/x0b911c343b9869/source
        /ocpu/tmp/x0b911c343b9869/console
        /ocpu/tmp/x0b911c343b9869/info
        /ocpu/tmp/x0b911c343b9869/files/DESCRIPTION
  recorded_at: 2025-09-25 13:09:10
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0b911c343b9869/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:09:11 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztWM9rHHUUf7M7SdYadYuxtJBIxB6CNbC7/RnoIbEgVCvGmLZrFaaT3UkysjsTZ2dDBdE9
        5A+oxYN
        CheKpBw97KNJDCxEUQilYKEI9CLF46CGHnIIHk/G974/d73zb2bi01Uve8ubNm+/n
        ve973++bNzM7MT
        X17tk8QITUNAGyQLQL+qEXeiCDZ0iGiTqglsGjKY4AA8jH8eTPNMBV5BD5
        OLKJfCcF8BVyGTmHvG4AX
        EP+DPkU8gDyKtpfRq4gjwuf+/+OIpwwRXEMi2tEzyGXnYWK/2nV
        8ULLLdP8DAsG4T7idj1kt1ex60P+
        pGTNVuw5uI2YJQU3qOCeRa759aDkWLNuxYG/ENdUYhlR
        sC8R1p3z7IoV+pbnuzXHCuzQ9fH6VSWmdWU
        uNR[...]
