http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-24","end_date":"2014-04-25","tag_serial_number":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":"2014_demer","scientific_name":"Rutilus
        rutilus","acoustic_project_code":"demer","receiver_id":"VR2W-124070","station_name":"de-9","protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0228ba518f7306
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0228ba518f7306/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:25:25 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 6
          }
        ]
  recorded_at: 2026-01-20 09:25:24
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-24","end_date":"2014-04-25","tag_serial_number":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":"2014_demer","scientific_name":"Rutilus
        rutilus","acoustic_project_code":"demer","receiver_id":"VR2W-124070","station_name":"de-9","next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f58bf08b4378e
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f58bf08b4378e/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:25:28 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0f58bf08b4378e/R/.val
        /ocpu/tmp/x0f58bf08b4378e/R/credentials
        /ocpu/tmp/x0f58bf08b4378e/R/get_acoustic_detections_page
        /ocpu/tmp/x0f58bf08b4378e/stdout
        /ocpu/tmp/x0f58bf08b4378e/source
        /ocpu/tmp/x0f58bf08b4378e/console
        /ocpu/tmp/x0f58bf08b4378e/info
        /ocpu/tmp/x0f58bf08b4378e/files/DESCRIPTION
  recorded_at: 2026-01-20 09:25:27
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0f58bf08b4378e/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:25:29 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztWE1sG0UUfmuvkyUJiYGAAkRpKKFKA6a2k+ZHyiFpEQqUChO5tFRIG8fepIuc3WCvqyAh
        aqHciao
        i9ZBKiFNuRKJCHIrIEaEg+ZgLUipx4FDU3OBAYt6bnbFnBzvlEAmQMtHzzLfzvTfv
        zbydncn07Ozblx
        MAVSybOkAUqLRBB7RABAxsYdF0xIDIwF+d/wJ0o0xi45cwwAaKhzKJoqNU
        QgC3UHIocZQ9DeAuyscob
        6F0o+yi/jpKHmWK2xz4s1rFAUPkRz9/RuVxlJy1nHc/WrIcz7Rz
        ND7jgka89329COn1SHqtKB9mzYV8
        ZhG2kbMq8XolXjtK0S0Vspa5YOct+AN5m5IvgxL3aeLa
        i04mb3qu6bh20TILGc928fmG5NOeNJYcC81
        l0X[...]
