http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"not_a_sciname","acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x009029f3c6c909
      location: http://opencpu.lifewatch.be/ocpu/tmp/x009029f3c6c909/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:04:31 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVM1u2zAMvvcphKLAHKAzlnTrj1EUWIsBOxQY0MN2KAqHVhhbqyIZkpy2t2GHPUGw054u
        TzJKths
        5y/4COBSl7/tImrSuQL1wbC7UjFkuUDkxFzxXsEA2VdrlkNO2d6dMqIy9LQwshGXe
        wOHQZTeNE7KxzL
        SWjrmoUVk00ZLpxycjFK8GAGZdY4SmHXR68SQBSafQS6ECTGoLDPx/78xB
        SngkT4GpBK/AMtnUAazKR
        tAhg24RbRltnQHnt0z5RJ5e+HyxFIFpa7IMgjlklyCFdWgZh9oI
        y9s9U/jMgiEXpVbIimDIlYJzYMVn
        jWma7l0Cv6dwHLM95n/r799oMU7ZevVjvfqCS5ANOMyy
        fpUQa0SQiYd87WAFWII8CFfdoHVgnO1hRz3
        MP6sOyhKpOcgRixjXVEeCjzX1wXQanv96w2dR
        sIHCB4WdSPJnwduXytyNIv+W/Dsf5s0wzM5kZ/rTMJ
        hBGggVYmxEvdrxUO0/y26zJJmTWOa3
        QlFCWzq34+u2utOh0E6pf6/uLO78ZkBC+/MK1Eyi6fs/fhX3f
        zMqnpZQXOkx4xgTv/ot3GTX
        LLVxrwgiVPl+K/rR7iH9KKwoJCZBvX1pqJbCjDzneeK2sohxBOsmhv0V
        eJxudRCdv02Wgr65
        rES6vrhurKMbbYYOuRNa2byGsv/SxifpL52LJTJeIb/PfR+eKacxpSeBJY5zFbg
        sa9e5d3rO
        2ZAzLMw6XSct6Z0x2iTgnKERoftlf2HL/ZF/dZPQ7FU0Fc/TNT2fq4tpMj0njSBxMfUE6n
        wf
        5wEcFWIO6H6sEq5m/niSRol0k3WAIX4od7T3E+IhRwM=
  recorded_at: 2025-10-01 10:04:31
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e39d030b0e3dd
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e39d030b0e3dd/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:04:34 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 20367
          }
        ]
  recorded_at: 2025-10-01 10:04:34
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0ec71943528418
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ec71943528418/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:04:35 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0ec71943528418/R/.val
        /ocpu/tmp/x0ec71943528418/R/credentials
        /ocpu/tmp/x0ec71943528418/R/get_acoustic_detections_page
        /ocpu/tmp/x0ec71943528418/stdout
        /ocpu/tmp/x0ec71943528418/source
        /ocpu/tmp/x0ec71943528418/console
        /ocpu/tmp/x0ec71943528418/info
        /ocpu/tmp/x0ec71943528418/files/DESCRIPTION
  recorded_at: 2025-10-01 10:04:35
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0ec71943528418/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:04:36 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU1WPcXefXKOrnH9tG4zZN2jhpGtt2Y9u2bZuNbdu2baOxsa+0zfu2++x3ny/ny5n5Xc/K
        WHPc97w
        15spZqlTx8qkDAr64lgUJCIgQ8PUKFRAmIFhA0IAQ/uf6TxBxgCiEv0H+/hsQEIUs
        /nMrcEDAPFqThS
        AcCxQQMJrapOLpfwICVt[...]
[...]
