http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":"not_a_tag_id","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0d2663acfc7185
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d2663acfc7185/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:55:03 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJxNz7EOAiEMBuDdp2BzUUJLaQ9XF9+CI3fREBNuEBefXge13foF/vJzrn0/3LX11dVlez5G
        W8qot9J
        WN/dtlPrV7Fo/OQK+X15HmtLhN+fE/xmAwIBJgSKKHDWPgXUBImQDnAzIwBZAnvRR
        FDDXMutJjEEzMQ
        kqOGsDCqBFCZJmiMRAoq5OgZKBfL7gvd+9AVYfV3c=
  recorded_at: 2026-03-24 08:55:03
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0bc18e3445267c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0bc18e3445267c/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:55:07 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 10994
          }
        ]
  recorded_at: 2026-03-24 08:55:07
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0240e6ba69346d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0240e6ba69346d/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:55:09 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0240e6ba69346d/R/.val
        /ocpu/tmp/x0240e6ba69346d/R/credentials
        /ocpu/tmp/x0240e6ba69346d/R/get_acoustic_detections_page
        /ocpu/tmp/x0240e6ba69346d/stdout
        /ocpu/tmp/x0240e6ba69346d/source
        /ocpu/tmp/x0240e6ba69346d/console
        /ocpu/tmp/x0240e6ba69346d/info
        /ocpu/tmp/x0240e6ba69346d/files/DESCRIPTION
  recorded_at: 2026-03-24 08:55:09
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0240e6ba69346d/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:55:09 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJyU1wOYncv25/H+xbZt29k2Y7vTSTq2bdu2bdu2bdvGfINz7zl35v5nJuf5nO5373qrVq21
        qp7EXq5
        c6cr5Q0J+8GdlpJCQeCE//8QIiRUSJSRySDR+448i8RzCUzT+H+nP/0NCEsHEL3cj
        hoQsRFuYEAknI4
        SEjEU95MNLhYSsRVeUQC[...]
[...]
