http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x03a68c45a41fdb
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03a68c45a41fdb/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:25:30 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 10994
          }
        ]
  recorded_at: 2026-01-20 09:25:30
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f83e62547201d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f83e62547201d/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:25:33 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0f83e62547201d/R/.val
        /ocpu/tmp/x0f83e62547201d/R/credentials
        /ocpu/tmp/x0f83e62547201d/R/get_acoustic_detections_page
        /ocpu/tmp/x0f83e62547201d/stdout
        /ocpu/tmp/x0f83e62547201d/source
        /ocpu/tmp/x0f83e62547201d/console
        /ocpu/tmp/x0f83e62547201d/info
        /ocpu/tmp/x0f83e62547201d/files/DESCRIPTION
  recorded_at: 2026-01-20 09:25:32
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0f83e62547201d/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:25:34 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJyU1wOYncv25/H+xbZt29k2Y7vTSTq2bdu2bdu2bdvGfINz7zl35v5nJuf5nO5373qrVq21
        qp7EXq5
        c6cr5Q0J+8GdlpJCQeCE//8QIiRUSJSRySDR+448i8RzCUzT+H+nP/0NCEsHEL3cj
        hoQsRFuYEAknI4
        SEjEU95MNLhYSsRVeUQCLc5P2paArbnzkzff3xgwUj/Iwj3Z/Pfv6JjXrh
        LZu26NQsvHnb0Eb1fq7/a
        2yIfo6r8fu9yD/fS/a396KiVd3Q+k3DGoQcZUzfv41L9bdxMdGm
        RbvWdcND6zdqGh7ykXEr/xZLtr+N
        TfxzbKMGzcOahrZtEdq8RaM24aGtw9o2asHnC/8W08u/
        rfX3vfzMZZvw5m1atC4Q2q55o7Y/P2v47ce
        PdN[...]
[...]
