http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":"1000-01-01","tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0ecdf7d050f4a6
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ecdf7d050f4a6/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-20 09:19:38 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 0
          }
        ]
  recorded_at: 2026-01-20 09:19:38
recorded_with: VCR-vcr/2.0.0
