http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":"not_a_serial_no","acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100,"credentials.1":null}'
  response:
    status: 400
    headers:
      x-ocpu-session: x04719391897a15
      location: http://opencpu.lifewatch.be/ocpu/tmp/x04719391897a15/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:25:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJw9zrkOglAURdHer3idjSFICDfYITKI8zw0gBENiT4SxP8XdmGzcnKq7ee636hHqe+qyZ/p
        p6jL/JX
        q7/tW1CrTVZPm/7PKVKlHyvTswHJcd9Ct0BLTZEXtGrLidlmspF12t5wAQ4wwxikm
        OMM5LnCJK1zjBr
        e4wz0e8IgnPOMFr53i4Rh9nCBtQpvQJrQJbUKb0Ca0CW1Cm9AmtAltQpt0
        bYZh9H7mTFEi
  recorded_at: 2026-04-23 14:25:19
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":"1400185","acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x03e4f951ee90f7
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03e4f951ee90f7/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:25:37 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 1276
          }
        ]
  recorded_at: 2026-04-23 14:25:37
[...]
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x064393f1255513/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:25:53 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzc3X9cT/f/+P9TQmLKZrRphBBizwgh9jSNZo1Yo1lohBAajdDsiUZoxBohxEKzWCw0a/ac
        NYvFYmY
        NI9Ys1mjWrBG+t/vpbq/t9f2839/v99+v1+W6Xuf5fJxzHo/z43Ee9/vjUL9hw4aM
        8DWM+/zJdjIMN0
        P+uBgNjDpGbcOZ/8cfBy[...]
[...]
