http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2010-08-09","end_date":"2011-05-19","tag_serial_number":null,"acoustic_tag_id":"A69-1303-20695","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0816b0e3c22af0
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0816b0e3c22af0/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:14:31 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 47213
          }
        ]
  recorded_at: 2026-04-23 14:14:31
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2010-08-09","end_date":"2011-05-19","tag_serial_number":null,"acoustic_tag_id":"A69-1303-20695","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":50000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x021ffdf9db9778
      location: http://opencpu.lifewatch.be/ocpu/tmp/x021ffdf9db9778/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:14:34 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x021ffdf9db9778/R/.val
        /ocpu/tmp/x021ffdf9db9778/R/credentials
        /ocpu/tmp/x021ffdf9db9778/R/get_acoustic_detections_page
        /ocpu/tmp/x021ffdf9db9778/stdout
        /ocpu/tmp/x021ffdf9db9778/source
        /ocpu/tmp/x021ffdf9db9778/console
        /ocpu/tmp/x021ffdf9db9778/info
        /ocpu/tmp/x021ffdf9db9778/files/DESCRIPTION
  recorded_at: 2026-04-23 14:14:34
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x021ffdf9db9778/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:14:35 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJys1wWYVtXfKOwZRKSlQ2pAOqRLOqSluxuGjqFB6W6Q7haQEulGOqSRkO7ukDo3iP9Xz3fe
        91znur6
        H655n1uzfWnut34q9KVC+fJkqGQMC3vksCx0QECXg/Sd8QMSAMAGfBoT1m09gaOUA
        pbB+hv74MyAgBr
        n9cuWTgIAFhJCb0BwKFRAwloZk4EFgQMBKulOKGFxQfwotyP+xzaSv371z
        w1Dv+xH08W/vP5Fo2KhNi
        9ZdWjZqFVInuOH7+3+IDQh8H1fzr3qfvq8X5x/1PqNtgzqNW9Rr
        ErBfTN9/xMX/R1wE2rfu0K5BozqN
        g1s0Cnghbtk/+pLyH7Ex38cGN2lVr0WdkNZ1WrUObt+o
        Trt6IcGt/X3BP/r04B/3+udY3ueyfaNW7Vu
        3y1[...]
