http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"not_a_sciname","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0d90598ddb84bf
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d90598ddb84bf/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:49 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVM1u2zAMvvcphKLAHKAzlnTrj1EUWIsBOxQY0MN2KAqHVhhbqyIZkpy2t2GHPUGw054u
        TzJKths
        5y/4COBSl7/tImrSuQL1wbC7UjFkuUDkxFzxXsEA2VdrlkNO2d6dMqIy9LQwshGXe
        wOHQZTeNE7KxzL
        SWjrmoUVk00ZLpxycjFK8GAGZdY4SmHXR68SQBSafQS6ECTGoLDPx/78xB
        SngkT4GpBK/AMtnUAazKR
        tAhg24RbRltnQHnt0z5RJ5e+HyxFIFpa7IMgjlklyCFdWgZh9oI
        y9s9U/jMgiEXpVbIimDIlYJzYMVn
        jWma7l0Cv6dwHLM95n/r799oMU7ZevVjvfqCS5ANOMyy
        fpUQa0SQiYd87WAFWII8CFfdoHVgnO1hRz3
        MP6sOyhKpOcgRixjXVEeCjzX1wXQanv96w2dR
        sIHCB4WdSPJnwduXytyNIv+W/Dsf5s0wzM5kZ/rTMJ
        hBGggVYmxEvdrxUO0/y26zJJmTWOa3
        QlFCWzq34+u2utOh0E6pf6/uLO78ZkBC+/MK1Eyi6fs/fhX3f
        zMqnpZQXOkx4xgTv/ot3GTX
        LLVxrwgiVPl+K/rR7iH9KKwoJCZBvX1pqJbCjDzneeK2sohxBOsmhv0V
        eJxudRCdv02Wgr65
        rES6vrhurKMbbYYOuRNa2byGsv/SxifpL52LJTJeIb/PfR+eKacxpSeBJY5zFbg
        sa9e5d3rO
        2ZAzLMw6XSct6Z0x2iTgnKERoftlf2HL/ZF/dZPQ7FU0Fc/TNT2fq4tpMj0njSBxMfUE6n
        wf
        5wEcFWIO6H6sEq5m/niSRol0k3WAIX4od7T3E+IhRwM=
  recorded_at: 2025-09-22 13:17:49
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x002e09c2b265f3
      location: http://opencpu.lifewatch.be/ocpu/tmp/x002e09c2b265f3/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:53 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 20367
          }
        ]
  recorded_at: 2025-09-22 13:17:53
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f6871295560ec
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f6871295560ec/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:55 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0f6871295560ec/R/.val
        /ocpu/tmp/x0f6871295560ec/R/credentials
        /ocpu/tmp/x0f6871295560ec/R/get_acoustic_detections_page
        /ocpu/tmp/x0f6871295560ec/stdout
        /ocpu/tmp/x0f6871295560ec/source
        /ocpu/tmp/x0f6871295560ec/console
        /ocpu/tmp/x0f6871295560ec/info
        /ocpu/tmp/x0f6871295560ec/files/DESCRIPTION
  recorded_at: 2025-09-22 13:17:55
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0f6871295560ec/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:56 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU1WPcXte7KOr3H9tJw8Zt1KBB01iNbdu2bdtOY9u2baOxGhv7Stqs1e6z1z5fzpcz39/1
        zHc88x5
        jDt3jyVmyZLFyaQICPruWBQkIiBDw5QoVECYgWEDQgBD+c/0niHKAUgifQf7+DAiI
        Qhb/3AwcEDCP1m
        QhCMcCBQSMpjapefKfgI[...]
[...]
