http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"not_a_tag_id","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x08fe076cc980ee
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08fe076cc980ee/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:16 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVN1q2zAUvs9TiFKYDamJZNmOTenFyqAXhcEutotQbNVWExFPDpKSjl2NXewJwq72dHmS
        Sf6J5Cx
        rt0BAH/5+ztE59i3hbxR4YrwCpGy2UrEyV2SZswoUvFE56VEBGM8AhvH67usVnkfT
        4ZxG8fEMIYYOiL
        EFKEksSEOrR7PYGiAEUweguQOwA9wCUDy3oSiBDi2N7ZMwnFlNGCXIgji1
        FeAZtIViGFkNxokDktBaR
        zMcOSDRLQRBMHlLyrUSpKTZBJjf4ecPfYABOOx/Hfbf6I7UW6Jo
        lg0nT6t8TUGG8r2nPRKpKc9MrT5Q
        qYhQcqCFA8389z0VeHVTktoHjuKeSeXRLxsxBaL3MHps
        9cAJGzm857Q38V42XFxx8eA7eKHxg4mJxjF
        ni62aT+MwQdVW8DbDmhq3eOz2n213VWqbxLX5
        q5FT0InPAt533c3HRmet/r271J28XZB2/PmK8KqmYp
        g/nLnzt6tiZJ7OrQ0Huhz36k946Nwu
        dbm3msL48u4kPTy/pB+ZZI819Vr37tIo3zHhG81x406qcHma1
        m8MeJUYBycTpIpLKnZMv3PZ
        kuqv1/BJq6iipWINl/mGLIc3DSbBH5NzLbJyRct1buZwlMxdySAiUmuU
        WhGVZd05N2DQpGPN
        uDGpmo3Xid4J0QiPKCX0isgpuPgslxe+uTrUDnvvbMVxu4rrJ35TeMW19mgtbgo
        j0JMfcp6J
        0o2Iy81WrrySV+YxCpxC+s26pG1+264/+Q1+JyBK
  recorded_at: 2025-09-22 13:17:16
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x06b750bd6c699a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x06b750bd6c699a/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 10994
          }
        ]
  recorded_at: 2025-09-22 13:17:19
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d0e1e26bc87ac
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d0e1e26bc87ac/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:21 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0d0e1e26bc87ac/R/.val
        /ocpu/tmp/x0d0e1e26bc87ac/R/credentials
        /ocpu/tmp/x0d0e1e26bc87ac/R/get_acoustic_detections_page
        /ocpu/tmp/x0d0e1e26bc87ac/stdout
        /ocpu/tmp/x0d0e1e26bc87ac/source
        /ocpu/tmp/x0d0e1e26bc87ac/console
        /ocpu/tmp/x0d0e1e26bc87ac/info
        /ocpu/tmp/x0d0e1e26bc87ac/files/DESCRIPTION
  recorded_at: 2025-09-22 13:17:21
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d0e1e26bc87ac/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:17:22 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJyU1wOY3cv25vF+Y9u27Wybsd1Rx+nYtm3btm3btm3PN8k5957cmfufmT7P5+zee9evatVa
        q+rp2Mu
        VK105f0jID35WRgoJiRfy8ydGSKyQKCGRQ6LxGz+KxPsQ3kXj/5H++n9ISCKY+OVu
        xJCQhWgLEyLhZI
        SQkLGoj3x4qZCQteiKEk[...]
[...]
