http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a50ed4ce95e87
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a50ed4ce95e87/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:22:46 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 10994
          }
        ]
  recorded_at: 2025-09-22 13:22:46
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0284420b24ce8a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0284420b24ce8a/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:22:48 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0284420b24ce8a/R/.val
        /ocpu/tmp/x0284420b24ce8a/R/credentials
        /ocpu/tmp/x0284420b24ce8a/R/get_acoustic_detections_page
        /ocpu/tmp/x0284420b24ce8a/stdout
        /ocpu/tmp/x0284420b24ce8a/source
        /ocpu/tmp/x0284420b24ce8a/console
        /ocpu/tmp/x0284420b24ce8a/info
        /ocpu/tmp/x0284420b24ce8a/files/DESCRIPTION
  recorded_at: 2025-09-22 13:22:48
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0284420b24ce8a/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:22:49 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJyU1wOY3cv25vF+Y9u27Wybsd1Rx+nYtm3btm3btm3PN8k5957cmfufmT7P5+zee9evatVa
        q+rp2Mu
        VK105f0jID35WRgoJiRfy8ydGSKyQKCGRQ6LxGz+KxPsQ3kXj/5H++n9ISCKY+OVu
        xJCQhWgLEyLhZI
        SQkLGoj3x4qZCQteiKEkiEmzw/Fc1g+2vOTF9//GDBCD/jSPfXZz9/YqN+
        WMtmLTo1DwtvG9q4/s/1f
        40N0c9xNX4/F/nnc8n+8VxUtKoX2qBZnYYhRxnT9x/jUv1jXEy0
        adGudb2w0AaNm4WFfGTcyn/Eku0f
        YxP/HNu4YXidZqFtW4SGt2jcJiy0dZ22jVvw+cJ/xPTy
        H2v9cy8/c9kmLLxNi9YFQtuFN27787NG337
        8SP[...]
[...]
