http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"not_a_station_name","protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0be99a5084814a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0be99a5084814a/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:07:33 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVFFP2zAQfudXnBDSUimEpgUKEWKCjsEDExND4wGh1CRHYzW1I9ul42Wa9rBfUO1pv45f
        snOaUKc
        r24ji2Od833d3vkv6TLwxcM9FCtoww6WIBRsjDIQ0MYvdvQFwEYEPb3342m1v7rRh
        DJMtTWSdTdmjD4
        oPMwN3TIx8aNPdbseXNAU9KBSmpZAPIe2E8OEUCqYN5siVhFdcJABXbCoe
        mUppHXShL8V9PkGRoLV34
        FjJEQqaAmv34MIYVPBRypzs9zROaZzRGI3h3dYn6Cs5nmKelzsn
        5fM6PqrmYx86dMMR0zmyYQZXihWU
        QcdmwPIx8pS9EGkQBGvHLBkZxRKM1sq9p58/aBEG8DT7
        9TT7hg8snzCDUVSvPGK1CNKxkO8V7I5pgky
        5yS6RCqKMrmHdGmbHrIKCl8uE5S1wGOdcGw+/
        FIqqVGlY/vaCD46zhsKFwErE+7vgzaZQty3HviH71r
        rZabpZGWwqr5vOFJqJEqWPhahV222q
        vTLteZQk03NlXhRyAlrSuQnP59ntNYVWSv1/dvtu5RcNUpY/z
        phIc1R1/cO2W/9Fq1iaR35z
        iwldjHv0S7jOql6a++0ThIvh2ZL37uom/cw1v8vRK9Xnh4bigauW5Tx3
        3FIULo5gVcfAP4G7
        wVIF0QiN6oHTNxcNkf5hiZxow5M4RYOJ/QfpuGDD+ksLe8EflXMloiTDZBTbOjx
        T9lxKTWKa
        OMZkzETRfB1bo+bsNznNxLSRhTcnnSgllceMUdQi2of1sR6ut+zRdcpiz5yueO6uwcG9OB
        x4
        gwPSKCUOB5ZAla/9TJmhRNRGMdGZl4jUvu4ETiBVZ21g6b9Mt7X2G4qaJrs=
  recorded_at: 2025-10-01 10:07:33
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"de-9","protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d0cc0bde8e05e
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d0cc0bde8e05e/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:07:36 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 14927
          }
        ]
  recorded_at: 2025-10-01 10:07:36
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"de-9","next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0b1ff986fa82f5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0b1ff986fa82f5/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:07:37 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0b1ff986fa82f5/R/.val
        /ocpu/tmp/x0b1ff986fa82f5/R/credentials
        /ocpu/tmp/x0b1ff986fa82f5/R/get_acoustic_detections_page
        /ocpu/tmp/x0b1ff986fa82f5/stdout
        /ocpu/tmp/x0b1ff986fa82f5/source
        /ocpu/tmp/x0b1ff986fa82f5/console
        /ocpu/tmp/x0b1ff986fa82f5/info
        /ocpu/tmp/x0b1ff986fa82f5/files/DESCRIPTION
  recorded_at: 2025-10-01 10:07:37
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0b1ff986fa82f5/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-10-01 10:07:38 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJys1wVwVNu27vF8BCd4Etzd3dq9g7tLkAQIkiDB3d3d3d3d3d0dNu7uyfsj+5zNfffcW6/q
        seu3u1f
        3WnOOOcaYsyv2KlUq1izk4xPNv9UxfXyS+Pz4F9/Hzye2TyyfuLzjn2Jy7cNVXP4f
        8/f/fXz8YeLNX7
        4+PosRCRNi4nQMH5/xCE[...]
[...]
