http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x059f7c07982013
      location: http://opencpu.lifewatch.be/ocpu/tmp/x059f7c07982013/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:53:51 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x059f7c07982013/R/.val
        /ocpu/tmp/x059f7c07982013/R/credentials
        /ocpu/tmp/x059f7c07982013/R/get_acoustic_detections_page
        /ocpu/tmp/x059f7c07982013/stdout
        /ocpu/tmp/x059f7c07982013/source
        /ocpu/tmp/x059f7c07982013/console
        /ocpu/tmp/x059f7c07982013/info
        /ocpu/tmp/x059f7c07982013/files/DESCRIPTION
  recorded_at: 2026-03-24 08:53:51
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x059f7c07982013/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:53:51 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztmgtcVNW+x/97Zs+TmdmDoKCgID5CwmSG14CoA5nCSRMVBEvjjUwiIA8lM53Myo6W+KjU
        k/k4p6O
        VGiUZVtT0MjVTs+yYWaHZyzxG9tBM5f7W3mtw4Gad+7n3fu7n3E+bz5e9117/tfZ/
        /dd//9djduqECe
        NybETtOBpFIiuxw0gm0pKG9LjCIYhIE1J6/Bf5f6JAkIKLk2qizaAWpAAR
        HFQRrQTFIAa0CURNYC4YA
        wJBK8o/CsqBk9fZ/2J7Ox6oYnqE83vsMIPikqryyttnlFTU5rmK
        2fNlWRKY3BSlnIaVC/YppwMzi/JK
        ywum0T7ILPSRC/WR8wM1lXXVRSV5pa7yEjoPuUYfXSJ9
        ZLszWde0ioLyvNrKvIpKV01JXnVBrasS9zf
        76N[...]
