http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":"not_a_project","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0a804ae737bf08
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a804ae737bf08/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:46:25 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVEuL2zAQvudXmGWhDrQmTrIvs+yhS6GHhUIP7SEsimJPYm1kyYzkpHsrPfQXhJ766/aX
        dOTHRs6
        mr0BgZvR932ge1i1Xr2ywFCoLuBIFl6xE/QCpZanOIJgrbRnvYvNAqCQYj0ZTtqoy
        UPw1OfGIlXnGEK
        oFKPMywsyjSutwzKQWCK2NYiMASxTrNrDlqPS2dsZMgi61zNZccS7r2IRx
        uQC0vdBSP8pGcMoyKABbe
        4m66OIKVGOe9RTYpjQs50V7lIkH2cGoHbY1c11wrEzrubJWlS24
        Ugy10/JPNoA5SFO3zoWjKBq85ena
        Ik8hGQTu9/TjOxlxFDztfj7tvsKGy4pbSJLOCok1JMjY
        Qb61sAU3BNkKm38EYzml7WCTDub+uxYahFK
        nXA4Dj3EnjA3hS0kdwlbD8ad7fuAl6yl8UNCK
        hH8WnL1ReD/0/Bn59y7NWT/N0ctm+nM/GYKtUNU59q
        JO7byv9p9lN7ckmQtf5rdC3oUOdGbx
        XVPdZV/oqNS/V3flT36/IPX4aWFVJgG7+ccjf/77VXG0kPJKh
        4l9jN/6A9z42C41eW8JItTq
        /UH2yfEl/SSMWEgIa/WmaaA2AoeO87xxB7fwcQRrNyb4K/A8OpggWGUA
        N4K+uWQF9HylujJW
        pPRAWHrEhKY3qeSr7kuLL6IXk/MlkjSHdM3cHJ4plz6lI3FDHGtzbpOksZlzOs5
        Vn9MvzFhd
        hg3pHaLGkFuLtCL0vJwUZnUydK0b18PeeVvxvF3z66W6mYfza9KoJW7mjkCT7/JsuaVC8L
        Ss
        TB6mKnPH48i7SLtZp1Dnr8sdDn4BsBw88Q==
  recorded_at: 2025-09-10 12:46:26
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x03c581ad0734c5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03c581ad0734c5/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:46:30 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 4
          }
        ]
  recorded_at: 2025-09-10 12:46:30
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x097e2020e69266
      location: http://opencpu.lifewatch.be/ocpu/tmp/x097e2020e69266/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:46:32 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x097e2020e69266/R/.val
        /ocpu/tmp/x097e2020e69266/R/credentials
        /ocpu/tmp/x097e2020e69266/R/get_acoustic_detections_page
        /ocpu/tmp/x097e2020e69266/stdout
        /ocpu/tmp/x097e2020e69266/source
        /ocpu/tmp/x097e2020e69266/console
        /ocpu/tmp/x097e2020e69266/info
        /ocpu/tmp/x097e2020e69266/files/DESCRIPTION
  recorded_at: 2025-09-10 12:46:32
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x097e2020e69266/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:46:33 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJytVTFvEzEUdpqUkDZtGrVdmNiYEuWuTdJsqSqBKiRAbQrdLNfnBMPduT37Ai0DSAzdGNiY
        QPwAVia
        kbgwMLCABv4Id1PKcnK+5E0W0yknvnt/n5+/5vfPzbU8hhLIoNwlvEIQmtzrXKytg
        zYOxADIDksuo/K
        vM/tE3kO8gP2B+VuOrX58cPn6GEOjnGtDabg/1pyPNl5uAVwblUEGTU5dI
        CYM5kIkIzN+5vbm+TVVkX
        hqYKr1SHQifRSsNmN3qrIE6juCcIbSsptVcsc5nJjlmVxutitWo
        WRW7UV+qjwFN8k/ZNWsZO8xjwQWR
        6MtANfaSksxjk7thEMqrPZf4XI4BTeVxwJik95nrsAsi
        Sb7puxv2vYpl2XarnoTsZtNq/SeU5MxKOND
        DYQ6G5MwxJKvH7fWXneLHF69BL699eXgtrWO/
        8sb748vvfrXLt24efvicTWvj9/SnboT827N0vF2ECi
        fw/EOPm29whKB/0aikyndFVxYPPwmG
        A9io2fYStqpU9pMeg9obD3uMHufMB+6QNyA3TkVfJZmTiCdrL
        hq142Knaw4JWOZ0OkSRajcg
        HkvdQoVAPKr6gMso1oSuF4T+nb6ujJMOuBCBRYcpRhUXPuaOYYRYDCvu
        mdYoK9LDkgWcuNgP
        vZ2490uEilAqTrH2iAnmoSk98N0NxAMgx1TEXVaIpmLfkqSc+Yp3gURvMIIXY+a
        /kEwHjDLe
        Z8EpTVEqMshihKPksF1X7GMXZlQYr54zsPB7o3hRMl+KAPeJG8aRIiz0ufkXzAwhO+FXNO
        CI
        46LkPR9SVQL7gkuGA73DmFiEAWW4y13Dkd+juOuSnokz3KYHxdFpwi/lD65/eQc=
  recorded_at: 2025-09-10 12:46:33
[...]
