http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100,"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e2556fa45f474
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e2556fa45f474/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:16:26 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0e2556fa45f474/R/.val
        /ocpu/tmp/x0e2556fa45f474/R/credentials
        /ocpu/tmp/x0e2556fa45f474/R/get_acoustic_detections_page
        /ocpu/tmp/x0e2556fa45f474/stdout
        /ocpu/tmp/x0e2556fa45f474/source
        /ocpu/tmp/x0e2556fa45f474/console
        /ocpu/tmp/x0e2556fa45f474/info
        /ocpu/tmp/x0e2556fa45f474/files/DESCRIPTION
  recorded_at: 2025-09-10 14:16:26
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0e2556fa45f474/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:16:27 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnFtsFGUUx792S+uW3hDKTSVEMTEhJbtbWuiTEIMJCUZsKbQqTLezs2VwO1NmZosUlaoI
        XgAvoEA
        LCngBvKAiPumD4YGEF1EJGg0gpiZaogIq4oVW/7Pn27W7LVAolU08TX/zm3O+M2du
        Ozvtbrs1uUIIj8
        gagikQYkj1nNtLpiIajmAEyAehjPGVd4FKUAXmgGowF8wDNaAW3A3uAfeC
        +WABUEAdCIJ6oAK3nwbCo
        AEsBDpYBO4DEdAIDGCCJrAYWMAGDoiCZrAE3A+WghawDDwAHgQP
        geWgFTwMHgGPghXgMbASrAKPgyfA
        k+ApsBqsAWvB0+AZ8Cx4DqwD68Hz4AWwAWwEm0AbaAeb
        wRbwIngJbAXbwHbwMngFvApeAzvATrALvA7
        eAG[...]
