http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":"not_a_project","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x06cc194989884d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x06cc194989884d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:04:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVEuL2zAQvudXmGWhDrQmTrIvs+yhS6GHhUIP7SEsimJPYm1kyYzkpHsrPfQXhJ766/aX
        dOTHRs6
        mr0BgZvR932ge1i1Xr2ywFCoLuBIFl6xE/QCpZanOIJgrbRnvYvNAqCQYj0ZTtqoy
        UPw1OfGIlXnGEK
        oFKPMywsyjSutwzKQWCK2NYiMASxTrNrDlqPS2dsZMgi61zNZccS7r2IRx
        uQC0vdBSP8pGcMoyKABbe
        4m66OIKVGOe9RTYpjQs50V7lIkH2cGoHbY1c11wrEzrubJWlS24
        Ugy10/JPNoA5SFO3zoWjKBq85ena
        Ik8hGQTu9/TjOxlxFDztfj7tvsKGy4pbSJLOCok1JMjY
        Qb61sAU3BNkKm38EYzml7WCTDub+uxYahFK
        nXA4Dj3EnjA3hS0kdwlbD8ad7fuAl6yl8UNCK
        hH8WnL1ReD/0/Bn59y7NWT/N0ctm+nM/GYKtUNU59q
        JO7byv9p9lN7ckmQtf5rdC3oUOdGbx
        XVPdZV/oqNS/V3flT36/IPX4aWFVJgG7+ccjf/77VXG0kPJKh
        4l9jN/6A9z42C41eW8JItTq
        /UH2yfEl/SSMWEgIa/WmaaA2AoeO87xxB7fwcQRrNyb4K/A8OpggWGUA
        N4K+uWQF9HylujJW
        pPRAWHrEhKY3qeSr7kuLL6IXk/MlkjSHdM3cHJ4plz6lI3FDHGtzbpOksZlzOs5
        Vn9MvzFhd
        hg3pHaLGkFuLtCL0vJwUZnUydK0b18PeeVvxvF3z66W6mYfza9KoJW7mjkCT7/JsuaVC8L
        Ss
        TB6mKnPH48i7SLtZp1Dnr8sdDn4BsBw88Q==
  recorded_at: 2025-09-25 13:04:19
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e1d64a496b1f3
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e1d64a496b1f3/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:04:22 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 4
          }
        ]
  recorded_at: 2025-09-25 13:04:22
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x00c128bfb6fbec
      location: http://opencpu.lifewatch.be/ocpu/tmp/x00c128bfb6fbec/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:04:24 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x00c128bfb6fbec/R/.val
        /ocpu/tmp/x00c128bfb6fbec/R/credentials
        /ocpu/tmp/x00c128bfb6fbec/R/get_acoustic_detections_page
        /ocpu/tmp/x00c128bfb6fbec/stdout
        /ocpu/tmp/x00c128bfb6fbec/source
        /ocpu/tmp/x00c128bfb6fbec/console
        /ocpu/tmp/x00c128bfb6fbec/info
        /ocpu/tmp/x00c128bfb6fbec/files/DESCRIPTION
  recorded_at: 2025-09-25 13:04:24
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x00c128bfb6fbec/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:04:25 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztWE9oHFUY/3Z3kqx1bbcYS5GiKxRcxNSdyX/oIaEHK5YqMdochGGdfdmMzs5sZ2aDEdEc
        At6kFpE
        ohQZPPUkOBXuImJtFCubQw+opBy9CD+stoNnxe2/ey7x93d0GKYiQt/n2e9+83/fn
        vfe9b99kdm7ujS
        s6QIRtUwPIA23HIAeDMA[...]
[...]
