http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":"not_a_project","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0baf4476732758
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0baf4476732758/
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:00:12 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVEuL2zAQvudXmGWhDrQmTrIvs+yhS6GHhUIP7SEsimJPYm1kyYzkpHsrPfQXhJ766/aX
        dOTHRs6
        mr0BgZvR932ge1i1Xr2ywFCoLuBIFl6xE/QCpZanOIJgrbRnvYvNAqCQYj0ZTtqoy
        UPw1OfGIlXnGEK
        oFKPMywsyjSutwzKQWCK2NYiMASxTrNrDlqPS2dsZMgi61zNZccS7r2IRx
        uQC0vdBSP8pGcMoyKABbe
        4m66OIKVGOe9RTYpjQs50V7lIkH2cGoHbY1c11wrEzrubJWlS24
        Ugy10/JPNoA5SFO3zoWjKBq85ena
        Ik8hGQTu9/TjOxlxFDztfj7tvsKGy4pbSJLOCok1JMjY
        Qb61sAU3BNkKm38EYzml7WCTDub+uxYahFK
        nXA4Dj3EnjA3hS0kdwlbD8ad7fuAl6yl8UNCK
        hH8WnL1ReD/0/Bn59y7NWT/N0ctm+nM/GYKtUNU59q
        JO7byv9p9lN7ckmQtf5rdC3oUOdGbx
        XVPdZV/oqNS/V3flT36/IPX4aWFVJgG7+ccjf/77VXG0kPJKh
        4l9jN/6A9z42C41eW8JItTq
        /UH2yfEl/SSMWEgIa/WmaaA2AoeO87xxB7fwcQRrNyb4K/A8OpggWGUA
        N4K+uWQF9HylujJW
        pPRAWHrEhKY3qeSr7kuLL6IXk/MlkjSHdM3cHJ4plz6lI3FDHGtzbpOksZlzOs5
        Vn9MvzFhd
        hg3pHaLGkFuLtCL0vJwUZnUydK0b18PeeVvxvF3z66W6mYfza9KoJW7mjkCT7/JsuaVC8L
        Ss
        TB6mKnPH48i7SLtZp1Dnr8sdDn4BsBw88Q==
  recorded_at: 2025-09-23 14:00:12
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x018dc721c13e23
      location: http://opencpu.lifewatch.be/ocpu/tmp/x018dc721c13e23/
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:00:15 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 4
          }
        ]
  recorded_at: 2025-09-23 14:00:15
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-09-07","end_date":"2015-09-08","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0da7f57f9dac19
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0da7f57f9dac19/
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:00:17 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0da7f57f9dac19/R/.val
        /ocpu/tmp/x0da7f57f9dac19/R/credentials
        /ocpu/tmp/x0da7f57f9dac19/R/get_acoustic_detections_page
        /ocpu/tmp/x0da7f57f9dac19/stdout
        /ocpu/tmp/x0da7f57f9dac19/source
        /ocpu/tmp/x0da7f57f9dac19/console
        /ocpu/tmp/x0da7f57f9dac19/info
        /ocpu/tmp/x0da7f57f9dac19/files/DESCRIPTION
  recorded_at: 2025-09-23 14:00:17
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0da7f57f9dac19/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:00:18 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztWE1MJEUUfsM0MMIIw4pKCHHHDRHUhZ1u/pM9QDiIUdcOorsHTTPONNA6zCzTPUTMRieG
        RE+KG2P
        UbLLEEyclm030gJGbxGwiBw+4Jw4e3GQT0dMmCuN71VVMdS0DFxI1oYY3VV/V9169
        V39Txcj4+IsXdY
        ASplUNIAaU6iAKNVANES[...]
[...]
