http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"not_a_sciname","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x031ec056b1b737
      location: http://opencpu.lifewatch.be/ocpu/tmp/x031ec056b1b737/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:18:13 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVM1u2zAMvvcphKLAHKAzlnTrj1EUWIsBOxQY0MN2KAqHVhhbqyIZkpy2t2GHPUGw054u
        TzJKths
        5y/4COBSl7/tImrSuQL1wbC7UjFkuUDkxFzxXsEA2VdrlkNO2d6dMqIy9LQwshGXe
        wOHQZTeNE7KxzL
        SWjrmoUVk00ZLpxycjFK8GAGZdY4SmHXR68SQBSafQS6ECTGoLDPx/78xB
        SngkT4GpBK/AMtnUAazKR
        tAhg24RbRltnQHnt0z5RJ5e+HyxFIFpa7IMgjlklyCFdWgZh9oI
        y9s9U/jMgiEXpVbIimDIlYJzYMVn
        jWma7l0Cv6dwHLM95n/r799oMU7ZevVjvfqCS5ANOMyy
        fpUQa0SQiYd87WAFWII8CFfdoHVgnO1hRz3
        MP6sOyhKpOcgRixjXVEeCjzX1wXQanv96w2dR
        sIHCB4WdSPJnwduXytyNIv+W/Dsf5s0wzM5kZ/rTMJ
        hBGggVYmxEvdrxUO0/y26zJJmTWOa3
        QlFCWzq34+u2utOh0E6pf6/uLO78ZkBC+/MK1Eyi6fs/fhX3f
        zMqnpZQXOkx4xgTv/ot3GTX
        LLVxrwgiVPl+K/rR7iH9KKwoJCZBvX1pqJbCjDzneeK2sohxBOsmhv0V
        eJxudRCdv02Wgr65
        rES6vrhurKMbbYYOuRNa2byGsv/SxifpL52LJTJeIb/PfR+eKacxpSeBJY5zFbg
        sa9e5d3rO
        2ZAzLMw6XSct6Z0x2iTgnKERoftlf2HL/ZF/dZPQ7FU0Fc/TNT2fq4tpMj0njSBxMfUE6n
        wf
        5wEcFWIO6H6sEq5m/niSRol0k3WAIX4od7T3E+IhRwM=
  recorded_at: 2025-09-10 14:18:13
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x097c9399b41c7d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x097c9399b41c7d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:18:17 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 20367
          }
        ]
  recorded_at: 2025-09-10 14:18:17
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x02386c38c50900
      location: http://opencpu.lifewatch.be/ocpu/tmp/x02386c38c50900/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:18:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x02386c38c50900/R/.val
        /ocpu/tmp/x02386c38c50900/R/credentials
        /ocpu/tmp/x02386c38c50900/R/get_acoustic_detections_page
        /ocpu/tmp/x02386c38c50900/stdout
        /ocpu/tmp/x02386c38c50900/source
        /ocpu/tmp/x02386c38c50900/console
        /ocpu/tmp/x02386c38c50900/info
        /ocpu/tmp/x02386c38c50900/files/DESCRIPTION
  recorded_at: 2025-09-10 14:18:19
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x02386c38c50900/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:18:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwU13eYI/lVLuDlknPOOWfwAiZnsM3Clko1YGyTRqoaVUslT6tRt0iGtbvJi0kOJIPJGVS5
        VCUDW22
        iwRhjMthk8Aw5M+T77h/ffR7DfXDrd773nJonv8599933qve92qv7f+W++179iZ/x
        +Pf/cP/pTf2HN5
        PXv+++8Bsf86In/JP8m/yH/Lf8[...]
[...]
