http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/validate_login/json/
    body:
      string: '{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0296cf775a3bc4
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0296cf775a3bc4/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:59:43 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [true]
  recorded_at: 2026-03-24 08:59:43
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-10","end_date":"2014-04-11","tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":"de-9","protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x06bc87195354fc
      location: http://opencpu.lifewatch.be/ocpu/tmp/x06bc87195354fc/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:59:45 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 7
          }
        ]
  recorded_at: 2026-03-24 08:59:45
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-10","end_date":"2014-04-11","tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":"de-9","next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x020e4af938012d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x020e4af938012d/
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:59:46 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x020e4af938012d/R/.val
        /ocpu/tmp/x020e4af938012d/R/credentials
        /ocpu/tmp/x020e4af938012d/R/get_acoustic_detections_page
        /ocpu/tmp/x020e4af938012d/stdout
        /ocpu/tmp/x020e4af938012d/source
        /ocpu/tmp/x020e4af938012d/console
        /ocpu/tmp/x020e4af938012d/info
        /ocpu/tmp/x020e4af938012d/files/DESCRIPTION
  recorded_at: 2026-03-24 08:59:46
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x020e4af938012d/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.2 (2025-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-03-24 08:59:47 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztWE1sG0UUfuusHdOa1kBArtSA6Q8KhQjb/Y2Ug0MllJZGddO0DT/S1rE36SJ719jrqEgI
        LJSDb0D
        FoUitFHHqgUMOFeqhFUYCKaoqgYSQwgGpVBwj4VPEgcS8Nztrzw7+aUUQHDLR88yb
        +d6b9968mZ3J2O
        Tk6QtxgAaWJRUgDFS2QQgC4IcgtrAoKvKAXBB/Vf4LMIA0io3f+gBuINlI
        o0gq0g8+gM+QskgxpLoCc
        BPpfaRTSANI91H+GlIOKcl17vuz0cAJfWRHlPdReRwpqxdy1nt5
        3bQ1I0vzMywohHvbkfOTXESQ60d6
        N6PN5tJzcA8xCwJut4DbjlSyysWMrs0aOR3+QNySYMuQ
        gH2asMacmc5ptqWZllHStWLaNizsvyHYVBf
        mEn[...]
