http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"not_a_date","end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x01e6607052ce04
      location: http://opencpu.lifewatch.be/ocpu/tmp/x01e6607052ce04/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:05:05 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJw1jU0KwyAUhPeeYpYtqFS76w0KXbarEMIjviaCUVAb6O2rkM7qmx+Y58pY/M4RpVKuk6PK
        EjHViQ7
        2pVv4CMJOwTv0HO+UN6oar8Kt+DapbVPOHQVSRllTrpwlWC8a9mKsMkZZI//cRx21
        EPeImUK4iXbx4W
        G4PsbxNKfozkL8AMkAM4E=
  recorded_at: 2026-04-23 14:05:05
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2017","end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0adec2e376e84c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0adec2e376e84c/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:05:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 1696
          }
        ]
  recorded_at: 2026-04-23 14:05:20
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2017","end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":50000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x04cff4289dc949
      location: http://opencpu.lifewatch.be/ocpu/tmp/x04cff4289dc949/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:05:25 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x04cff4289dc949/R/.val
        /ocpu/tmp/x04cff4289dc949/R/credentials
        /ocpu/tmp/x04cff4289dc949/R/get_acoustic_detections_page
        /ocpu/tmp/x04cff4289dc949/stdout
        /ocpu/tmp/x04cff4289dc949/source
        /ocpu/tmp/x04cff4289dc949/console
        /ocpu/tmp/x04cff4289dc949/info
        /ocpu/tmp/x04cff4289dc949/files/DESCRIPTION
  recorded_at: 2026-04-23 14:05:26
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x04cff4289dc949/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:05:28 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU3Xd8Tdva8P2ZKqJFb0FEiz4XQUQw9U4QRAQhWggiIqIvvfcWvRNBRPS+9Oi23vsmytZ7
        fX/XNJy
        z93nvc7/v8+fj/nxlz7XG7KNd18jtVGvWrEkri6b95E+io6a5afLHVUurOWtOmgv/
        xR87R7Y1tlz421
        H9rWlZ4Md/PHTQtDhEwQ[...]
[...]
