http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"not_a_station_name","protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x03fc9d9bde29a0
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03fc9d9bde29a0/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:16 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVFFP2zAQfudXnBDSUimEpgUKEWKCjsEDExND4wGh1CRHYzW1I9ul42Wa9rBfUO1pv45f
        snOaUKc
        r24ji2Od833d3vkv6TLwxcM9FCtoww6WIBRsjDIQ0MYvdvQFwEYEPb3342m1v7rRh
        DJMtTWSdTdmjD4
        oPMwN3TIx8aNPdbseXNAU9KBSmpZAPIe2E8OEUCqYN5siVhFdcJABXbCoe
        mUppHXShL8V9PkGRoLV34
        FjJEQqaAmv34MIYVPBRypzs9zROaZzRGI3h3dYn6Cs5nmKelzsn
        5fM6PqrmYx86dMMR0zmyYQZXihWU
        QcdmwPIx8pS9EGkQBGvHLBkZxRKM1sq9p58/aBEG8DT7
        9TT7hg8snzCDUVSvPGK1CNKxkO8V7I5pgky
        5yS6RCqKMrmHdGmbHrIKCl8uE5S1wGOdcGw+/
        FIqqVGlY/vaCD46zhsKFwErE+7vgzaZQty3HviH71r
        rZabpZGWwqr5vOFJqJEqWPhahV222q
        vTLteZQk03NlXhRyAlrSuQnP59ntNYVWSv1/dvtu5RcNUpY/z
        phIc1R1/cO2W/9Fq1iaR35z
        iwldjHv0S7jOql6a++0ThIvh2ZL37uom/cw1v8vRK9Xnh4bigauW5Tx3
        3FIULo5gVcfAP4G7
        wVIF0QiN6oHTNxcNkf5hiZxow5M4RYOJ/QfpuGDD+ksLe8EflXMloiTDZBTbOjx
        T9lxKTWKa
        OMZkzETRfB1bo+bsNznNxLSRhTcnnSgllceMUdQi2of1sR6ut+zRdcpiz5yueO6uwcG9OB
        x4
        gwPSKCUOB5ZAla/9TJmhRNRGMdGZl4jUvu4ETiBVZ21g6b9Mt7X2G4qaJrs=
  recorded_at: 2025-09-25 13:08:16
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"de-9","protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0ca946cf75e59f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ca946cf75e59f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:18 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 14927
          }
        ]
  recorded_at: 2025-09-25 13:08:18
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":"de-9","next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08f5fd508a6fae
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08f5fd508a6fae/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x08f5fd508a6fae/R/.val
        /ocpu/tmp/x08f5fd508a6fae/R/credentials
        /ocpu/tmp/x08f5fd508a6fae/R/get_acoustic_detections_page
        /ocpu/tmp/x08f5fd508a6fae/stdout
        /ocpu/tmp/x08f5fd508a6fae/source
        /ocpu/tmp/x08f5fd508a6fae/console
        /ocpu/tmp/x08f5fd508a6fae/info
        /ocpu/tmp/x08f5fd508a6fae/files/DESCRIPTION
  recorded_at: 2025-09-25 13:08:20
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x08f5fd508a6fae/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:21 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJys1wVUnMu+pnHeEIc4EHd3t3Zv4u5CBJIQgQhxd3d3d3d392TH3d3dYZ5kn5yzMzP33jVr
        Tfb67aa
        766uqv1SxsFetWqlWYR+fGP6tie3jk9Tn57+EPv4+cX3i+MTnJ/4pNu99eBef/8f+
        1/99fAJg4of7vj
        4+SxAFE2LjTCwfnwkIRS[...]
[...]
