http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"not_a_sciname","acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0778771c52e8d8
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0778771c52e8d8/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:08:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJxVT0tOxDAM3XMK79iMegB2wA24QOc1k7ZGiVPZDprenqQFaWbj9/F7VvIJeXWaWW5kgaM4
        zxxGQY5
        0leIjxmZ3eSWWN3qfFJmNOuDyLOmrOqdqpCe2dYD4WvXkvEWxqA+Uyn1XlrA+Bci8
        KpfmRC95T4jt5l
        R+WI5YKgZCn/9iRkq4N5WntCu+QYobw3tAoCuHFUapbkdflsotT/gjD5YW
        cz17uuxNldy/Exc+mrY1J
        BxwoQ8kNo9GAZuyhdPTqT8WOgzDyy/fLn6l
  recorded_at: 2026-04-23 14:08:08
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x01211d4548448d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x01211d4548448d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:08:12 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 20944
          }
        ]
  recorded_at: 2026-04-23 14:08:12
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":50000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e9cb6368d459c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e9cb6368d459c/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:08:13 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0e9cb6368d459c/R/.val
        /ocpu/tmp/x0e9cb6368d459c/R/credentials
        /ocpu/tmp/x0e9cb6368d459c/R/get_acoustic_detections_page
        /ocpu/tmp/x0e9cb6368d459c/stdout
        /ocpu/tmp/x0e9cb6368d459c/source
        /ocpu/tmp/x0e9cb6368d459c/console
        /ocpu/tmp/x0e9cb6368d459c/info
        /ocpu/tmp/x0e9cb6368d459c/files/DESCRIPTION
  recorded_at: 2026-04-23 14:08:13
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0e9cb6368d459c/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 14:08:14 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU1WPcXVe7OOrnje2kYeM0Tdo4aRrbdmPbtm3btm3btq3GxrlS7N3uc/b/fDlfznx+15rP
        veY9PMZ
        cOUuVKl4+dUDAV9fyIAEBEQK+XaECwgQECwgaEMJ/rv8EEQeIQvgM8tdnQEAUsvjn
        duCAgPm0JgtBOB
        4oIGA0tUnFs/8EBKymM0[...]
[...]
