http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x097fb6ab130b2d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x097fb6ab130b2d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:02:56 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x097fb6ab130b2d/R/.val
        /ocpu/tmp/x097fb6ab130b2d/R/credentials
        /ocpu/tmp/x097fb6ab130b2d/R/get_acoustic_detections_page
        /ocpu/tmp/x097fb6ab130b2d/stdout
        /ocpu/tmp/x097fb6ab130b2d/source
        /ocpu/tmp/x097fb6ab130b2d/console
        /ocpu/tmp/x097fb6ab130b2d/info
        /ocpu/tmp/x097fb6ab130b2d/files/DESCRIPTION
  recorded_at: 2025-09-25 13:02:57
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x097fb6ab130b2d/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:02:57 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztnA1cVFX6x++FAZFA0dAlS0NSU8tkhmFmwDcwN3VzfUFIbTUchlEnkUHeJFOYXDNbLd/Q
        1M182W0
        1U5eUTEtqyjJTU9Ns1bTUbFfNNbMXyRfY35n7HObeeWFAspf/f66fL+c+5zznOc85
        99zzcu91klNSBg
        1TC0I1jjKVIEQI7AgVwoRgIUgIwRkOUQVZgBSCvyr6KwiRoDtOTgcKwhqQ
        D7oDFdgfIAilIBPEgouiI
        JSDKWAAiAQnkP95kAWSyGa7a9XVKDCA+RFNcewIB5nmnCzrYxPM
        2fnplkxWvkNXEJneSClfEMsXJcvX
        CEw0pY/JMo4V9kBnukzvDpneLSDPWpBrMqePsWSZhUro
        lcl86SjTbcF0LWOzjVnp+db0bKslz5yea8y
        3WB[...]
