http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"not_a_sciname","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0458bd34086559
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0458bd34086559/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-27 09:08:50 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJxVT0tOxDAM3XMK79iMegB2wA24QOc1k7ZGiVPZDprenqQFaWbj9/F7VvIJeXWaWW5kgaM4
        zxxGQY5
        0leIjxmZ3eSWWN3qfFJmNOuDyLOmrOqdqpCe2dYD4WvXkvEWxqA+Uyn1XlrA+Bci8
        KpfmRC95T4jt5l
        R+WI5YKgZCn/9iRkq4N5WntCu+QYobw3tAoCuHFUapbkdflsotT/gjD5YW
        cz17uuxNldy/Exc+mrY1J
        BxwoQ8kNo9GAZuyhdPTqT8WOgzDyy/fLn6l
  recorded_at: 2026-04-27 09:08:50
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08987e0c5cf09b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08987e0c5cf09b/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-27 09:08:53 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 20945
          }
        ]
  recorded_at: 2026-04-27 09:08:54
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a5235f778eccd
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a5235f778eccd/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-27 09:08:55 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0a5235f778eccd/R/.val
        /ocpu/tmp/x0a5235f778eccd/R/credentials
        /ocpu/tmp/x0a5235f778eccd/R/get_acoustic_detections_page
        /ocpu/tmp/x0a5235f778eccd/stdout
        /ocpu/tmp/x0a5235f778eccd/source
        /ocpu/tmp/x0a5235f778eccd/console
        /ocpu/tmp/x0a5235f778eccd/info
        /ocpu/tmp/x0a5235f778eccd/files/DESCRIPTION
  recorded_at: 2026-04-27 09:08:55
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0a5235f778eccd/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-27 09:08:56 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU1WWYVVe3MNh6cXeX4IEAwSEECO7uENzd3d3dXYO7u7u7uwS34C49SMK9ye2+X//oX73r
        GXVqnT2
        Xr7kqV+nSJSqkDQj44lkeJCAgQsDXJ1RAmIBgAUEDQvjL858gygFKIfwO8vfvgIAo
        ZPPHrcABAfNpQz
        aCcDxQQMAY6pCGp/8JCF[...]
[...]
