http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A180-1702-49684","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x076ef9da841ba3
      location: http://opencpu.lifewatch.be/ocpu/tmp/x076ef9da841ba3/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:23:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 84
          }
        ]
  recorded_at: 2025-09-22 13:23:08
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A180-1702-49684","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d050a35cb9943
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d050a35cb9943/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:23:10 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0d050a35cb9943/R/.val
        /ocpu/tmp/x0d050a35cb9943/R/credentials
        /ocpu/tmp/x0d050a35cb9943/R/get_acoustic_detections_page
        /ocpu/tmp/x0d050a35cb9943/stdout
        /ocpu/tmp/x0d050a35cb9943/source
        /ocpu/tmp/x0d050a35cb9943/console
        /ocpu/tmp/x0d050a35cb9943/info
        /ocpu/tmp/x0d050a35cb9943/files/DESCRIPTION
  recorded_at: 2025-09-22 13:23:10
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d050a35cb9943/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:23:11 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzt3AtcVFUeB/ADDA8VE9PMTF3SUkJxmQERFA0N32hEKK6K4wgDjA4DDQM+8mNk5KO0B/aw
        sjK3Nlc
        rH+km+Wi2WjV1RXd95ovKXmpJj60sdfb3P+d/nRlWtE/5SWvvHb/858w59/045565
        Tu+MjNuyjEJ4MC
        w3CBEhaGgowkWICBZheIchwIC0QCoMfw38V4jmkIw3R4OEWAwuSAYD7AgU
        4lHIhVioDRBiFUyFNGgON
        Rh/Adghhad542mPBzMMpOWI5M9oaAy51mJ70eRCq8NltuXS/GVZ
        EUDlRqvxgmm8lj7jhcKdOeY8uyVf
        bEOZCp9yrX3KNYKSolJnjtWcZ7Nbxfcot9xnWaJ8yl5D
        ZW35Dovd7CoyO4psJVaz0+KyFeHzxT7LVOs
        zL9[...]
