http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"not_a_tag_id","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x00b71f9bca7613
      location: http://opencpu.lifewatch.be/ocpu/tmp/x00b71f9bca7613/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:17:39 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVN1q2zAUvs9TiFKYDamJZNmOTenFyqAXhcEutotQbNVWExFPDpKSjl2NXewJwq72dHmS
        Sf6J5Cx
        rt0BAH/5+ztE59i3hbxR4YrwCpGy2UrEyV2SZswoUvFE56VEBGM8AhvH67usVnkfT
        4ZxG8fEMIYYOiL
        EFKEksSEOrR7PYGiAEUweguQOwA9wCUDy3oSiBDi2N7ZMwnFlNGCXIgji1
        FeAZtIViGFkNxokDktBaR
        zMcOSDRLQRBMHlLyrUSpKTZBJjf4ecPfYABOOx/Hfbf6I7UW6Jo
        lg0nT6t8TUGG8r2nPRKpKc9MrT5Q
        qYhQcqCFA8389z0VeHVTktoHjuKeSeXRLxsxBaL3MHps
        9cAJGzm857Q38V42XFxx8eA7eKHxg4mJxjF
        ni62aT+MwQdVW8DbDmhq3eOz2n213VWqbxLX5
        q5FT0InPAt533c3HRmet/r271J28XZB2/PmK8KqmYp
        g/nLnzt6tiZJ7OrQ0Huhz36k946Nwu
        dbm3msL48u4kPTy/pB+ZZI819Vr37tIo3zHhG81x406qcHma1
        m8MeJUYBycTpIpLKnZMv3PZ
        kuqv1/BJq6iipWINl/mGLIc3DSbBH5NzLbJyRct1buZwlMxdySAiUmuU
        WhGVZd05N2DQpGPN
        uDGpmo3Xid4J0QiPKCX0isgpuPgslxe+uTrUDnvvbMVxu4rrJ35TeMW19mgtbgo
        j0JMfcp6J
        0o2Iy81WrrySV+YxCpxC+s26pG1+264/+Q1+JyBK
  recorded_at: 2025-09-10 14:17:39
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x062ca081470d15
      location: http://opencpu.lifewatch.be/ocpu/tmp/x062ca081470d15/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:17:43 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 10994
          }
        ]
  recorded_at: 2025-09-10 14:17:43
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x058ed5ebb9855c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x058ed5ebb9855c/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:17:45 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x058ed5ebb9855c/R/.val
        /ocpu/tmp/x058ed5ebb9855c/R/credentials
        /ocpu/tmp/x058ed5ebb9855c/R/get_acoustic_detections_page
        /ocpu/tmp/x058ed5ebb9855c/stdout
        /ocpu/tmp/x058ed5ebb9855c/source
        /ocpu/tmp/x058ed5ebb9855c/console
        /ocpu/tmp/x058ed5ebb9855c/info
        /ocpu/tmp/x058ed5ebb9855c/files/DESCRIPTION
  recorded_at: 2025-09-10 14:17:45
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x058ed5ebb9855c/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:17:46 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwUl2N4nV0Thbtq23bf2jq2ayO1bdu2badKbRuplZppUyN1v/v7cfec8zx7z55Zs2Zfaf2k
        ceLEiRc
        nfgL+hThxEtSp7SleiV/p+JEeUsSJU+STDMkfyJCiElyWIeVxGVLFh0cypN4KB4A1
        aZrAOxnSVpYhXT
        EYCM/gjwzpM0BBuAY8y9gTPsuQ[...]
[...]
