http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/validate_login/json/
    body:
      string: '{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a7e5c39105862
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a7e5c39105862/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 12:54:18 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [true]
  recorded_at: 2025-09-22 12:54:18
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2014-04-10","end_date":"2014-04-11","acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":"de-9","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x05a9663f7d7f5d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x05a9663f7d7f5d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 12:54:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 7
          }
        ]
  recorded_at: 2025-09-22 12:54:19
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2014-04-10","end_date":"2014-04-11","acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":"de-9","next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f3c2e6654cddf
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f3c2e6654cddf/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 12:54:21 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0f3c2e6654cddf/R/.val
        /ocpu/tmp/x0f3c2e6654cddf/R/credentials
        /ocpu/tmp/x0f3c2e6654cddf/R/get_acoustic_detections_page
        /ocpu/tmp/x0f3c2e6654cddf/stdout
        /ocpu/tmp/x0f3c2e6654cddf/source
        /ocpu/tmp/x0f3c2e6654cddf/console
        /ocpu/tmp/x0f3c2e6654cddf/info
        /ocpu/tmp/x0f3c2e6654cddf/files/DESCRIPTION
  recorded_at: 2025-09-22 12:54:21
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0f3c2e6654cddf/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 12:54:22 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzNVc1uEzEQ3s0Pq23TpqjpgUMfIVUSaCG3VJWQwoW/phQulrPrDUa7dll708IBeAUucOLC
        E3DiVgk
        kXgCJC4ceQAgJiQMnJIQEjLP2kkRUIhCpXWk8ns8z34y9/tmesSwrbxWK0IJYVrGz
        eb56DqxFMCogcy
        CO3Xr/0t74/NVuLxP7wsO39lZ/z77+at++sXwKfOeVz/qb148OoKP09xda
        p/Zj90Fqf2ql+oMe/9hSO
        Qs5aGyrYLmqAC/EQkBnASSnQefSxavtbU9q88TAlOOR8i5nREca
        MN/Z3AD1Q8MOiPsTvn/QaXxKO7++
        1qzW12p1aOqnV48F+v8zHPxr+FXWYTLlVSz6JCLxlI3R
        FLNbVxrXqvXGmdrZ2hFAo8UUfFJtTq0PO0B
        xt9r33j2/edCcVGfxlUbn2er+5Um1ib//RW0L
        5+mkegp76ajz//150SeWsi5HPpYYBTQkxwKd0irA8X
        tyuKh72janP29ucdkNkR+Yixos3Z1R
        1a0EMY7I2BXvxnx3hQEudN6cWmUo49v4W2CcVMKKBks+kcSTl
        DNEfcMIuQiSNDLrc1LiHhIk
        pjhELIm62fVSxh5PhKQeUh4ZwSJmNALfnZjfAnLkcd9QuXoo8y0LjxIm
        aQAkqkANL2XMfyCZ
        jYlHaJ/Ev2lKQuLBLIY4yj7ZCfkdFMKITLLoBQNz1hvGS4IwwWPUx2GSZdJYwqh
        5aOdSqDHi
        VzLgkOOSoD0GU5UcMU4FQbGqMCPmSeyR4V3o3PZQEOKeyZOWGcHiqGnCe/0Lc/khsw==
  recorded_at: 2025-09-22 12:54:22
recorded_with: VCR-vcr/2.0.0
