http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-24","end_date":"2014-04-25","acoustic_tag_id":"A69-1601-16130","animal_project_code":"2014_demer","scientific_name":"Rutilus
        rutilus","acoustic_project_code":"demer","receiver_id":"VR2W-124070","station_name":"de-9","protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x003fa3c9ec20e0
      location: http://opencpu.lifewatch.be/ocpu/tmp/x003fa3c9ec20e0/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:34 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 6
          }
        ]
  recorded_at: 2025-09-25 13:08:34
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":"2014-04-24","end_date":"2014-04-25","acoustic_tag_id":"A69-1601-16130","animal_project_code":"2014_demer","scientific_name":"Rutilus
        rutilus","acoustic_project_code":"demer","receiver_id":"VR2W-124070","station_name":"de-9","next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0b0b2187ab12e6
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0b0b2187ab12e6/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:37 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0b0b2187ab12e6/R/.val
        /ocpu/tmp/x0b0b2187ab12e6/R/credentials
        /ocpu/tmp/x0b0b2187ab12e6/R/get_acoustic_detections_page
        /ocpu/tmp/x0b0b2187ab12e6/stdout
        /ocpu/tmp/x0b0b2187ab12e6/source
        /ocpu/tmp/x0b0b2187ab12e6/console
        /ocpu/tmp/x0b0b2187ab12e6/info
        /ocpu/tmp/x0b0b2187ab12e6/files/DESCRIPTION
  recorded_at: 2025-09-25 13:08:37
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x0b0b2187ab12e6/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-25 13:08:37 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJztWE9oHGUUf7M72a41NivGsmIIEWtZi4uz2zR/IIdERVatWMPWqgjDZHeSjOzOxNnZgiCa
        Qw45SwU
        PEYqnPS5YxEOFHoNEyLEXIYUeeqiYWz2YjO99f3ZmP3djIhER8oU3b38zv/e+977v
        zZuZzM3Pv3OtAB
        DiaOsAGaBxGgYhBQOQxl84NB0xIErjURdHgGGUGfxxPwnQQglQZlB0lO0E
        wA2UKoqBsqsB3EL5DOUyy
        jDKDtpvoNRQZoXPc3+EIU6YoDjGxDkaT6BU7ZWa92nddgPTqdL8
        jAsa8T7idgNkl43ZnUL5pGIu1qwl
        2ELOWow3EuM9jtLwmn7FNhedmg2/I68diyUX4z5NXGfJ
        tWpm4Jmu5zRs07cCx8PzrVhMu7G54rnQWjZ
        st+[...]
