http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x009e28c0ddcabf
      location: http://opencpu.lifewatch.be/ocpu/tmp/x009e28c0ddcabf/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:50:48 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 10994
          }
        ]
  recorded_at: 2025-09-10 12:50:49
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":"A69-1601-16130","animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x059e13060aa805
      location: http://opencpu.lifewatch.be/ocpu/tmp/x059e13060aa805/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:50:51 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x059e13060aa805/R/.val
        /ocpu/tmp/x059e13060aa805/R/credentials
        /ocpu/tmp/x059e13060aa805/R/get_acoustic_detections_page
        /ocpu/tmp/x059e13060aa805/stdout
        /ocpu/tmp/x059e13060aa805/source
        /ocpu/tmp/x059e13060aa805/console
        /ocpu/tmp/x059e13060aa805/info
        /ocpu/tmp/x059e13060aa805/files/DESCRIPTION
  recorded_at: 2025-09-10 12:50:51
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x059e13060aa805/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 12:50:51 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwUl2N4nV0Thbtq23bf2jq2ayO1bdu2badKbRuplZppUyN1v/v7cfec8zx7z55Zs2Zfaf2k
        ceLEiRc
        nfgL+hThxEtSp7SleiV/p+JEeUsSJU+STDMkfyJCiElyWIeVxGVLFh0cypN4KB4A1
        aZrAOxnSVpYhXT
        EYCM/gjwzpM0BBuAY8y9gTPsuQZZYMWWvJkL0vjJchR3PoKkPOlTLkSgcj
        4f/fD8mQ+wUQK49HhryJw
        Qmcn/egDPmInW+wDAV8cF+GgkXBAKtl+G+ADIW7y1CEvIoRu/hw
        CJeh5BCYKkOZikBt5Z7LUP4c3JWh
        YgMZKo2ToTJnG0fBPhnM5GMmdwtrLa3gngxWntvMEJLB
        Hgd6wDCYAOTsqAec5UwE5Oh8A7EyuNDLfVs
        Gb0[...]
[...]
