http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"not_a_date","end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 400
    headers:
      x-ocpu-session: x038ff2f972ef65
      location: http://opencpu.lifewatch.be/ocpu/tmp/x038ff2f972ef65/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-19 12:03:10 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyFkr9OwzAQxvc8xalTKqVWnfI3IywgIbEAS4Ui1zkSi8Su7KPAhhh4goqJp+uTYLeJ2tIC
        liKd8/3
        uO9/ZNxVCqWaowZGwlBeCMAFtKBdtrFzYgtIgYCZqVUD4Dw/GNoIY3Dr0wqtfg6YZ
        FEUrgLHgKmMJbQ
        LISgbpkKcDzgcpT7o4QCFkUXSpQYq6ziJf4gnH49HV/X0sjS76UXQm5CNZ
        ITGLIKzF54cPOIPF/Gsxf
        5sIh1mGPjEOFn2vpUF79998vz7azn1WVJ17SenyQuiiRutixlgg
        D3bJO+XUpMZ46Ygv09CgninbD/wh
        2626yXjkiIUe/oGO2arVJYakHdqZ8hPISvRXI82TIyXz
        AgklKaNdPhUldoc+WSXvS89khfJxebU5qQb
        jzWvvrTe94HPa+Wyfl+zruSBZteX4cI1tghDX
        xg+8Dx1/pRy1fcpaOIcugamwqMm3nUDVjj5Y8k3LP0
        2vNbaeWjS/OI7H3D+n4Jtu+3bOu48O
        +Ognuj0ER2a6GsA3kC0aBA==
  recorded_at: 2025-09-19 12:03:10
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2017","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0016d10a7edc2a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0016d10a7edc2a/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-19 12:03:14 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 1696
          }
        ]
  recorded_at: 2025-09-19 12:03:14
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2017","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x065f276210df9b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x065f276210df9b/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-19 12:03:16 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x065f276210df9b/R/.val
        /ocpu/tmp/x065f276210df9b/R/credentials
        /ocpu/tmp/x065f276210df9b/R/get_acoustic_detections_page
        /ocpu/tmp/x065f276210df9b/stdout
        /ocpu/tmp/x065f276210df9b/source
        /ocpu/tmp/x065f276210df9b/console
        /ocpu/tmp/x065f276210df9b/info
        /ocpu/tmp/x065f276210df9b/files/DESCRIPTION
  recorded_at: 2025-09-19 12:03:16
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x065f276210df9b/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-19 12:03:17 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnQd8FWX6/a8EUVQExIK+Y6OLoiQECL0TRXoLIBAChBA6JBSxELpg5BoVgRC9k6B0JAME
        hKBiRbG
        uXeyKYgPL2lBX/yf3POiq6293/euCenY/3z3vc+aZyZ2bOXNn3rlZ+hwTCoViQqWP
        xP+CUOjIXj3b10
        lAVQnFiaBcKFTGLxV/3W1gPSgE[...]
[...]
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d9b1dcb1b0e19/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-19 12:04:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJyVVDFvEzEUvjQpIe21SVW6MPEHEuUOkrZbKySkLoDaFLpZrs8JRj67tX1BVELwCxj4A0hs
        LKzsLAx
        IMLHxI9iRUp5z5+PulAqI9Pz8Pn/+3rP9cicrnufVvcYyjGCet3w8utfdgWgTghtg
        a2BLNfTpK9g3wN
        dtvP/9/ov3MLH+y57d11iCoeY1vJYVIRxrDZOOJWdg8+GDo4MTYrLw2jw0
        1Z3mQgqa7XRg/Xh0F9ysK
        hgE28H2TlANy6z1/eFuNxj2g244HNweXIGW96yE/eAOimhM1QIk
        uxOo7zy1cr4jxhOV6FsTjgXTV6CV
        fBeUavKE8oguQMrc1UeH4eNuEITh7mARVGbXNTxmYQqV
        2NW9gzcj//Prt87n+Mbhx9n1D7+cd/jLn/a
        Nm++cz7N4XusSfgX/v/z5Xb6CwVql+pv2YCg9
        GIIXGPSHwQAFPaKn/8D4S05oth+p2Q6sXWb8uutPc8
        pRNHaXB5F7mggb3BsrHNNK87aUfNYT
        gOviuSDlrNrljtSZ/8lS0I+oocQwKRCLnCLkosiw2PXFhsETp
        KlimCORxKd5g7YxkYk2jCDL
        yAU2odti4J4p+RTEEZF5i7WypZzb1oRRYdgYRGyBGbyVKy8QWVWUUDal
        6o+Mrw2en6Kg0Y7o
        GZfPEYcVk+S7Ow6WYlLEfU2FlgpNMU/yTBmWCOY+IWspFJZ4vgMLxC3NJgKOaiQ
        SkmmKlK0w
        F5aJIhSNGXcazXOCxhxPXJ60zBguxx4TvkS/Aa6gCYs=
  recorded_at: 2025-09-19 12:04:08
recorded_with: VCR-vcr/2.0.0
