http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"end_date":"2014-04-25","animal_project_code":"2014_demer","limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e903ef023b94f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e903ef023b94f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:35:58 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0e903ef023b94f/R/.val
        /ocpu/tmp/x0e903ef023b94f/R/credentials
        /ocpu/tmp/x0e903ef023b94f/R/get_acoustic_detections
        /ocpu/tmp/x0e903ef023b94f/stdout
        /ocpu/tmp/x0e903ef023b94f/source
        /ocpu/tmp/x0e903ef023b94f/console
        /ocpu/tmp/x0e903ef023b94f/info
        /ocpu/tmp/x0e903ef023b94f/files/DESCRIPTION
  recorded_at: 2025-07-25 07:35:58
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0e903ef023b94f/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-25 07:35:59 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnXl4FFW+/vMGENlBlgvoAAqKCyL7kqST7uy9L+mk0yFkXxESDAmMqIDiiAtuiAqCoMCo
        iKKAIgK
        ig4gDiuIuo+A26oAioMgiKrew3q7R+d354/fcZ+bOjK/Pc3jP+zmnTlVXnTr1/VYn
        Mb91XFxcs7jmLY
        x/jRIX1yI3nHnxKMN1NkxXo7Qz6rPg2hxCZFVL+H7bE+6dHeDFjfBHnMj8
        Yi6SSkbA8ekiJDw7CrZ9s
        5DQ8XtEdlyPjJ7tYDs9H+43chHMPoKUtInwPPQw8hbEwT9wGTLm
        v4RI4UFE1x9B0o0nELjwEQRWdYJr
        YgLySjoj3TEP7q6FSHnvEvg/XYNQy23wLvwI6XVNCFfW
        IX3HAbh6rYE3cC2i++uRfdYIhG5cgfyuc5C
        +bh[...]
