http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":"2015-05","acoustic_tag_id":null,"animal_project_code":"2015_fint","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x09e2ea431b1ba3
      location: http://opencpu.lifewatch.be/ocpu/tmp/x09e2ea431b1ba3/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:52 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 3484
          }
        ]
  recorded_at: 2025-09-10 10:31:51
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":"2015-05","acoustic_tag_id":null,"animal_project_code":"2015_fint","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x076fd4eecd4bf5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x076fd4eecd4bf5/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:55 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x076fd4eecd4bf5/R/.val
        /ocpu/tmp/x076fd4eecd4bf5/R/credentials
        /ocpu/tmp/x076fd4eecd4bf5/R/get_acoustic_detections_page
        /ocpu/tmp/x076fd4eecd4bf5/stdout
        /ocpu/tmp/x076fd4eecd4bf5/source
        /ocpu/tmp/x076fd4eecd4bf5/console
        /ocpu/tmp/x076fd4eecd4bf5/info
        /ocpu/tmp/x076fd4eecd4bf5/files/DESCRIPTION
  recorded_at: 2025-09-10 10:31:55
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x076fd4eecd4bf5/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:56 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzsnQeYFGXWtmcAFVFgXNaEumZBV7qqCIq75jWv9HSbwEhmVJBsVjIqOZvtGgkN9Ez3AGal
        BdTpdsb
        smgXXBRPmuKZd+W98n/3+z/7EXVfAEc91+Xjq3BV6qus8b731VnXRqVFRUVH9ogab
        8X9UVLTZqacc06
        o9WTOS36LG/Hdz8ZmDL0dXoCvREDQUDUPD0Qg0Eo0q7vzAY2hNcecHi1Ax
        qlfctfsf0B/RwegQdCg6D
        B2OjkBHoj+ho9DR6Bh0LDoOHY9OQH9GJ6IOKIpKUQzF0UnoZHQK
        OhWdhjqiTuh0dAY6E52FzkbnoM6o
        C+qKuqHuqAfqiXqhMnQuOg+dj3qjPugC1Bf1Q/3RADQQ
        DUKD0YXoInQFuhINQUPRMDQcjSjuestENAl
        NRl[...]
