http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":"2016","acoustic_tag_id":null,"animal_project_code":"2015_fint","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0c49f0deb6eb88
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0c49f0deb6eb88/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:44 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 15519
          }
        ]
  recorded_at: 2025-09-10 10:31:43
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":"2016","acoustic_tag_id":null,"animal_project_code":"2015_fint","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a7bca6689f85a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a7bca6689f85a/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:48 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0a7bca6689f85a/R/.val
        /ocpu/tmp/x0a7bca6689f85a/R/credentials
        /ocpu/tmp/x0a7bca6689f85a/R/get_acoustic_detections_page
        /ocpu/tmp/x0a7bca6689f85a/stdout
        /ocpu/tmp/x0a7bca6689f85a/source
        /ocpu/tmp/x0a7bca6689f85a/console
        /ocpu/tmp/x0a7bca6689f85a/info
        /ocpu/tmp/x0a7bca6689f85a/files/DESCRIPTION
  recorded_at: 2025-09-10 10:31:47
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0a7bca6689f85a/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:48 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwU12WYJAtWoOG5uDursLs4K4S7FCvACu4uM7i7u0MV7tYZEYln35ToTtyZqUoqonF3d3eH
        ffnxzfP
        Mn1uZGec9J/qtXugZz3jGcz/jeZ7X/+oZz3jeN3+z13mNyv97af/nZfSiz3hGNzz1
        th/y0foYfaw+Th
        +vT9An6pP0yfoUfao+TZ+uz9Bn6lo3+ix9tj5Hn6vP0+frC/SF+iJ9sb5E
        X6ov05frK/SV+io90Eb/8
        plGTdrqq/U1+lp9nb5e36Bv1E4P9bT2Ouiok2Y90mOd9U36Zn2L
        vlXfpm/Xd+g79V36bn2Pvlffp+/X
        s/Uc3epOF/2A7rVo1RP9oH5IP6wf0Y/qx/Tj+gn9pH5K
        P62f0c/q5/Tz+gX9on5Jv/zUO37/D+qfn3r
        HZz[...]
