http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"end_date":"2015-05","animal_project_code":"2015_fint","limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08004aa2ddb6af
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08004aa2ddb6af/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:20:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x08004aa2ddb6af/R/.val
        /ocpu/tmp/x08004aa2ddb6af/R/credentials
        /ocpu/tmp/x08004aa2ddb6af/R/get_acoustic_detections
        /ocpu/tmp/x08004aa2ddb6af/stdout
        /ocpu/tmp/x08004aa2ddb6af/source
        /ocpu/tmp/x08004aa2ddb6af/console
        /ocpu/tmp/x08004aa2ddb6af/info
        /ocpu/tmp/x08004aa2ddb6af/files/DESCRIPTION
  recorded_at: 2025-07-24 08:20:02
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x08004aa2ddb6af/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:20:03 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzsvQecFeXZ/r+L2KUosWHHbtSZAxZMLLGXyJ49NrAgIGVVFKTYGyoWkGbBvnMQlhXO7tkF
        FAt67Jw
        j2I0lKhgjJgoq9hg1kf8Xnyv5vTnRf/Im8XWj1+eTb+65r3lmlnPmue55zswzY4/V
        KioqVqhovSL/Dx
        UVKx55xAE7dCXrQLI2tOF/t1T2qR0H42ECXAVXwzVwLUyE6+B6uKGyT64d
        tIc1YS3oAD+BtWEdWBfWg
        /WhI2wAG8JGlX3mos9Fn4s+F30u+tzl+sawCWwKm0En2By2gC1h
        K9gatoFtYTv4KWwPO1SeOmdVWA1W
        hzWgDbSFdtAe1oS1oAP8BNaGdWBdWA/Wr+z18JOVffru
        C/vB/nAAHAgHwcFwCPwSDoVuUAVpqGb7jWA
        T2B[...]
