http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":"2014-04-25","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0dca20da52850f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0dca20da52850f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:59 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 903
          }
        ]
  recorded_at: 2025-09-10 10:31:59
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":"2014-04-25","acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a041b4806308a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a041b4806308a/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0a041b4806308a/R/.val
        /ocpu/tmp/x0a041b4806308a/R/credentials
        /ocpu/tmp/x0a041b4806308a/R/get_acoustic_detections_page
        /ocpu/tmp/x0a041b4806308a/stdout
        /ocpu/tmp/x0a041b4806308a/source
        /ocpu/tmp/x0a041b4806308a/console
        /ocpu/tmp/x0a041b4806308a/info
        /ocpu/tmp/x0a041b4806308a/files/DESCRIPTION
  recorded_at: 2025-09-10 10:32:02
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0a041b4806308a/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:32:03 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXQd4VFXanpci0kHKD+hSBMWCCKGnTnoyPTOTTGZSJpPJpCgkGAKsqEhxxYINUVERFFgQ
        CwooIk0
        WERcURUWUVbCtuqgIKFLE8l8832XD7CQyTOFO8u3zHN973nvqV875zrkTNreVSqVq
        qmrWXPqvlFSq5t
        nWtKtGSrlOUqazlNpKzzMQ3eEXRPcci+gBTRA9rAzRiSZEpz6IaEc/RBdO
        ktIyRI/9BtHV0vvxUn7eQ
        UQveRrRy69D9JqtiH5lpJRciH69HaLfiEf021sQvaspov81HdH/
        7oXoI8cQ02QsYjokIKZTX8R0uQcx
        ve9HTN8fEBO/AjEJPRCT0wIxeW8hpnAbYq6vRsykFxBz
        y+OIeciEmMd2IGaBVPb5TohZvhsxK+Yj5oW
        HEf[...]
