http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":"not_a_deployment_id","receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x05f30642507f41
      location: http://opencpu.lifewatch.be/ocpu/tmp/x05f30642507f41/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJwljkEKwjAUBfeeIjs3Utq89ie69SBtsRECmkopgrfXjJtZfOZ95jqX4+7uuSxuS7eU32kb
        8+Kmsu7
        jPC7p9Vg/z1T233FyuVxc5/t4qjxXDi3soIeCPRygwQDZDmyNrbE1tsbW2BpbY2X4
        AT9gBsyAGTADZs
        CMmBEzYsZqyldHaqGHBv/3COsH9bVK9It+0S/6Rb/oF/2iX5SLclnTNIcv
        mVRJIg==
  recorded_at: 2026-04-23 16:35:19
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":["1437","not_a_deployment_id"],"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x08739fbb41cabe
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08739fbb41cabe/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJwljrEOgkAQBXu/4jobg8KD3dPWDwEiZ0KihyHExL/XG5spNvM2cx3zfgv3OU9hTbc0v9Pa
        z1MY6lY
        +hDFPx2UNQ162fuyn9Hosn2fK208ZwpwvoW7aeCg8F3YnWMMGCrawgwYdsu3YGltj
        a2yNrbE1tsbK8B
        3fMR3TMR3TMR0zYkbMiBmLqaY40gk20OD/HmH5oLZUiX7RL/pFv+gX/aJf
        9ItyUS6rqmr3BVxsTTQ=
  recorded_at: 2026-04-23 16:35:20
recorded_with: VCR-vcr/2.1.0
