http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animals/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_id":null,"tag_serial_number":null,"animal_project_code":null,"scientific_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x046f75ec2e86cd
      location: http://opencpu.lifewatch.be/ocpu/tmp/x046f75ec2e86cd/
      x-ocpu-r: R version 4.5.1 (2025-06-13)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-01-27 15:56:19 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x046f75ec2e86cd/R/.val
        /ocpu/tmp/x046f75ec2e86cd/R/credentials
        /ocpu/tmp/x046f75ec2e86cd/R/get_animals
        /ocpu/tmp/x046f75ec2e86cd/stdout
        /ocpu/tmp/x046f75ec2e86cd/source
        /ocpu/tmp/x046f75ec2e86cd/console
        /ocpu/tmp/x046f75ec2e86cd/info
        /ocpu/tmp/x046f75ec2e86cd/files/DESCRIPTION
  recorded_at: 2026-01-27 15:56:19
recorded_with: VCR-vcr/2.1.0
