http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":"not_a_deployment_id","receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0225f3fbdfa4de
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0225f3fbdfa4de/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 13:18:53 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVM1um0AYvPspVlGkguQiw9oLRlEOjSr1EKlSD+3BimCDNzYKWaxl7bS3qoc+gZVTn85P
        0t3B2Iv
        r/lliBHhmvvn4Prjh8pUmD6WcEyUKUW6Eyso5yWWtM57NxaqqvzwJqc3NnJQyJWE0
        ToYWpxYnI2AIjI
        AUOAZOgAwYA6GdQMugZdAyaBm0DFoGLYOKgR+DH4MZgxmDGYMZgxmDmYCZ
        gJmAmVgmjSyH0hEwAjJge
        z8BWgc6tqko8lPkp8hPkZ8iP0V+ivwU+SmSUySnLAiCwRtePGrF
        C5EOiP3tXr6bkzAgu+2P3far2PBq
        zbVI0+7MMyrfUCJL+ban3fPGUJ5LvfwgGs2Vbjoa7Wj2
        2O6pxKvqglc+cRS3ZaM98XmlhmbMrYfVj49
        64hTrObyXYm/i/dlw9lqqO9+5npnrO1tm0i9z
        Nuy8/tQvpoReK4kaR1Prxvpu/9l2m9LYxK7Nb42cQC
        c+s/C27S7pG521+vfupu7kjwuC8WdL
        LueVUN38w5E7/+OqWJln6laWE7oc99Gf8KJzu9TWvTGUUi7en
        VSn55f0Y9mU95Xw4N4+NCE3
        pfKt5rBxJylcnqHtN4b8lciCkwkKLRuhNqV559KFMB+xol43uiycb9mh
        gTj4ZWquPC2WonjM
        7Ay6FzNMXEkn4o3RaL3kOk3b88xedJppX9NvqtH1ymtFb5Wqlce1VmY9miG5eGo
        WF759bBEG
        vXU24rBZ+dWDvM69/Mp4wOI6twIz9a7OM9emEXW5WjdLr5Bz+3cUOEH2W3UpUB/t+oOfWm
        8Q
        ew==
  recorded_at: 2025-09-10 13:18:53
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":["1437","1588"],"receiver_id":null,"acoustic_project_code":null,"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d5a96e0ae6540
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d5a96e0ae6540/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 13:18:57 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0d5a96e0ae6540/R/.val
        /ocpu/tmp/x0d5a96e0ae6540/R/credentials
        /ocpu/tmp/x0d5a96e0ae6540/R/deployment_id
        /ocpu/tmp/x0d5a96e0ae6540/R/get_acoustic_deployments
        /ocpu/tmp/x0d5a96e0ae6540/stdout
        /ocpu/tmp/x0d5a96e0ae6540/source
        /ocpu/tmp/x0d5a96e0ae6540/console
        /ocpu/tmp/x0d5a96e0ae6540/info
        /ocpu/tmp/x0d5a96e0ae6540/files/DESCRIPTION
  recorded_at: 2025-09-10 13:18:57
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d5a96e0ae6540/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 13:18:58 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzFVc1v0zAUz9buq+x7A8TEbmgX1KmtNsZuKzDQDmiwD9jNchO3M0rsyHFalQPs3+DAhb+A
        Ezekif8
        AiXFDiAtn7kgbz2mcJmk7mLSNSI79fu/38j787OzlDMPIGNkBeMMwjIHdnYf5uyDN
        gLAAYwxGP+BvDW
        NwCdaTgZw1RmC+8myr9DxfLC0V[...]
