http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"not_a_project","station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x05bc58f5110ff3
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:20:57 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJw1kM1uhDAMhO99Cm69VAhS2kq99kG8JjHgKtgrk4C2T98sP5fom7GcGfkH5TVVA0uo0Gte
        Enu4m/6
        ST+A1UHUTTYCXd6tYvivXNB2MOZDgWxFtC72uJIufKAY6rahsF29ootsu3mHQR6ST
        Z8Rlxw4G05lOFp
        IDP+A+hRKVZhQB054sHQufEBi9ZyzZyfRs8lW+oTnbU7hmX95YEh1GCw+i
        iH+7cNATrmQQsh3BrvShv
        BBETlN55CjhOkAZM8dYsnqY0MpoJDlnPXkF5hmMceVRL/t5kbqu
        X/4BEyZ1xw==
  recorded_at: 2026-08-21 10:20:57
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"demer","station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d084c88cc97bd
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:21:00 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/<<<opencpu_key>>>/R/.val
        /ocpu/tmp/<<<opencpu_key>>>/R/credentials
        /ocpu/tmp/<<<opencpu_key>>>/R/get_acoustic_deployments
        /ocpu/tmp/<<<opencpu_key>>>/stdout
        /ocpu/tmp/<<<opencpu_key>>>/source
        /ocpu/tmp/<<<opencpu_key>>>/console
        /ocpu/tmp/<<<opencpu_key>>>/info
        /ocpu/tmp/<<<opencpu_key>>>/files/DESCRIPTION
  recorded_at: 2026-08-21 10:21:00
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/<<<opencpu_key>>>/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:21:00 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztW2tsFNcVHmywg59gL2mhIRmFVyoC7M6u16aUsjYYcMFe8JpHUNphvHO9HnZ3Zjszu44p
        sd2qVdI
        SNS0kKvShmv5qpUSlUkJDK5BJldAqbdMAjkIDDSCVplLTIkBtpUhJzzzu7OzMjndw
        bJnHWhp/93z3nH
        PPPffM3Z1rz84KgiBKiell8HsG[...]
[...]
