http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"not_a_project","station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x02bf49233400b5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x02bf49233400b5/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:37 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJw1kM1uhDAMhO99Cm69VAhS2kq99kG8JjHgKtgrk4C2T98sP5fom7GcGfkH5TVVA0uo0Gte
        Enu4m/6
        ST+A1UHUTTYCXd6tYvivXNB2MOZDgWxFtC72uJIufKAY6rahsF29ootsu3mHQR6ST
        Z8Rlxw4G05lOFp
        IDP+A+hRKVZhQB054sHQufEBi9ZyzZyfRs8lW+oTnbU7hmX95YEh1GCw+i
        iH+7cNATrmQQsh3BrvShv
        BBETlN55CjhOkAZM8dYsnqY0MpoJDlnPXkF5hmMceVRL/t5kbqu
        X/4BEyZ1xw==
  recorded_at: 2026-04-23 16:35:37
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"demer","station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0d0d687c257e0c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0d0d687c257e0c/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:40 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0d0d687c257e0c/R/.val
        /ocpu/tmp/x0d0d687c257e0c/R/credentials
        /ocpu/tmp/x0d0d687c257e0c/R/get_acoustic_deployments
        /ocpu/tmp/x0d0d687c257e0c/stdout
        /ocpu/tmp/x0d0d687c257e0c/source
        /ocpu/tmp/x0d0d687c257e0c/console
        /ocpu/tmp/x0d0d687c257e0c/info
        /ocpu/tmp/x0d0d687c257e0c/files/DESCRIPTION
  recorded_at: 2026-04-23 16:35:40
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0d0d687c257e0c/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:35:42 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztW2tsFNcVHmwewU+wl7TQkIzCKxUBdmfXa1NKWRsMuGAveG0gKO0w3rleDzs7s52ZXceU
        2G7VKmm
        JmhYSFfpQTX+1UqJSKaGhFcikSmiVtmkAR6HBDSCVplLTIkBtpUhJzzx3dmbHOzi2
        zGMsXX/3fPecc8
        8998y199qzqwzDsFJs+gz4Dg3D[...]
[...]
