http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"not_a_project","station_name":null,"open_only":false}'
  response:
    status: 400
    headers:
      x-ocpu-session: x0a963f39b53127
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a963f39b53127/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:14:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
    body:
      raw_gzip: |-
        eJyVVMlu2zAQvecrhCBAZaAVLMXZhCCHBgV6CFCgh/YQBPSIGttsKNIgKbvpqeghX2D01K/L
        l3SoJaZ
        cdzMgY4Z6y5Az4jWoFy6aCVVGwHVtneBsafQn5I5xXWI0Vdox6NemkVB5lI3HEzav
        S1TwkpI0ZYVeob
        J8gbLEbklqYfp4DUbpdZMcs5l+kNjFFYBtwgmbGV1hFytUbXjClouSrFwF
        SjGjCzSuJZyyUgDnAsjbG
        d1VckYyWNXGJ9m4Ia+FctgupOwBUcKXJslYgbBCw8ratMYZ1YO1
        RSaFW9CfaovIJgzUvBZSklfBFmDo
        1RxV965ArpkQFTMCVmKu+2V/IkmSHLwGfu8McMwPIv97
        +v5IQZpET5sfT5uvuAJZg8M876OYWCOCZB7
        yrYMVYAmypsLeo3VAp9DDjnuYfzYdNIql5iBH
        UcC4EdbF+HlJZ2E6Dc+fbPlRYDZQeKewE4n/LHj7Sp
        m7UZDfUn7nbU6GNnuLLfXHoZlBVxvV
        eGxFvdrpUO0/t91WSTJnocxvhYKCdnRu05t2d+dDob1S/767i
        7Dz2wFp2k/zp0qJpu9/Og77
        vx0VT4vJV3pMGmLCo9/BZftmqfW9JgiN/dsd9+P9Q/pBWFFIjBv19tBQ
        rYQZec7zxO1UEeII
        1k1M9FfgabLTQXTKolkJ+ubyOdL11d9sJS6lfqhQPX8+6VnyS9dCek53Gr9nvgf
        9h5meh5Se
        BJY4zi3A5XkbM5/0nIshZ7gp6/QybklvjNEmBucMjQfddIeVnR+O/LFlTaM3wUQ8T9b0cq
        au
        pvH0kjQaiaupJ1DXe581ONqIOVrWdhFzVfrXWRIU0k3VETb+zXZHBz8BESU9IA==
  recorded_at: 2025-09-23 14:14:02
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":"demer","station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f9f4d60fb9268
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f9f4d60fb9268/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:14:05 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0f9f4d60fb9268/R/.val
        /ocpu/tmp/x0f9f4d60fb9268/R/credentials
        /ocpu/tmp/x0f9f4d60fb9268/R/get_acoustic_deployments
        /ocpu/tmp/x0f9f4d60fb9268/stdout
        /ocpu/tmp/x0f9f4d60fb9268/source
        /ocpu/tmp/x0f9f4d60fb9268/console
        /ocpu/tmp/x0f9f4d60fb9268/info
        /ocpu/tmp/x0f9f4d60fb9268/files/DESCRIPTION
  recorded_at: 2025-09-23 14:14:05
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0f9f4d60fb9268/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:14:06 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztW31sFMcVX2zAwZ9gH2mhIVmFr1QEuNs7n00p5Www4IJ94DMfQWmX9e34vNze7nV37xxT
        YrtVq6Q
        lalpIVOiHavpXKyUqlRIaWoFMqoRWaZsGcBQaaACpNJWaFgFqK0VK+mY/7vZ2b+8W
        x8h8nKXxb96b99
        689+bN3O3Yu6OSIIhyYuo0+A2N[...]
[...]
