http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/validate_login/json/
    body:
      string: '{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x077dbf9cc54b56
      location: http://opencpu.lifewatch.be/ocpu/tmp/x077dbf9cc54b56/
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 13:39:05 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [true]
  recorded_at: 2025-09-10 13:39:05
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animals/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_id":null,"tag_serial_number":null,"animal_project_code":null,"scientific_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0b801df2c9f218
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0b801df2c9f218/
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 13:39:12 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0b801df2c9f218/R/.val
        /ocpu/tmp/x0b801df2c9f218/R/credentials
        /ocpu/tmp/x0b801df2c9f218/R/get_animals
        /ocpu/tmp/x0b801df2c9f218/stdout
        /ocpu/tmp/x0b801df2c9f218/source
        /ocpu/tmp/x0b801df2c9f218/console
        /ocpu/tmp/x0b801df2c9f218/info
        /ocpu/tmp/x0b801df2c9f218/files/DESCRIPTION
  recorded_at: 2025-09-10 13:39:12
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0b801df2c9f218/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.4.2 (2024-10-31)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 13:39:13 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwk3Qd4Y+lZPXBdhclIO2NbY1uWrqyrkdAiLxIdDb2EJqXakSbFHuaKUEPvpICAUGRgTQo1
        hJJGr6H
        3TkiwjZddWhKqF2RJ19Rl+QMj493/T+R5crKTGc293/e+55z3vONZZ/e+VCr1lNR7
        vEc69ZQrfpi68v
        zndd73w/zcmv/x8bCUSr34X1OpQh3uh00oQwQVuAlVqMF7wntBA7bgAXhv
        aEIL3gfeF94P3h8+AD4QP
        gg+GNpwCz4EPhSco/Dh8BHwkfBR8NHwMfCx8DT4OHDOwifAJ8In
        QQe68HR4BjwTngXPhufANuzAc6EH
        fbgNz4PnwwvghbALe3AHPhnuQgyDVCr9WvgeeB18L3wf
        /AB8P7we3gBvhDfBD8IPwY/Cj8EPw4/DT8B
        Pws[...]
