http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_scientific_names/json
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x0c564140ca37d5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0c564140ca37d5/
      x-ocpu-r: R version 4.3.0 (2023-04-21)
      x-ocpu-locale: en_US.UTF-8
      x-ocpu-time: 2023-06-20 12:56:31 UTC
      x-ocpu-version: 2.2.9
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["Abramis brama", "Abramis brama Rutilus rutilus", "Alosa fallax", "Anguilla anguilla", "Anguilla rostrata", "Argyrosomus regius", "Balistes capriscus", "Barbus barbus", "Built-in", "Callinectes sapidus", "Caranx ignobilis", "Carcharhinus albimarginatus", "Carcharhinus leucas", "Castor fiber", "Cetorhinus maximus", "Chelon labrosus", "Chelon ramada", "Conger conger", "Coregonus lavaretus", "Coryphaena hippurus", "Cyprinus carpio", "Dactylopterus volitans", "Dalatias l[...]
