http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f3a756ed04654
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f3a756ed04654/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:57:51 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["2004_Gudena", "2010_phd_reubens", "2010_phd_reubens_sync", "2011_Loire", "2011_rivierprik", "2011_Warnow", "2012_leopoldkanaal", "2013_albertkanaal", "2013_Foyle", "2014_demer", "2014_Frome", "2014_Nene", "2015_Albertkanaal_VPS_Ham", "2015_dijle", "2015_fint", "2015_homarus", "2015_PhD_Gutmann_Roberts", "2015_phd_verhelst_cod", "2015_phd_verhelst_eel", "2016_Albertkanaal_VPS_Ham", "2016_Diaccia_Botrona", "2016_phd_vergeynst", "2017_Albertkana[...]
