http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_station_names/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0367b73a3578aa
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0367b73a3578aa/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:24:41 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["", "?", "~30-50 m u/s fishway, right bank", "0", "000_R", "0.7 predation", "1", "01 MG pasteleiro                                            ", "1 Tawnyard", "1.3 Confluence", "1.5 Broken Br.", "1.7 Otter Pool", "1F", "1G", "1H", "1km D/S Cromwell", "1kmE", "1kmW_A", "1kmW_B", "2", "2 Aasleagh Trap", "02 MG almeida                                               ", "002_R", "2F", "2G", "2H", "2km D/S Cromwell", "2kmE", "2kmW_A", "2kmW_B", "2R",[...]
