http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_ids/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x0fc4573d44d4c3
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0fc4573d44d4c3/
      x-ocpu-r: R version 4.4.1 (2024-06-14)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2024-10-18 08:29:42 UTC
      x-ocpu-version: 2.2.13
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        [226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 3[...]
