http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_acoustic_project_codes/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x0110ed2a8d2c3b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0110ed2a8d2c3b/
      x-ocpu-r: R version 4.3.0 (2023-04-21)
      x-ocpu-locale: en_US.UTF-8
      x-ocpu-time: 2023-06-20 13:19:59 UTC
      x-ocpu-version: 2.2.9
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["2004_Gudena", "2011_Loire", "2011_Warnow", "2013_Foyle", "2013_Maas", "2014_Frome", "2014_Nene", "2015_PhD_Gutmann_Roberts", "2016_Diaccia_Botrona", "2017_Fremur", "2019_Grotenete", "2020_PhD_Winter", "2021_YEELAZ", "2022_Beaver_Durme", "Aberdeen", "albert", "Albertkanaal_VPS_Ham", "Albertkanaal_VPS_Hasselt", "Apelafico", "ARAISOLA02", "ARAISOLA03", "Ars", "Artevigo", "ASMOP1", "ASMOP2", "AZO", "BALANCE", "BECORV", "BlueCrab2022Algarve", "Bodden_Pike", "BOOGMR", "BO[...]
