http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_cpod_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0eb09c249df082
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0eb09c249df082/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 14:57:52 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["Apelafico_acoustics", "Apelafico_underwater", "ARMS_MBON_Belgium", "CODEVCO", "cpod-lifewatch", "cpod-od-natuur", "Lifewatch_extra", "Lifewatch_test", "PAM-Borssele", "PelFish", "PhD_Parcerisas", "PureWind", "SEAWave", "SMGMIT", "STRAITS_PAM", "VLIZ-MRC-AMUC-001", "VLIZ-MRC-AMUC-002", "WaveHub"]
  recorded_at: 2025-09-10 14:57:52
recorded_with: VCR-vcr/2.0.0
