http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_project_codes/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x0954b2bb24b740
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0954b2bb24b740/
      x-ocpu-r: R version 4.3.0 (2023-04-21)
      x-ocpu-locale: en_US.UTF-8
      x-ocpu-time: 2023-06-20 13:38:19 UTC
      x-ocpu-version: 2.2.9
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["2004_Gudena", "2010_phd_reubens", "2010_phd_reubens_sync", "2011_Loire", "2011_rivierprik", "2011_Warnow", "2012_leopoldkanaal", "2013_albertkanaal", "2013_Foyle", "2014_demer", "2014_Frome", "2014_Nene", "2015_Albertkanaal_VPS_Ham", "2015_dijle", "2015_fint", "2015_homarus", "2015_PhD_Gutmann_Roberts", "2015_phd_verhelst_cod", "2015_phd_verhelst_eel", "2016_Albertkanaal_VPS_Ham", "2016_Diaccia_Botrona", "2016_phd_vergeynst", "2017_Albertkanaal_VPS_Ham", "2017_Fremu[...]
