http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_acoustic_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0c8323df34f481
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0c8323df34f481/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:37:58 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["2004_Gudena", "2011_bovenschelde", "2011_Loire", "2011_Warnow", "2013_Foyle", "2013_Maas", "2014_Frome", "2014_Nene", "2015_PhD_Gutmann_Roberts", "2016_Diaccia_Botrona", "2017_Fremur", "2020_PhD_Winter", "2021_YEELAZ", "2022_Beaver_Durme", "2023_meuse_Lith_Linne", "2024_Anguilla_bb_Harlingen", "2024_BECO_IIM_RIAVIGO", "2024_bovenschelde", "2025_meuse", "2025_Nederrijn_Lek_array", "Aberdeen", "albert", "Albertkanaal_VPS_Ham", "Albertkanaal_VPS[...]
