http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_scientific_names/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x038e79ec802c31
      location: http://opencpu.lifewatch.be/ocpu/tmp/x038e79ec802c31/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 16:48:55 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["Abramis brama", "Abramis brama Rutilus rutilus", "Acanthurus", "Acipenser", "Acipenser oxyrinchus", "Acipenser sturio", "Aetomylaeus bovinus", "Alosa alosa", "Alosa fallax", "Amblyraja radiata", "Anarhichas lupus", "Anguilla anguilla", "Anguilla rostrata", "Argyrosomus regius", "Aspius aspius", "Balistes capriscus", "Barbus barbus", "Belone belone", "Blicca bjoerkna", "Built-in", "Callinectes sapidus", "Cancer pagurus", "Caranx bartholomaei",[...]
