http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_receiver_ids/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x05e467773a20eb
      location: http://opencpu.lifewatch.be/ocpu/tmp/x05e467773a20eb/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:29:03 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["ADTT-3", "ADTT-4", "ASCENT-AR-580023", "ASCENT-AR-580025", "ASCENT-AR-580027", "ASCENT-AR-580109", "BATTERY PACK-151", "BATTERY PACK-159", "BATTERY-153", "BENTHIC POD-Benthic Pod-88", "BENTHIC POD-Benthic pod-91", "BENTHIC POD-Benthic pod-114", "BENTHIC POD-Benthic pod-115", "BENTHIC POD-Benthic pod-118", "BENTHIC POD-BENTHIC POD-162", "BENTHIC POD-BENTHIC POD-164", "BENTHIC POD-BENTHIC POD-ALPACA", "BENTHIC POD-BENTHIC POD-BELUGA", "BENTHIC [...]
