http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_tag_serial_numbers/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x017913fb53e121
      location: http://opencpu.lifewatch.be/ocpu/tmp/x017913fb53e121/
      x-ocpu-r: R version 4.4.1 (2024-06-14)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2024-09-24 08:37:21 UTC
      x-ocpu-version: 2.2.13
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["02BR 7329", "02BS 7330", "02BT 7331", "02BU 7332", "02BV 7333", "02BW 7334", "02BX 7335", "02BY 7336", "02BZ 7337", "02C0 7338", "02C1 7339", "02C2 7340", "02C3 7341", "02C4 7342", "02C5 7343", "02C6 7344", "02C7 7345", "02C8 7346", "02C9 7347", "02CA 7348", "02CB 7349", "02CC 7350", "02CD 7351", "02CE 7352", "02CF 7353", "02CG 7354", "02CH 7355", "02CI 7356", "02CJ 7357", "02CK 7358", "02CL 7359", "02CM 7360", "02CN 7361", "02CO 7362", "02CP 7363", "02CQ 7364", "02[...]
