http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_cpod_project_codes/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x08c2aea92c041b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08c2aea92c041b/
      x-ocpu-r: R version 4.3.0 (2023-04-21)
      x-ocpu-locale: en_US.UTF-8
      x-ocpu-time: 2023-06-20 13:34:21 UTC
      x-ocpu-version: 2.2.9
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["Apelafico_acoustics", "Apelafico_underwater", "cpod-lifewatch", "cpod-od-natuur", "PhD_Parcerisas", "SMGMIT", "VLIZ-MRC-AMUC-001", "VLIZ-MRC-AMUC-002", "WaveHub"]
  recorded_at: 2023-06-20 13:34:21 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
