http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_tag_serial_numbers/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0bc2df6e3e01f7
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0bc2df6e3e01f7/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-22 13:29:07 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["0A4E2699", "0A4F2700", "0A4G2701", "0A4H2702", "0A4J2704", "0A6E", "0A6F", "0A6G", "0A6H", "0A6I", "0A6J", "0A6K", "0A6L", "0A6M", "0A6N", "0A6O", "0A6P", "0A6Q", "0A6R", "0A6S", "0A6T", "0A6U", "0A6V", "0A6W", "0A6X", "0A6Y", "0A6Z", "0A7A", "0A7B", "0A7C", "0A7D", "0A7E", "0A7F", "0A7G", "0A7H", "0A7I", "0A7J", "0A7K", "0A7L", "0A7M", "0A7N", "0A7O", "0A7P", "0A7Q", "0A7R", "0A7S", "0A7T", "0A7U", "0A7V", "0A7W", "0A7X", "0A7Y", "0A7Z", "0A[...]
