http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_scientific_names/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x080d49f227b9dc
      location: http://opencpu.lifewatch.be/ocpu/tmp/x080d49f227b9dc/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:38:08 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["Abramis brama", "Abramis brama Rutilus rutilus", "Acipenser", "Acipenser oxyrinchus", "Acipenser sturio", "Aetomylaeus bovinus", "Alosa alosa", "Alosa fallax", "Anarhichas lupus", "Anguilla anguilla", "Anguilla rostrata", "Argyrosomus regius", "Aspius aspius", "Balistes capriscus", "Barbus barbus", "Belone belone", "Blicca bjoerkna", "Built-in", "Callinectes sapidus", "Cancer pagurus", "Castor fiber", "Cetorhinus maximus", "Chelidonichthys cu[...]
