http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_cpod_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0dc4f5dc195a11
      location: http://opencpu.lifewatch.be/ocpu/tmp/<<<opencpu_key>>>/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-21 10:43:20 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["Apelafico_acoustics", "Apelafico_underwater", "ARMS_MBON_Belgium", "Blueconnect", "CODEVCO", "cpod-lifewatch", "cpod-od-natuur", "HesseløOWF_2020-2021_PODdata", "Lifewatch_additional_stations", "Lifewatch_performance_test", "mare_wind_finescale", "NOVANA", "PAM-Borssele", "PelFish", "PhD_Parcerisas", "PureWind", "SEAWave", "SMGMIT", "STRAITS_PAM", "VLIZ_SANDEEL", "VLIZ-MRC-AMUC-001", "VLIZ-MRC-AMUC-002", "WaveHub"]
  recorded_at: 2026-08-21 10:43:20
recorded_with: VCR-vcr/2.1.0
