http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_station_names/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x001805577e143c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x001805577e143c/
      x-ocpu-r: R version 4.3.0 (2023-04-21)
      x-ocpu-locale: en_US.UTF-8
      x-ocpu-time: 2023-06-20 13:25:27 UTC
      x-ocpu-version: 2.2.9
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["", "?", "~30-50 m u/s fishway, right bank", "0", "000_R", "0N10W", "0N23W", "001", "1", "1 MARGAREE HARBOUR BREAKWATER", "01 MG pasteleiro                                            ", "1 TRINITE", "1_C", "1_N", "1_S", "1-1", "1-2", "1-3", "1km D/S Cromwell", "1S", "002", "2", "2 MARGAREE BRIDGE", "02 MG almeida                                               ", "2 TRINITE", "2_C", "2_N", "002_R", "2_S", "2-1", "2-2", "2-4", "2-5", "2-6", "02-MG-ALMEIDA", "2G0B-01", "[...]
