http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_acoustic_tag_ids/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0793825d5531bb
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0793825d5531bb/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-23 14:16:24 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["416kHz-485", "416kHz-956", "416kHz-1141", "416kHz-1164", "416kHz-1277", "416kHz-1935", "416kHz-2066", "416kHz-2219", "416kHz-2228", "416kHz-2248", "416kHz-2485", "416kHz-2681", "416kHz-2718", "416kHz-2961", "416kHz-3305", "416kHz-3572", "416kHz-3696", "416kHz-4017", "416kHz-4155", "416kHz-4475", "416kHz-4731", "416kHz-5045", "416kHz-5079", "416kHz-5174", "416kHz-5785", "416kHz-5833", "416kHz-6011", "416kHz-6255", "416kHz-6402", "416kHz-6549",[...]
