http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_receiver_ids/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x0f75b20bdf1db5
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f75b20bdf1db5/
      x-ocpu-r: R version 4.3.0 (2023-04-21)
      x-ocpu-locale: en_US.UTF-8
      x-ocpu-time: 2023-06-20 13:27:05 UTC
      x-ocpu-version: 2.2.9
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["1610-POD", "ADTT-3", "ADTT-4", "ADTT-LP-7-3-3", "ADTT-LP-7-3-4", "AMAR-197", "AMAR-388", "AMAR-404", "AQUAMEASURE DOT-670285", "AQUAMEASURE DOT-670286", "AQUAMEASURE DOT-670287", "AQUAMEASURE DOT-670288", "AQUAMEASURE DOT-670289", "AQUAMEASURE DOT-670290", "AQUAMEASURE DOT-670291", "AQUAMEASURE DOT-670292", "AQUAMEASURE DOT-670293", "AQUAMEASURE DOT-670294", "AQUAMEASURE DOT-670295", "AQUAMEASURE DOT-670296", "AQUAMEASURE DOT-670297", "AQUAMEASURE DOT-670298", "AQUA[...]
