http_interactions:
- request:
    method: post
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_acoustic_tag_ids/json/
    body:
      encoding: ''
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      x-ocpu-session: x085e88635a3c2b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x085e88635a3c2b/
      x-ocpu-r: R version 4.3.0 (2023-04-21)
      x-ocpu-locale: en_US.UTF-8
      x-ocpu-time: 2023-06-20 13:48:30 UTC
      x-ocpu-version: 2.2.9
      x-ocpu-server: rApache
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |
        ["416kHz-485", "416kHz-956", "416kHz-1141", "416kHz-1164", "416kHz-1277", "416kHz-1935", "416kHz-2066", "416kHz-2219", "416kHz-2228", "416kHz-2248", "416kHz-2485", "416kHz-2681", "416kHz-2718", "416kHz-2961", "416kHz-3305", "416kHz-3572", "416kHz-3696", "416kHz-4017", "416kHz-4155", "416kHz-4475", "416kHz-4731", "416kHz-5045", "416kHz-5079", "416kHz-5174", "416kHz-5785", "416kHz-5833", "416kHz-6011", "416kHz-6255", "416kHz-6402", "416kHz-6549", "416kHz-7156", "416kHz-[...]
