http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_deployment_ids/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0640a37117d79c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0640a37117d79c/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:24:37 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["1248", "1249", "1250", "1251", "1252", "1253", "1254", "1255", "1256", "1257", "1258", "1259", "1260", "1261", "1262", "1263", "1264", "1265", "1267", "1269", "1270", "1272", "1273", "1274", "1275", "1277", "1279", "1280", "1282", "1283", "1284", "1327", "1330", "1332", "1336", "1337", "1338", "1339", "1341", "1355", "1356", "1357", "1358", "1359", "1360", "1361", "1362", "1364", "1365", "1366", "1367", "1368", "1369", "1370", "1371", "1372",[...]
