http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0f4ce92a722955
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0f4ce92a722955/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 17:07:11 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["2004_Gudena", "2010_phd_reubens", "2010_phd_reubens_sync", "2011_Loire", "2011_rivierprik", "2011_Warnow", "2012_leopoldkanaal", "2013_albertkanaal", "2013_Foyle", "2014_demer", "2014_Frome", "2014_Nene", "2015_Albertkanaal_VPS_Ham", "2015_dijle", "2015_fint", "2015_homarus", "2015_PhD_Gutmann_Roberts", "2015_phd_verhelst_cod", "2015_phd_verhelst_eel", "2016_Albertkanaal_VPS_Ham", "2016_Diaccia_Botrona", "2016_phd_vergeynst", "2017_Albertkana[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animals/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_id":null,"tag_serial_number":null,"animal_project_code":"esgl","scientific_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x047e1c26be8485
      location: http://opencpu.lifewatch.be/ocpu/tmp/x047e1c26be8485/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 17:07:14 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x047e1c26be8485/R/.val
        /ocpu/tmp/x047e1c26be8485/R/credentials
        /ocpu/tmp/x047e1c26be8485/R/get_animals
        /ocpu/tmp/x047e1c26be8485/stdout
        /ocpu/tmp/x047e1c26be8485/source
        /ocpu/tmp/x047e1c26be8485/console
        /ocpu/tmp/x047e1c26be8485/info
        /ocpu/tmp/x047e1c26be8485/files/DESCRIPTION
  recorded_at: 2026-04-23 17:07:14
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x047e1c26be8485/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 17:07:14 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXV1sFNcVHo/5MWDAyG2aEBWGv7aKRGrvP1Lb7C4EYpWqUUMipLZZxrN3dyfMzmxnZg2G
        tDFgYxs
        cGpVUSiIlRa1U5amtVFXKW5D60gciIbU89M1PVV+qRqpUVX1IenfnnOu942sKBOQh
        HEvH556fe+535s
        6dPXdm1j6+UdO0fm3NWv6bk6atffHY4f0FLg1zocxpM6e0pj32A04/5PQy
        pwqnE5xMTuOcLE5VToxTj
        VOdU4OTzekVTic5OZyanFxOHqcWpx9x8jkFnEJObU4TnE5xOs1p
        ktMZTmc5vcrpx5x+wuk1TlOcznE6
        z+kCp2lOM5wucprlNMdpntMlTpc5LXB6ndMVns9QN6c1
        2gbO1zz7wpGj1Kb2A2nL59r60VQqnUnnZbE
        giw[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_tags/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"tag_type":null,"tag_subtype":null,"tag_serial_number":["1223437","1223438","1223439","1223440","1223441","1223442","1223443","1223444","1223445","1223446","1223447","1223448","1223449","1223450","1223451","1223452","1223453","1223454","1223455","1223456","1223457","1223458","1223459","1223460","1223461","1223462","1223463","1223464","1223465","1223466","1223467","1223468","1223469","1223470","1223471","1223472","1223473","1223474","1223475","1223476","1223477","1223478","1223480","1223481","1223482","1223483","1223484","1223485","1223486","1223488"],"acoustic_tag_id":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0039d1e1142ba7
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0039d1e1142ba7/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 17:07:17 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0039d1e1142ba7/R/.val
        /ocpu/tmp/x0039d1e1142ba7/R/credentials
        /ocpu/tmp/x0039d1e1142ba7/R/get_tags
        /ocpu/tmp/x0039d1e1142ba7/R/tag_serial_number
        /ocpu/tmp/x0039d1e1142ba7/stdout
        /ocpu/tmp/x0039d1e1142ba7/source
        /ocpu/tmp/x0039d1e1142ba7/console
        /ocpu/tmp/x0039d1e1142ba7/info
        /ocpu/tmp/x0039d1e1142ba7/files/DESCRIPTION
  recorded_at: 2026-04-23 17:07:17
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"esgl","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0258423f8e1956
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0258423f8e1956/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 17:07:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 46482
          }
        ]
  recorded_at: 2026-04-23 17:07:20
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"esgl","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x049d04069c1d0d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x049d04069c1d0d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 17:07:23 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x049d04069c1d0d/R/.val
        /ocpu/tmp/x049d04069c1d0d/R/credentials
        /ocpu/tmp/x049d04069c1d0d/R/get_acoustic_detections_page
        /ocpu/tmp/x049d04069c1d0d/stdout
        /ocpu/tmp/x049d04069c1d0d/source
        /ocpu/tmp/x049d04069c1d0d/console
        /ocpu/tmp/x049d04069c1d0d/info
        /ocpu/tmp/x049d04069c1d0d/files/DESCRIPTION
  recorded_at: 2026-04-23 17:07:23
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x049d04069c1d0d/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-23 17:07:24 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU1XO8IMfWKOz9jm3btm3btm3btm0nY9vMZDITTMa2bd[...]
