http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0781864e102278
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0781864e102278/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:38 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["2004_Gudena", "2010_phd_reubens", "2010_phd_reubens_sync", "2011_Loire", "2011_rivierprik", "2011_Warnow", "2012_leopoldkanaal", "2013_albertkanaal", "2013_Foyle", "2014_demer", "2014_Frome", "2014_Nene", "2015_Albertkanaal_VPS_Ham", "2015_dijle", "2015_fint", "2015_homarus", "2015_PhD_Gutmann_Roberts", "2015_phd_verhelst_cod", "2015_phd_verhelst_eel", "2016_Albertkanaal_VPS_Ham", "2016_Diaccia_Botrona", "2016_phd_vergeynst", "2017_Albertkana[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animals/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_id":null,"tag_serial_number":null,"animal_project_code":"pelfish","scientific_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x04b5560cc5c113
      location: http://opencpu.lifewatch.be/ocpu/tmp/x04b5560cc5c113/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:40 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x04b5560cc5c113/R/.val
        /ocpu/tmp/x04b5560cc5c113/R/credentials
        /ocpu/tmp/x04b5560cc5c113/R/get_animals
        /ocpu/tmp/x04b5560cc5c113/stdout
        /ocpu/tmp/x04b5560cc5c113/source
        /ocpu/tmp/x04b5560cc5c113/console
        /ocpu/tmp/x04b5560cc5c113/info
        /ocpu/tmp/x04b5560cc5c113/files/DESCRIPTION
  recorded_at: 2026-08-24 07:52:40
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x04b5560cc5c113/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:41 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztXQmUHMV5HmkP3UiKcMyROJ3IxiJvtMx96Nz70GolsSshhefnde9M705re7tXPT27WnEJ
        jEkMCdg
        4JpDER3gGQSCEyIBJiGVBuDEB4mcn2ECMceI8iJ+JCZiADPl7qqunurp7d2Y0R2tV
        0vv3q/rqr6r/r/
        rr2O7RaN9Sn8/X4Gtshp9NkPQ17dndvT4BuTWQaQdZATLqW9DcBtIO0gFy
        IcgWkG0g20G2gnSDBEFCI
        D0gfSAtIIMgrSCdIF0gAZANIEmQzSADIP0gG0EuAOn1LViUARFB
        9oOMg0ggEyAyiAIyCXIARAXJQh2Q
        RRqgLjmQKZAEyCaQOMgukLUgO0B2gu7NgGGQCEgUJAby
        CZDzQD4Jsg50vgByC8ifgtwE8mcgXwK5EeS
        LID[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_tags/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"tag_type":null,"tag_subtype":null,"tag_serial_number":["04BO","04BP","04BQ","047X","04BL","04BY","04C1","04BM","04BU","047V","047W","04BV","04BX","047P","047R","04BN","04BS","04BT","047U","04AO","04AN","04AR","04C2","04BZ","04AP","047S","04BW","A19295","A19296","A19286","A19284","A19292","A19300","A19299","A19294","A19289","A19285","A19297","A19276","22020250","A19283","22020246","22020228","22020268","04AM","04AQ","04AL","04C8","A19864","04C5","04C7","A19868","04AB","04AC","04AI","04AJ","A19873","A19861","A19862","A19860","A19858","A19869","A19867","A19871","A19872","A19865","A19863","A19859","A19857","A19856","A19870","A19855","04AE","04C9","A19879","A19882","A19880","A19854","A19878","A19881","A19883","04AF","04C4","04C0","04C6","04AK","04A9","22020226","047Q","04AD","22020230","22020218","04BH","04BA","04BB","04BC","04BD","04BE","04BF","04BG","04BI","04BJ"],"acoustic_tag_id":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x09279935e1cc4c
      location: http://opencpu.lifewatch.be/ocpu/tmp/x09279935e1cc4c/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:43 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x09279935e1cc4c/R/.val
        /ocpu/tmp/x09279935e1cc4c/R/credentials
        /ocpu/tmp/x09279935e1cc4c/R/get_tags
        /ocpu/tmp/x09279935e1cc4c/R/tag_serial_number
        /ocpu/tmp/x09279935e1cc4c/stdout
        /ocpu/tmp/x09279935e1cc4c/source
        /ocpu/tmp/x09279935e1cc4c/console
        /ocpu/tmp/x09279935e1cc4c/info
        /ocpu/tmp/x09279935e1cc4c/files/DESCRIPTION
  recorded_at: 2026-08-24 07:52:43
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"pelfish","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0e7d4e0109fa47
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0e7d4e0109fa47/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:45 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 9963
          }
        ]
  recorded_at: 2026-08-24 07:52:45
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"pelfish","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x06eb2756a0f52f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x06eb2756a0f52f/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:48 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x06eb2756a0f52f/R/.val
        /ocpu/tmp/x06eb2756a0f52f/R/credentials
        /ocpu/tmp/x06eb2756a0f52f/R/get_acoustic_detections_page
        /ocpu/tmp/x06eb2756a0f52f/stdout
        /ocpu/tmp/x06eb2756a0f52f/source
        /ocpu/tmp/x06eb2756a0f52f/console
        /ocpu/tmp/x06eb2756a0f52f/info
        /ocpu/tmp/x06eb2756a0f52f/files/DESCRIPTION
  recorded_at: 2026-08-24 07:52:48
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x06eb2756a0f52f/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:49 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU1mWY1XXbMOpBujulu3MI6W4kpLu7uxvpkJQGCWkQ6R[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_deployments/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"deployment_id":null,"receiver_id":null,"acoustic_project_code":["2024_Anguilla_bb_Harlingen","bpns","BTN-IMEDEA","COD_OWF","cpodnetwork","Danish_Straits","FarmTrack_network","FISHINTEL","FISHOWF","FISP","GTN","KBTN","MMERMAID","MOBEIA","SEM_array","SW_Oude_Ijssel","ws1","ws2","zeeschelde"],"station_name":null,"open_only":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x03d8bbf6d0b22f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03d8bbf6d0b22f/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:50 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x03d8bbf6d0b22f/R/.val
        /ocpu/tmp/x03d8bbf6d0b22f/R/acoustic_project_code
        /ocpu/tmp/x03d8bbf6d0b22f/R/credentials
        /ocpu/tmp/x03d8bbf6d0b22f/R/get_acoustic_deployments
        /ocpu/tmp/x03d8bbf6d0b22f/stdout
        /ocpu/tmp/x03d8bbf6d0b22f/source
        /ocpu/tmp/x03d8bbf6d0b22f/console
        /ocpu/tmp/x03d8bbf6d0b22f/info
        /ocpu/tmp/x03d8bbf6d0b22f/files/DESCRIPTION
  recorded_at: 2026-08-24 07:52:50
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_receivers/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"receiver_id":["TBR800-3849","TBR800-3847","TBR800-3361","TBR800-3383","TBR800-3384","TBR800-3385","TBR800-3386","TBR800-3382","TBR800-3387","TBR800-3389","TBR800-3850","TBR800-003140","TBR800-003141","TBR700-001641","TBR800-003142","TBR800-003143","TBR700-001639","TBR800-003861","TBR800-003[...]
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_acoustic_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x04cca55d54db86
      location: http://opencpu.lifewatch.be/ocpu/tmp/x04cca55d54db86/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:55 UTC
      x-ocpu-v[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animal_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_project_code":"PelFish"}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0ebfe64edc242a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ebfe64edc242a/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:56 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0ebfe64edc242a/R/.val
        /ocpu/tmp/x0ebfe64edc242a/R/credentials
        /ocpu/tmp/x0ebfe64edc242a/R/get_animal_projects
        /ocpu/tmp/x0ebfe64edc242a/stdout
        /ocpu/tmp/x0ebfe64edc242a/source
        /ocpu/tmp/x0ebfe64edc242a/console
        /ocpu/tmp/x0ebfe64edc242a/info
        /ocpu/tmp/x0ebfe64edc242a/files/DESCRIPTION
  recorded_at: 2026-08-24 07:52:56
[...]
- request:
    method: GET
    uri: https://marineinfo.org/id/dataset/8373.json
  response:
    status: 200
    headers:
      content-disposition: attachment; filename="marineinfo-dataset-8373.json"
      content-type: application/json; charset=utf-8;
      last-modified: Sat, 15 Aug 2026 01:43:57 GMT
      link: https://marineinfo.org/id/dataset/8373; rel="describedby"; type="text/turtle"
    body:
      string: |2
            {"datasetrec":{"DasID":8373,"Acronym":"PelFish","StandardTitle":"Sustainable economic carriers in Flemish coastal fishing communities post-Brexit","OrigTitle":"Duurzame economische dragers in Vlaamse kustvisserijgemeenschappen post-Brexit","OrigTitleLangID":41,"OrigTitleLangCode":"nl","OrigTitleLang":"Dutch","OrigTitleLangNL":"Nederlands","VersionName":null,"ContactEmail":null,"VersionDate":null,"VersionDay":null,"VersionMonth":null,"VersionYear":null,"SizeReference":null,"EngAbstract":"<p>PelFish will provide fisheries and ecosystem knowledge to study the possibility to develop or restore small-scale 'niche' seasonal fisheries in the Belgian Part of the North Sea (BPNS). Acoustic and data storage telemetry will be used on several species of pelagic fish to study their movements and essential fish habitats within the BPNS, as well migratory movements at larger scales. The species of study will include Atlantic herring (Clupea harengus), Atlantic mackerel (Scomber scombrus), Twaite shad (Alosa fallax), and European seabass (Dicentrarchus labrax).</p>","EngDescr":null,"OrigAbstract":null,"OrigDescr":null,"Comments":null,"ReleaseDate":null,"ReleaseDate0":null,"OrigDescrLang":null,"EmbargoDate":"2027-01-01","OrigDescrLangNL":null,"OrigLangCode":null,"OrigLangCodeExtended":null,"OrigLangID":null,"DescrCompFlag":null,"DescrTransFlag":null,"Citation":"Debusschere, E.; Muñiz, C.; Reubens, J.; Casals, D.; Conings, B.; Deneudt, K.; 2023. Duurzame economische dragers in Vlaamse kustvisserijgemeenschappen post-Brexit (PelFish)","AccessConstraints":null,"UDate":"2026-01-28","CDate":"2023-07-31","CurrencyDate":null,"RevisionDate":null,"DateLastModified":{"date":"2026-08-15 01:43:57.257074","timezone_type":1,"timezone":"+02:00"},"CheckedFlag":0,"PublicFlag":1,"VlizCoreFlag":1,"MarineFlag":1,"FreshFlag":0,"BrackishFlag":0,"TerrestrialFlag":0,"StatusID":1,"DasType":"Data","DasTypeID":1,"DasOrigin":"Research: field experiment","Progress":"Completed","AccessConstraint":"This work is licensed under <a target='_blank' href='http://vocab.nerc.ac.uk/collection/L08/current/MO'>http://vocab.nerc.ac.uk/collection/L08/current/MO</a> meaning it is under moratorium until 2027-01-01","AccConstrEN":"This work licensed under http://vocab.nerc.ac.uk/collection/L08/current/MO meaning it is under moratorium until 2027-01-01","AccConstrDisplay":null,"License":"http://vocab.nerc.ac.uk/collection/L08/current/MO/","AccConstrDescription":null,"Lineage":null,"AccConID":21,"UnderEmbargo":true},"dois":null,"spcols":[{"SpColID":1000,"SpName":"European Tracking Network"}],"keywords":[{"ThesaurusTerm":"Acoustic","ThesTypID":0,"ThesType":null,"Code":null,"Description":null,"OrigThesTerm":"Acoustic","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic data","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":"c_54b338c3","Description":null,"OrigThesTerm":"Acoustic data","DutchTerm":null,"URI":"http://aims.fao.org/aos/agrovoc/c_54b338c3","DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic detection","ThesTypID":1,"ThesType":"ASFA Thesaurus List","Code":null,"Description":null,"OrigThesTerm":"Acoustic detection","DutchTerm":null,"URI":null,"DasKeywordDescr":null},{"ThesaurusTerm":"Acoustic survey","ThesTypID":0[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_projects/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"acoustic_project_code":["MOBEIA","bpns","cpodnetwork","FISHINTEL","FISHOWF","SEM_array","GTN","COD_OWF","SW_Oude_Ijssel","BTN-IMEDEA","Danish_Straits","FarmTrack_network","zeeschelde","KBTN","ws1","ws2","2024_Anguilla_bb_Harlingen","MMERMAID","FISP"]}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0bf3e8b60e5b3a
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0bf3e8b60e5b3a/
      x-ocpu-r: R version 4.6.0 (2026-04-24)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-08-24 07:52:58 UTC
      x-ocpu-version: 2.2.15
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0bf3e8b60e5b3a/R/.val
        /ocpu/tmp/x0bf3e8b60e5b3a/R/acoustic_project_code
        /ocpu/tmp/x0bf3e8b60e5b3a/R/credentials
        /ocpu/tmp/x0bf3e8b60e5b3a/R/get_acoustic_projects
        /ocpu/tmp/x0bf3e8b60e5b3a/stdout
        /ocpu/tmp/x0bf3e8b60e5b3a/source
        /ocpu/tmp/x0bf3e8b60e5b3a/console
        /ocpu/tmp/x0bf3e8b60e5b3a/info
        /ocpu/tmp/x0bf3e8b60e5b3a/files/DESCRIPTION
  recorded_at: 2026-08-24 07:52:58
[...]
