http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/list_animal_project_codes/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"}}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08a33bd732b19d
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08a33bd732b19d/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-20 12:43:31 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        ["2004_Gudena", "2010_phd_reubens", "2010_phd_reubens_sync", "2011_Loire", "2011_rivierprik", "2011_Warnow", "2012_leopoldkanaal", "2013_albertkanaal", "2013_Foyle", "2014_demer", "2014_Frome", "2014_Nene", "2015_Albertkanaal_VPS_Ham", "2015_dijle", "2015_fint", "2015_homarus", "2015_PhD_Gutmann_Roberts", "2015_phd_verhelst_cod", "2015_phd_verhelst_eel", "2016_Albertkanaal_VPS_Ham", "2016_Diaccia_Botrona", "2016_phd_vergeynst", "2017_Albertkana[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_animals/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"animal_id":null,"tag_serial_number":null,"animal_project_code":"esgl","scientific_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0c17dd738d81dc
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0c17dd738d81dc/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-20 12:43:33 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0c17dd738d81dc/R/.val
        /ocpu/tmp/x0c17dd738d81dc/R/credentials
        /ocpu/tmp/x0c17dd738d81dc/R/get_animals
        /ocpu/tmp/x0c17dd738d81dc/stdout
        /ocpu/tmp/x0c17dd738d81dc/source
        /ocpu/tmp/x0c17dd738d81dc/console
        /ocpu/tmp/x0c17dd738d81dc/info
        /ocpu/tmp/x0c17dd738d81dc/files/DESCRIPTION
  recorded_at: 2026-04-20 12:43:33
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0c17dd738d81dc/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-20 12:43:33 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJzsWttPHGUUn3IprakVU2/xoSyFxsSEZO4zvJhFU2kTEhtLDYlaGWGAlWUXYamFqr3IdhfB
        PnhJrIn
        a6Euf1BcT39rEFx9q0kR55x8w9skHH8Sz7He+eqYnpJUSpuVM8uvvcuY78w2zM/12
        YOAhwzAajaZm+B
        dgGM3H+1/sCsHtA/M84GGAYxhPvAZ4HXAC8AZgEBAB3gQMAYYBMWAEMAoY
        A+QAbwHGAXnABKAAKAImA
        W8DpgDTgBJgBnAS8A7gFGAWMAc4DXgX8B7gfcAZwFnAOcB5wAeA
        eUAZcAFQAVQBC4APAYuAJcBHgItw
        Pq1r59Rk7AZuOnSst0+06E3R9LPWYtm24zoBtSG13cS6
        JrUWtTa1DrUutR61PrUBtSG1dFaeSa1FrU2
        tQ6[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_tags/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"tag_type":null,"tag_subtype":null,"tag_serial_number":["1223437","1223438","1223439","1223440","1223441","1223442","1223443","1223444","1223445","1223446","1223447","1223448","1223449","1223450","1223451","1223452","1223453","1223454","1223455","1223456","1223457","1223458","1223459","1223460","1223461","1223462","1223463","1223464","1223465","1223466","1223467","1223468","1223469","1223470","1223471","1223472","1223473","1223474","1223475","1223476","1223477","1223478","1223480","1223481","1223482","1223483","1223484","1223485","1223486","1223488"],"acoustic_tag_id":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0bcdbf15af126b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0bcdbf15af126b/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-20 12:43:35 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0bcdbf15af126b/R/.val
        /ocpu/tmp/x0bcdbf15af126b/R/credentials
        /ocpu/tmp/x0bcdbf15af126b/R/get_tags
        /ocpu/tmp/x0bcdbf15af126b/R/tag_serial_number
        /ocpu/tmp/x0bcdbf15af126b/stdout
        /ocpu/tmp/x0bcdbf15af126b/source
        /ocpu/tmp/x0bcdbf15af126b/console
        /ocpu/tmp/x0bcdbf15af126b/info
        /ocpu/tmp/x0bcdbf15af126b/files/DESCRIPTION
  recorded_at: 2026-04-20 12:43:35
[...]
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"esgl","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"protocol.1":"opencpu","count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0bbb202953fe8b
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0bbb202953fe8b/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-20 12:43:38 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 46482
          }
        ]
  recorded_at: 2026-04-20 12:43:38
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"protocol":"opencpu","start_date":null,"end_date":null,"tag_serial_number":null,"acoustic_tag_id":null,"animal_project_code":"esgl","scientific_name":null,"acoustic_project_code":null,"receiver_id":null,"station_name":null,"next_id_pk":0,"page_size":100000,"credentials.1":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08e37710cdc24f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08e37710cdc24f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-20 12:43:41 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x08e37710cdc24f/R/.val
        /ocpu/tmp/x08e37710cdc24f/R/credentials
        /ocpu/tmp/x08e37710cdc24f/R/get_acoustic_detections_page
        /ocpu/tmp/x08e37710cdc24f/stdout
        /ocpu/tmp/x08e37710cdc24f/source
        /ocpu/tmp/x08e37710cdc24f/console
        /ocpu/tmp/x08e37710cdc24f/info
        /ocpu/tmp/x08e37710cdc24f/files/DESCRIPTION
  recorded_at: 2026-04-20 12:43:41
- request:
    method: GET
    uri: https://opencpu.lifewatch.be//tmp/x08e37710cdc24f/R/.val/feather
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.feather
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2026-04-20 12:43:42 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/feather
    body:
      raw_gzip: |-
        eJzU1mO43VDAgNlObdu2bdu2bdu2bdu2bdu27c76NJ75P7[...]
