http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2017","animal_project_code":"2014_demer","limit":false}'
  response:
    status: 201
    headers:
      x-ocpu-session: x03a84ed9b144e3
      location: http://opencpu.lifewatch.be/ocpu/tmp/x03a84ed9b144e3/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:19:42 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x03a84ed9b144e3/R/.val
        /ocpu/tmp/x03a84ed9b144e3/R/credentials
        /ocpu/tmp/x03a84ed9b144e3/R/get_acoustic_detections
        /ocpu/tmp/x03a84ed9b144e3/stdout
        /ocpu/tmp/x03a84ed9b144e3/source
        /ocpu/tmp/x03a84ed9b144e3/console
        /ocpu/tmp/x03a84ed9b144e3/info
        /ocpu/tmp/x03a84ed9b144e3/files/DESCRIPTION
  recorded_at: 2025-07-24 08:19:42
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x03a84ed9b144e3/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-07-24 08:19:43 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnQd8FOXaxVeCKCiCclX0HRtdFE1C6L0rgvQqEAKEEDokFLEQ6kqMYFBEQnQ3QaWJZIAE
        IahYUbB
        du9gV5dq46rWhfvqd7Hn0elEUBSHg+b7f/555zjwzu7M7Z3bmnYn0LhMIBKICJY/G
        /4JA4Oge3dvWqo
        +qAoqTQdlAoFS4RFzOBDARTAKTweVgCrgCXAmuAleDqSANTAPTwQwwE8wC
        s0EQXAPmgHRwLcgA14G5Y
        B64HmSC+eAGcCNYAG4CC8HNYBHIAotBNrgF3ApCoOj95oBcsATc
        Bm4Hd4ClYBlYDlaAleBOsArcBVaD
        POCDNWAtWAfyQQFYD+4GG8BGUAg2gXvAveA+sBncDx4A
        D4KHwMPgEbAFPAoeA1vBNvA4eAI8WSIut0W
        JuP[...]
