http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-04-24","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x055b95ea2caed6
      location: http://opencpu.lifewatch.be/ocpu/tmp/x055b95ea2caed6/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:35 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 7462
          }
        ]
  recorded_at: 2025-09-10 10:31:35
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2015-04-24","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0ea80c62daa930
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0ea80c62daa930/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:39 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0ea80c62daa930/R/.val
        /ocpu/tmp/x0ea80c62daa930/R/credentials
        /ocpu/tmp/x0ea80c62daa930/R/get_acoustic_detections_page
        /ocpu/tmp/x0ea80c62daa930/stdout
        /ocpu/tmp/x0ea80c62daa930/source
        /ocpu/tmp/x0ea80c62daa930/console
        /ocpu/tmp/x0ea80c62daa930/info
        /ocpu/tmp/x0ea80c62daa930/files/DESCRIPTION
  recorded_at: 2025-09-10 10:31:39
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0ea80c62daa930/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:40 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJws3XmgbXOhwPF77kXhhkqmtTn7nlPOmtciMmWsJJnHa56jkHkeU24lzhqcckM4QpN09y3N
        IRFxuqa
        SNNFAxldKmXsf1v7j+35vr733sX+/9fus331/vfnLzZo1a86spZb2PzVr1tK777Z1
        tqFXb/diZb1l1q
        w11x454NYlukf36j7drwf0K/1aD+o3eki/1cP6nX6vP+hx/Vcv6EW9pJf1
        il7VayMH/GyOltLSWkZv0
        pu1rJbT8pqrt2gFraiV9Fa9TW/XynqHVtGqWk2raw0F6mnNkQNu
        87nbfO42n7tt1ZGDvretPqzttL12
        0I7aSbtoV+2mk3SyTtGpOk2n6wydqbN0ts7RufqEztMn
        9SmdrwX6tD6jz+oCfU4X6iJNqtWUvqAv6ku
        6Ut[...]
