http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2015-04","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x08fe6b428bbfb7
      location: http://opencpu.lifewatch.be/ocpu/tmp/x08fe6b428bbfb7/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:27 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 7852
          }
        ]
  recorded_at: 2025-09-10 10:31:27
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2015-04","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0880b3fbcb933f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0880b3fbcb933f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:31 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0880b3fbcb933f/R/.val
        /ocpu/tmp/x0880b3fbcb933f/R/credentials
        /ocpu/tmp/x0880b3fbcb933f/R/get_acoustic_detections_page
        /ocpu/tmp/x0880b3fbcb933f/stdout
        /ocpu/tmp/x0880b3fbcb933f/source
        /ocpu/tmp/x0880b3fbcb933f/console
        /ocpu/tmp/x0880b3fbcb933f/info
        /ocpu/tmp/x0880b3fbcb933f/files/DESCRIPTION
  recorded_at: 2025-09-10 10:31:31
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0880b3fbcb933f/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:32 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJws3XmAbnP9wHFzr6W4tNcv52GeO5Pm7OeQXUhFsmcv66AiZOlmS5JKG3OWO3KzlNGquN1z
        LVcpZNy
        rmK5dsoSErFlSEvV7MfPH+/c0M89cz/d7Pq/vd/777b3qCiusMHuFFVfyf7XCCivt
        sfs22ca+epsv3q
        7VV1hh7YsHDrhuuW7WLbpVt+l23aE7dZf+qLv1J92je3Wf7tdj+pde0r/1
        sv6jV/Sq/jtwwORsraiVt
        LJW0Rv0Rq2q1TRHq2sNvUlv1lv0Vr1Nb9c79E69S/+nd2tNBepp
        rYEDrve+673veu+7/l0Do+d/Sp/W
        oTpMn9HhOkJH6rM6SkfrGB2rz2mePq/jdLxO0Ik6SV/Q
        yfqiTtGXdKq+rNP0FX1VX9Pp+rq+oW/qW/q
        2zt[...]
