http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":"2017","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x051dfce406b304
      location: http://opencpu.lifewatch.be/ocpu/tmp/x051dfce406b304/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:20 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 1696
          }
        ]
  recorded_at: 2025-09-10 10:31:19
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":"2017","end_date":null,"acoustic_tag_id":null,"animal_project_code":"2014_demer","scientific_name":null,"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x06033e8e477658
      location: http://opencpu.lifewatch.be/ocpu/tmp/x06033e8e477658/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:23 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x06033e8e477658/R/.val
        /ocpu/tmp/x06033e8e477658/R/credentials
        /ocpu/tmp/x06033e8e477658/R/get_acoustic_detections_page
        /ocpu/tmp/x06033e8e477658/stdout
        /ocpu/tmp/x06033e8e477658/source
        /ocpu/tmp/x06033e8e477658/console
        /ocpu/tmp/x06033e8e477658/info
        /ocpu/tmp/x06033e8e477658/files/DESCRIPTION
  recorded_at: 2025-09-10 10:31:23
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x06033e8e477658/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:31:24 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJztnQd8FWX6/a8EUVQExIK+Y6OLoiQECL0TRXoLIBAChBA6JBSxELpg5BoVgRC9k6B0JAME
        hKBiRbG
        uXeyKYgPL2lBX/yf3POiq6293/euCenY/3z3vc+aZyZ2bOXNn3rlZ+hwTCoViQqWP
        xP+CUOjIXj3b10
        lAVQnFiaBcKFTGLxV/3W1gPSgEQan4G58Fz4HnwQul4vMngklgMpgCLgVT
        wWXgcnAFuBJMA1lgOpgBZ
        oJZYDaYA+aCq8A8MB9cDbLBNWABCINrQQ64DlwPbgALwY1gEVgM
        loBcsBTkgZvAzSACsD/5+aAALAO3
        gFvBcrACrASrwGqwBqwF6wDeg3y8B/l4D/LxHuRvABvB
        JlAENoMt4HawFWwDxWA7uAPcCe4CO8Dd4B5
        wL7[...]
