http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x061e492a7ecfe7
      location: http://opencpu.lifewatch.be/ocpu/tmp/x061e492a7ecfe7/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:33:00 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 20367
          }
        ]
  recorded_at: 2025-09-10 10:33:00
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":"Torpedo
        torpedo","acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x07ccb76311f455
      location: http://opencpu.lifewatch.be/ocpu/tmp/x07ccb76311f455/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:33:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x07ccb76311f455/R/.val
        /ocpu/tmp/x07ccb76311f455/R/credentials
        /ocpu/tmp/x07ccb76311f455/R/get_acoustic_detections_page
        /ocpu/tmp/x07ccb76311f455/stdout
        /ocpu/tmp/x07ccb76311f455/source
        /ocpu/tmp/x07ccb76311f455/console
        /ocpu/tmp/x07ccb76311f455/info
        /ocpu/tmp/x07ccb76311f455/files/DESCRIPTION
  recorded_at: 2025-09-10 10:33:01
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x07ccb76311f455/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:33:02 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwU13eYI/lVLuDlknPOOWfwAiZnsM3Clko1YGyTRqoaVUslT6tRt0iGtbvJi0kOJIPJGVS5
        VCUDW22
        iwRhjMthk8Aw5M+T77h/ffR7DfXDrd773nJonv8599933qve92qv7f+W++179iZ/x
        +Pf/cP/pTf2HN5
        PXv+++8Bsf86In/JP8m/yH/Lf832Ne9Cn/T15dXkNe8zEvevDz5emPedFn
        v6G8kbyxvIm8qbyZvLm8l
        byNvJ28q7y3vI+8r7yfvL98gHygPEbulw+SD5YPkcfKh8qHyYfL
        R8hHykfJR8vHyMfKx8nHyyfIJ8on
        ySfL4+Tx8gT5FPlUeVBCmUokT5Iny1Pks+Sz5XPkc+Wm
        zGQu8WNeNL+WF8rPykvlZfIb8lvyO/L78of
        yR/[...]
