http_interactions:
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/json/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":["Raja
        asterias","Torpedo torpedo"],"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null,"count":true}'
  response:
    status: 201
    headers:
      x-ocpu-session: x01f4f98f946990
      location: http://opencpu.lifewatch.be/ocpu/tmp/x01f4f98f946990/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:33:04 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/json
    body:
      string: |
        [
          {
            "count": 21349
          }
        ]
  recorded_at: 2025-09-10 10:33:04
- request:
    method: POST
    uri: https://opencpu.lifewatch.be/library/etnservice/R/get_acoustic_detections_page/
    body:
      string: '{"credentials":{"username":"<<<my_userid>>>","password":"<<<my_pwd>>>"},"next_id_pk":0,"page_size":100000,"start_date":null,"end_date":null,"acoustic_tag_id":null,"animal_project_code":null,"scientific_name":["Raja
        asterias","Torpedo torpedo"],"acoustic_project_code":null,"deployment_id":null,"receiver_id":null,"station_name":null}'
  response:
    status: 201
    headers:
      x-ocpu-session: x0a6a58ad01402f
      location: http://opencpu.lifewatch.be/ocpu/tmp/x0a6a58ad01402f/
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:33:06 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: text/plain; charset=utf-8
    body:
      string: |
        /ocpu/tmp/x0a6a58ad01402f/R/.val
        /ocpu/tmp/x0a6a58ad01402f/R/credentials
        /ocpu/tmp/x0a6a58ad01402f/R/get_acoustic_detections_page
        /ocpu/tmp/x0a6a58ad01402f/R/scientific_name
        /ocpu/tmp/x0a6a58ad01402f/stdout
        /ocpu/tmp/x0a6a58ad01402f/source
        /ocpu/tmp/x0a6a58ad01402f/console
        /ocpu/tmp/x0a6a58ad01402f/info
        /ocpu/tmp/x0a6a58ad01402f/files/DESCRIPTION
  recorded_at: 2025-09-10 10:33:06
- request:
    method: GET
    uri: https://opencpu.lifewatch.be/tmp/x0a6a58ad01402f/R/.val/rds
  response:
    status: 200
    headers:
      content-disposition: attachment;filename=.val.rds
      x-ocpu-r: R version 4.5.0 (2025-04-11)
      x-ocpu-locale: C.UTF-8
      x-ocpu-time: 2025-09-10 10:33:07 UTC
      x-ocpu-version: 2.2.14
      x-ocpu-server: rApache
      content-type: application/r-rds
    body:
      raw_gzip: |-
        eJwU13+8bHs9P/BL9UUoKT8iOqGIbu6miCShH7fumkm/f5+ZtfasPbPmnD37zN5D+nFrbyS3
        9LuUElG
        kNOv3mrWmdNe+RT9UKiKUlB/3HFES3RPh+7x/vDwedXPPzOf9er7fcx536yuuuOIW
        V9zyVv6vXHHFrR
        79qAddeR//6fb+wx3ka6+44pGTq97z4H+XL8gX5Uvyf1e95yFfLreS/ydf
        cdV7rrkgz7rqPU+8rXyd3
        E6+Xm4vd5BvkG+Wb5E7yXfK3eV75fvkHnKl3FO+X66SHfkB+UG5
        l9xbfkh+WO4jPyI/KveVH5P7yY/L
        /eUn5AHyk/JT8tPyQHmQPFgeIg+Va2QoD5efkcfK4+Tx
        8gR5ojxJnixnZSRjCa96z/iX5Dnyy/Jc+RW
        5Tp[...]
